force-app/main/default/flows/CN_Citizen_Status_banner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>showToast</description>
        <name>showToast</name>
        <label>showToast</label>
        <locationX>977</locationX>
        <locationY>80</locationY>
        <actionName>c:ToastAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Not a Cherokee Citizen</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Alert!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>check status</description>
        <name>Check_status</name>
        <label>Check status</label>
        <locationX>609</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>IS_Citizen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizen_is_inactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_rrr_request.DOD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_rrr_request.If_CN_Citizen__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_rrr_request.Is_Void__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showToast</targetReference>
            </connector>
            <label>Citizen is inactive</label>
        </rules>
    </decisions>
    <description>CN Citizen Status banner</description>
    <interviewLabel>CN Citizen Status banner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CN Citizen Status banner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>get Citizen</description>
        <name>get_rrr_request</name>
        <label>get Citizen</label>
        <locationX>465</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>1173</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Address_update</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(211, 52, 52); font-size: 14px;&quot;&gt;Not a Cherokee Citizen&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IS_Citizen</name>
        <label>IS Citizen</label>
        <locationX>623</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Citizen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(37, 102, 51); font-size: 14px;&quot;&gt;Cherokee Citizen&lt;/b&gt;&lt;b style=&quot;color: rgb(57, 131, 47); font-size: 14px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>get_rrr_request</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
