force-app/main/default/flows/Contact_or_Case_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Testing Status Updated to positive on Active</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Testing Status Updated to Rest and Active</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Testing Status Updated to Rest and Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Positive on External Case</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Test Status Updated to positive on Inactive</label>
        </rules>
    </decisions>
    <description>Contact or Case? update. Added Check for test generic &amp; process EHR fields. Added custom setting check.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Daily_Followup_Task__mdt.Daily_Followup_Task.AdminID__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_8_A1_8293895375</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Daily_Followup_Task__mdt.Daily_Followup_Task.AdminID__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_12_A1_4803087449</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_0259424346</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$CustomMetadata.Daily_Followup_Task__mdt.Daily_Followup_Task.AdminID__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_15_A1_7817863066</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.Daily_Followup_Task__mdt.Daily_Followup_Task.AdminID__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_7110990262</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_7000384580</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_4706701688</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_8_A1_0051090686</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].RecordType.DeveloperName == &apos;ERM_Patient&apos;
&amp;&amp;
[Account].Bypass_Cerner_Queue__c  == false
&amp;&amp;
ispickval([Account].Case_Status__c, &apos;Active&apos; )
&amp;&amp;
((
ISNEW()
&amp;&amp;
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; No Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive&quot;)
)
)
||
(
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; No Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test &amp; Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test &amp; No Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive&quot;))
)))
&amp;&amp;
(
	(
	ispickval([Account].Do_you_want_to_be_followed__c,&apos;Yes&apos;)
	||
	ispickval([Account].Test_Site_Type_1st__c,&apos;Cherokee Nation Health Services&apos;) 
	)
	||
	(
	[Account].Created_by_Cerner__c 
        ||
        [Account].Updated_by_Cerner__c 
	)
)
&amp;&amp;
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} == &apos;ERM_Patient&apos;
&amp;&amp;
{!myVariable_current.Bypass_Cerner_Queue__c}  == false
&amp;&amp;
ispickval({!myVariable_current.Case_Status__c}, &apos;Active&apos; )
&amp;&amp;
((
ISNEW()
&amp;&amp;
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; No Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive&quot;)
)
)
||
(
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; No Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test &amp; Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test &amp; No Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive&quot;))
)))
&amp;&amp;
(
	(
	ispickval({!myVariable_current.Do_you_want_to_be_followed__c},&apos;Yes&apos;)
	||
	ispickval({!myVariable_current.Test_Site_Type_1st__c},&apos;Cherokee Nation Health Services&apos;) 
	)
	||
	(
	{!myVariable_current.Created_by_Cerner__c} 
        ||
        {!myVariable_current.Updated_by_Cerner__c} 
	)
)
&amp;&amp;
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].RecordType.DeveloperName == &apos;ERM_Patient&apos;
&amp;&amp;
ispickval([Account].Case_Status__c, &apos;Active&apos; )
&amp;&amp;
[Account].Bypass_Cerner_Queue__c  == false
&amp;&amp;
(
ISNEW()
||
(
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Exposed&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Exposed - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Exposed - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Negative - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Negative - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Unknown&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Exposed&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Exposed - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Exposed - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Negative - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Negative - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Unknown&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;&quot;))
)))
&amp;&amp;
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} == &apos;ERM_Patient&apos;
&amp;&amp;
ispickval({!myVariable_current.Case_Status__c}, &apos;Active&apos; )
&amp;&amp;
{!myVariable_current.Bypass_Cerner_Queue__c}  == false
&amp;&amp;
(
ISNEW()
||
(
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Exposed&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Exposed - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Exposed - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Negative - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Negative - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Unknown&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Exposed&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Exposed - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Exposed - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Negative - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Negative - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Unknown&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;&quot;))
)))
&amp;&amp;
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].RecordType.DeveloperName == &apos;ERM_Patient&apos;
&amp;&amp;
ispickval([Account].Case_Status__c, &apos;Inactive&apos; )
&amp;&amp;
(
ISNEW()
||
(
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Exposed&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Exposed - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Exposed - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Negative - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Negative - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Unknown&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Exposed&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Exposed - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Exposed - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Negative - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Negative - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Unknown&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;&quot;))
)))
&amp;&amp;
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} == &apos;ERM_Patient&apos;
&amp;&amp;
ispickval({!myVariable_current.Case_Status__c}, &apos;Inactive&apos; )
&amp;&amp;
(
ISNEW()
||
(
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Exposed&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Exposed - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Exposed - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Negative - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Negative - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Unknown&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Exposed&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Exposed - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Exposed - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Negative - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Negative - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Unknown&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;&quot;))
)))
&amp;&amp;
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].RecordType.DeveloperName == &apos;ERM_Patient&apos;
&amp;&amp;
[Account].Bypass_Cerner_Queue__c  == false
&amp;&amp;
ispickval([Account].Case_Status__c, &apos;Active&apos; )
&amp;&amp;
((
ISNEW()
&amp;&amp;
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; No Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive&quot;)
)
)
||
(
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; No Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test &amp; Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test &amp; No Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive&quot;))
)))
&amp;&amp;
(
not(ispickval([Account].Do_you_want_to_be_followed__c,&apos;Yes&apos;))
&amp;&amp;
not(ispickval([Account].Test_Site_Type_1st__c,&apos;Cherokee Nation Health Services&apos;) )
)
&amp;&amp;
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} == &apos;ERM_Patient&apos;
&amp;&amp;
{!myVariable_current.Bypass_Cerner_Queue__c}  == false
&amp;&amp;
ispickval({!myVariable_current.Case_Status__c}, &apos;Active&apos; )
&amp;&amp;
((
ISNEW()
&amp;&amp;
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; No Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive&quot;)
)
)
||
(
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; No Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test &amp; Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test &amp; No Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive&quot;))
)))
&amp;&amp;
(
not(ispickval({!myVariable_current.Do_you_want_to_be_followed__c},&apos;Yes&apos;))
&amp;&amp;
not(ispickval({!myVariable_current.Test_Site_Type_1st__c},&apos;Cherokee Nation Health Services&apos;) )
)
&amp;&amp;
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].RecordType.DeveloperName == &apos;ERM_Patient&apos;
&amp;&amp;
ispickval([Account].Case_Status__c, &apos;Inactive&apos; )
&amp;&amp;
((
ISNEW()
&amp;&amp;
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; No Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive&quot;)
)
)
||
(
OR(
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Symptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive - Asymptomatic&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test &amp; No Symptoms&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive Test&quot;),
ispickval([Account].HealthCloudGA__Testing_Status__pc,&quot;Positive&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test &amp; Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test &amp; No Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive Test&quot;)),
NOT(ISPICKVAL(PRIORVALUE([Account].HealthCloudGA__Testing_Status__pc), &quot;Positive&quot;))
)))
&amp;&amp;
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} == &apos;ERM_Patient&apos;
&amp;&amp;
ispickval({!myVariable_current.Case_Status__c}, &apos;Inactive&apos; )
&amp;&amp;
((
ISNEW()
&amp;&amp;
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; No Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive&quot;)
)
)
||
(
OR(
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Symptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive - Asymptomatic&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test &amp; No Symptoms&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive Test&quot;),
ispickval({!myVariable_current.HealthCloudGA__Testing_Status__pc},&quot;Positive&quot;)
)
&amp;&amp;
AND(
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive - Symptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive - Asymptomatic&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test &amp; Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test &amp; No Symptoms&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive Test&quot;)),
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.HealthCloudGA__Testing_Status__pc}), &quot;Positive&quot;))
)))
&amp;&amp;
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <interviewLabel>Contact_or_Case_update-19_InterviewLabel</interviewLabel>
    <label>Contact or Case update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Create handover task</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_7110990262</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Case_Investigation_Team_Queue</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G3t000003nmABEAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <elementReference>myVariable_current.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123t000000P4z5AAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Take case ownership for the First followup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Accreditation;AssessmentIndicatorDefinition;AssessmentTask;AssessmentTaskContentDocument;AssessmentTaskDefinition;Asset;AssetRelationship;AuthLocationAccessSchedule;Award;BoardCertification;BusinessLicense;BusinessLicenseApplication;BusinessMilestone;BusinessProfile;Campaign;CareBarrier;CareBarrierDeterminant;CareBarrierType;CareDeterminant;CareDeterminantType;CareDiagnosis;CareInterventionType;CareMetricTarget;CareObservation;CarePgmProvHealthcareProvider;CarePreauth;CarePreauthItem;CareProgram;CareProgramCampaign;CareProgramEligibilityRule;CareProgramEnrollee;CareProgramEnrolleeProduct;CareProgramEnrollmentCard;CareProgramGoal;CareProgramProduct;CareProgramProvider;CareProgramTeamMember;CareProviderAdverseAction;CareProviderFacilitySpecialty;CareProviderSearchableField;CareRegisteredDevice;CareRequest;CareRequestDrug;CareRequestExtension;CareRequestItem;CareSpecialty;CareTaxonomy;Case;CommSubscriptionConsent;ContactEncounter;ContactEncounterParticipant;ContactRequest;Contract;CoverageBenefit;CoverageBenefitItem;DelegatedAccount;DocumentChecklistItem;EnrollmentEligibilityCriteria;Examination;HealthCloudGA__CandidatePatient__c;HealthCloudGA__CarePlanGoal__c;HealthCloudGA__CarePlanProblem__c;HealthCloudGA__EHRProcedurePerformer__c;HealthCloudGA__EHRProcedureRequest__c;HealthCloudGA__EHRProcedure__c;HealthCloudGA__EhrAllergyIntolerance__c;HealthCloudGA__EhrCarePlanActivity__c;HealthCloudGA__EhrCarePlanConcern__c;HealthCloudGA__EhrCarePlanGoal__c;HealthCloudGA__EhrCarePlanParticipant__c;HealthCloudGA__EhrCarePlan__c;HealthCloudGA__EhrConditionRelatedItem__c;HealthCloudGA__EhrCondition__c;HealthCloudGA__EhrDevice__c;HealthCloudGA__EhrDosageInstruction__c;HealthCloudGA__EhrEncounterAccomodation__c;HealthCloudGA__EhrEncounterParticipant__c;HealthCloudGA__EhrEncounter__c;HealthCloudGA__EhrImmunizationReaction__c;HealthCloudGA__EhrImmunization__c;HealthCloudGA__EhrMedicationPrescription__c;HealthCloudGA__EhrMedicationStatement__c;HealthCloudGA__EhrObservation__c;HealthCloudGA__EhrPatientCareProvider__c;HealthCloudGA__EhrPatientContact__c;HealthCloudGA__EhrPatient__c;HealthCloudGA__EhrPractitionerIdentity__c;HealthCloudGA__EhrPractitionerQualification__c;HealthCloudGA__EhrPractitionerRole__c;HealthCloudGA__EhrPractitioner__c;HealthCloudGA__EhrRelatedObservation__c;HealthCloudGA__EhrRelatedPerson__c;HealthCloudGA__EhrVaccinationProtocol__c;HealthCloudGA__EhrVirtualDeviceChannel__c;HealthCloudGA__EhrVirtualDevice__c;HealthCloudGA__ProgramPatientAffiliation__c;HealthCloudGA__ProgramPatientSummary__c;HealthCloudGA__Program__c;HealthCloudGA__Provider__c;HealthcareFacilityNetwork;HealthcarePayerNetwork;HealthcarePractitionerFacility;HealthcareProvider;HealthcareProviderNpi;HealthcareProviderSpecialty;HealthcareProviderTaxonomy;IdentityDocument;InspectionAssessmentInd;InspectionType;ListEmail;LiveAgentSession;LiveChatTranscript;Location;MemberPlan;Opportunity;Order;PartyConsent;PersonExamination;PersonLifeEvent;PlanBenefit;PlanBenefitItem;PreliminaryApplicationRef;Product2;ProductRequest;ProductRequestLineItem;PublicComplaint;PublicSector__EmergencyRequest__c;PurchaserPlan;ReceivedDocument;RegAuthorizationTypeProduct;RegulatoryAuthority;RegulatoryCode;RegulatoryCodeAssessmentInd;RegulatoryCodeViolation;ServiceResource;Shift;Solution;SurveyQuestion;TrainingCourseParticipant;TrnCourse;Unsubscribe__c;Veteran_Service__c;ViolationEnforcementAction;Visit;VisitedParty;VolunteerProject;WorkOrder;WorkOrderLineItem;maps__AdvRouteContinuousTravel__c;maps__AdvRouteDataSet__c;maps__AdvRouteDefaultValue__c;maps__AdvRouteDefaultValuesGrouping__c;maps__AdvRouteOffDays__c;maps__AdvRouteOutputType__c;maps__AdvRoutePriority__c;maps__AdvRoutePromotionalPeriodConfiguration__c;maps__AdvRouteQueryFilterGrouping__c;maps__AdvRouteQueryFilter__c;maps__AdvRouteRoutableObject__c;maps__AdvRouteSettings__c;maps__AdvRouteTemplateUser__c;maps__AdvRouteTemplate__c;maps__AdvRouteVisitWindows__c;maps__AdvRouteWaypoint__c;maps__AdvRoute__c;maps__LiveAssetDailySummaryEvent__c;maps__LiveAssetDailySummary__c;maps__LiveAsset__c;maps__LiveAsyncError__c;maps__LiveDailyDriveTrip__c;maps__LiveDriverAssignment__c;maps__LiveDriver__c;maps__LiveEventAssociation__c;maps__LiveEvent__c;maps__LiveIoTDevice__c;maps__LiveSummaryStateMileage__c;maps__LiveSummaryStopRelationshipConfig__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Contact</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact or Case?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_or_Case_new__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Converted Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Converted_Date__c</field>
            <value>
                <elementReference>formula_13_myRule_12_A1_4803087449</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Create Patient Task</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Create_Patient_Task__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Group</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>HealthCloudGA__StatusGroup__pc</field>
            <value>
                <stringValue>Monitored</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is this a rapid CI mode</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_this_a_rapid_CI_mode__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage__c</field>
            <value>
                <stringValue>Contact Tracing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Verify test result</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Verify_test_result__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>verify task created</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>verify_task_created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Contact</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Person Account Owner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_Tracer__c</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact or Case?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_or_Case_new__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Converted Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Converted_Date__c</field>
            <value>
                <elementReference>formula_16_myRule_15_A1_0259424346</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Create Patient Task</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Create_Patient_Task__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is this a rapid CI mode</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_this_a_rapid_CI_mode__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_17_myRule_15_A1_7817863066</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage__c</field>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Verify test result</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Verify_test_result__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>verify task created</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>verify_task_created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Case</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact or Case?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_or_Case_new__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Converted Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Converted_Date__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_7000384580</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Group</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>HealthCloudGA__StatusGroup__pc</field>
            <value>
                <stringValue>PositiveTest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage__c</field>
            <value>
                <stringValue>Case - In CI Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Case</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact or Case?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_or_Case_new__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Converted Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Converted_Date__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_4706701688</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>update Verify on Account</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>CE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Verify test result</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Verify_test_result__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Case</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Last Person Account Owner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_Tracer__c</field>
            <value>
                <elementReference>myVariable_current.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Contact or Case?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Contact_or_Case_new__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Converted Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Converted_Date__c</field>
            <value>
                <elementReference>formula_9_myRule_8_A1_0051090686</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_10_myRule_8_A1_8293895375</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage__c</field>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
