force-app/main/default/flows/Contact_Collection_with_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Contact_Encounter</name>
        <label>Create Contact Encounter</label>
        <locationX>1661</locationX>
        <locationY>949</locationY>
        <actionName>HealthCloudGA__HcCreateContactEncounterAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>encounterDuration</name>
            <value>
                <elementReference>Encounter_Duration_in_minutes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>estimatedParticipantCount</name>
            <value>
                <elementReference>Estimated_Number_of_Participants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationId</name>
            <value>
                <elementReference>vEncounterLocationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Encounter_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>Encounter_Start_Time</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactEncounterId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>1662</locationX>
        <locationY>1101</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Group_Or_Solo_Encounter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>contactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant_0</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>2420</locationX>
        <locationY>1736</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_More</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>contactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>Create_Account_for_Group</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant_0_0</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>1238</locationX>
        <locationY>1378</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_contact_id_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>contactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patientId</name>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant_Existing</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>1470</locationX>
        <locationY>1524</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>contactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varExistingParticipant</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Contact_Encounter_Participant_Existing_Group</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>2219</locationX>
        <locationY>1734</locationY>
        <actionName>HealthCloudGA__HcContactEncounterParticipantController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_More</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactEncounterId</name>
            <value>
                <elementReference>contactEncounterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>varExistingParticipant</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>both selected</description>
        <name>both_selected_error</name>
        <label>both selected</label>
        <locationX>1050</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>both_selected_error_message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>create_new_contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistingParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Participant_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>both selected</description>
        <name>both_selected_error_0</name>
        <label>both selected</label>
        <locationX>1534</locationX>
        <locationY>1973</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>both_selected_error_message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>create_new_contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistingParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Participant_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Existing participant to blank</description>
        <name>lookup_value_to_blank</name>
        <label>lookup value to blank</label>
        <locationX>16</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>varExistingParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>none selected</description>
        <name>none_selected</name>
        <label>none selected</label>
        <locationX>936</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>none_error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Participant_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>none selected</description>
        <name>none_selected_0</name>
        <label>none selected</label>
        <locationX>1444</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>none_error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Participant_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Encounter_Location_Name</name>
        <label>Set Encounter Location Name</label>
        <locationX>2094</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>vEncounter_Location_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encounter_Location_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_Name_To_Encounter_Name</name>
        <label>Set Location Name To Encounter Name</label>
        <locationX>2099</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>vEncounter_Location_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encounter_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_More</name>
        <label>Set More</label>
        <locationX>2405</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>more</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>more</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistingParticipant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Participant_Lead_Address.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Participant_Lead_Address.postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Participant_Lead_Address.province</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Participant_Lead_Address.street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>create_new_contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_you_want_to_more_participants</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>addNewParticipantChoice</name>
        <choiceText>Add New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>addNewParticipant</stringValue>
        </value>
    </choices>
    <choices>
        <name>BlankChoice</name>
        <choiceText>{!null}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>null</elementReference>
        </value>
    </choices>
    <choices>
        <name>ContactRelation</name>
        <choiceText>{!Contact_Relation}&lt;p&gt; &lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> </stringValue>
        </value>
    </choices>
    <choices>
        <name>DeclinedtoSpecify</name>
        <choiceText>Declined to Specify</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Event</name>
        <choiceText>Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>existingParticipantChoice</name>
        <choiceText>Select existing case/contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>selectExistingParticipant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Group_Encounter</name>
        <choiceText>As part of a group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group_Encounter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>One_To_One</name>
        <choiceText>As an individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One_To_One</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChoice</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Existing</name>
        <label>Check Existing</label>
        <locationX>1459</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Existing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingParticipant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExistingParticipant</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Encounter_Participant_Existing</targetReference>
            </connector>
            <label>Existing Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Participant_Method</name>
        <label>Check Participant Method</label>
        <locationX>1187</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Encounter_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add New</defaultConnectorLabel>
        <rules>
            <name>blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingParticipant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_a_new_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>none_selected</targetReference>
            </connector>
            <label>blank</label>
        </rules>
        <rules>
            <name>both_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingParticipant</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_a_new_Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>both_selected_error</targetReference>
            </connector>
            <label>both selected</label>
        </rules>
        <rules>
            <name>Select_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_a_new_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Encounter_Address_Available</targetReference>
            </connector>
            <label>Select Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Participant_Method_0</name>
        <label>Check Participant Method</label>
        <locationX>1775</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>Add_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add New</defaultConnectorLabel>
        <rules>
            <name>blank_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingParticipant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_new_Contact_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>none_selected_0</targetReference>
            </connector>
            <label>blank</label>
        </rules>
        <rules>
            <name>both_selected_group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingParticipant</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_new_Contact_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>both_selected_error_0</targetReference>
            </connector>
            <label>both_selected</label>
        </rules>
        <rules>
            <name>Select_Existing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_new_Contact_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Encounter_Participant_Existing_Group</targetReference>
            </connector>
            <label>Select Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Adding_Participants</name>
        <label>Continue Adding Participants</label>
        <locationX>1666</locationX>
        <locationY>1677</locationY>
        <defaultConnector>
            <targetReference>Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_more_participants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Participant_Screen_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Or_Solo_Encounter</name>
        <label>Is Group Or Solo Encounter</label>
        <locationX>1652</locationX>
        <locationY>1252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Encounter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Group_Encounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_want_to_more_participants</targetReference>
            </connector>
            <label>Group Encounter</label>
        </rules>
        <rules>
            <name>Is_Solo_Encounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>One_To_One</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing</targetReference>
            </connector>
            <label>Solo Encounter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Or_Solo_Encounter_0</name>
        <label>Is Group Or Solo Encounter</label>
        <locationX>929</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Group_Encounter_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Group_Encounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Encounter_Address_Available</targetReference>
            </connector>
            <label>Group Encounter</label>
        </rules>
        <rules>
            <name>Is_Solo_Encounter_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>One_To_One</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Participant_Screen</targetReference>
            </connector>
            <label>Solo Encounter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Encounter_Address_Available</name>
        <label>Is Encounter Address Available</label>
        <locationX>1671</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Encounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Not Available</defaultConnectorLabel>
        <rules>
            <name>Encounter_Address_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Address.street</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.city</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.province</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Encounter_Address.postalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Location_Name_Entered</targetReference>
            </connector>
            <label>Address Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_Name_Entered</name>
        <label>Is Location Name Entered</label>
        <locationX>1842</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Set_Encounter_Location_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entered</defaultConnectorLabel>
        <rules>
            <name>Not_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Encounter_Location_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Location_Name_To_Encounter_Name</targetReference>
            </connector>
            <label>Not Entered</label>
        </rules>
    </decisions>
    <description>Generates a Person Account record as a result instead of Lead record</description>
    <dynamicChoiceSets>
        <name>Contact_Relation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Relation__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Contact Collection Custom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Collection with Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>1239</locationX>
        <locationY>1160</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Relation__c</field>
            <value>
                <elementReference>Contact_Relation_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Individual_First_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__pc</field>
            <value>
                <elementReference>Gender_p_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Individual_Last_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Case_ID__c</field>
            <value>
                <elementReference>Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Lead_Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonLeadSource</field>
            <value>
                <stringValue>Contact Tracing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>Lead_Address_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>Lead_Address_0.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>Lead_Address_0.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>Lead_Address_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>Lead_Address_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_t_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123t000000P4yxAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_do_you_think_you_were_exposed__c</field>
            <value>
                <elementReference>Encounter_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_for_Group</name>
        <label>Create Account for Group</label>
        <locationX>2415</locationX>
        <locationY>2133</locationY>
        <connector>
            <targetReference>get_contact_id</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Relation__c</field>
            <value>
                <elementReference>Contact_Relation_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__pc</field>
            <value>
                <elementReference>Gender_p2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Case_ID__c</field>
            <value>
                <elementReference>Contact_ID_group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Lead_Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonLeadSource</field>
            <value>
                <stringValue>Contact Tracing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>Participant_Lead_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>Participant_Lead_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>Participant_Lead_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>Participant_Lead_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>Participant_Lead_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_t2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123t000000P4yxAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_do_you_think_you_were_exposed__c</field>
            <value>
                <elementReference>Encounter_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Encounter_Location_Address</name>
        <label>Create Encounter Location Address</label>
        <locationX>2213</locationX>
        <locationY>949</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Encounter_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Encounter_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vEncounterLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Encounter_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Encounter_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Encounter_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Address</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Life Event</description>
        <name>Create_Life_Event_1</name>
        <label>Create Life Event</label>
        <locationX>2583</locationX>
        <locationY>1859</locationY>
        <inputAssignments>
            <field>EventDate</field>
            <value>
                <elementReference>Event_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventDescription</field>
            <value>
                <elementReference>Event_Description_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType</field>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDescription</field>
            <value>
                <elementReference>Expiration_Description_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPersonId</field>
            <value>
                <elementReference>get_contact_id.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Life Event</description>
        <name>Create_Life_Event_1_0</name>
        <label>Create Life Event</label>
        <locationX>1011</locationX>
        <locationY>1711</locationY>
        <inputAssignments>
            <field>EventDate</field>
            <value>
                <elementReference>Event_Date_1_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventDescription</field>
            <value>
                <elementReference>Event_Description_1_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType</field>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date_1_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDescription</field>
            <value>
                <elementReference>Expiration_Description_1_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPersonId</field>
            <value>
                <elementReference>get_contact_id_0.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Location</name>
        <label>Create Location</label>
        <locationX>2205</locationX>
        <locationY>675</locationY>
        <assignRecordIdToReference>vEncounterLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Encounter_Location_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationType</field>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vEncounter_Location_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_contact_Id</name>
        <label>Fetch contact Id</label>
        <locationX>176</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Task_Followup_Queue_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>personContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>591</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encounter_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PatientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_contact_id</name>
        <label>get contact id</label>
        <locationX>2586</locationX>
        <locationY>2140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Account_for_Group</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact_id_0</name>
        <label>get contact id</label>
        <locationX>1030</locationX>
        <locationY>1384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Task_Followup_Queue_Metadata</name>
        <label>Get Patient Task Followup Queue Metadata</label>
        <locationX>362</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Patient_Task_Assignment_Queue__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__Queue_Dev_Name__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>473</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Task_Followup_Queue_Metadata.HealthCloudGA__Queue_Dev_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Participant</name>
        <label>Add Participant</label>
        <locationX>1808</locationX>
        <locationY>2221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account_for_Group</targetReference>
        </connector>
        <fields>
            <name>IndividualDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Contact Participant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;First Name cannot exceed 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Lead_FirstName}, &quot;^.{0,40}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Last Name cannot exceed 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Lead_LastName}, &quot;^.{0,40}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Participant_Lead_Age</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Age cannot exceed 999&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX(Text({!Participant_Lead_Age}), &quot;^\\d{0,3}?$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gender_p2</name>
            <choiceReferences>LeadGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_t2</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid phone number as XXX-XXX-XXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Phone_t2},&quot;^((\\+1)?\\-?\\s?(\\d{3})\\-?\\s?\\d{3}\\s?\\-?\\d{4})?$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_Email_2</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Lead_Email_2},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Relation_1</name>
            <choiceReferences>Contact_Relation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Relation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_ID_group</name>
            <dataType>String</dataType>
            <fieldText>Contact ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Contact ID cannot exceed 50 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Contact_ID_group}, &quot;^.{0,50}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Participant_Lead_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Participant_Lead_Address.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>personContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Participant_Lead_Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Participant_Lead_Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Participant_Lead_Address.street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Do_you_want_to_more_participants</name>
        <label>Do you want to add participants</label>
        <locationX>1660</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_Adding_Participants</targetReference>
        </connector>
        <fields>
            <name>Add_more_participants</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to add {!more} participants to the encounter?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Encounter_Details</name>
        <label>Encounter Details</label>
        <locationX>795</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Group_Or_Solo_Encounter_0</targetReference>
        </connector>
        <fields>
            <name>Encounter_More_Details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Provide information about the encounter time and place&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Encounter_Name</name>
            <dataType>String</dataType>
            <fieldText>Encounter Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Encounter_Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Date cannot be in the future&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Encounter_Start_Time} &lt;={!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Encounter_Duration_in_minutes</name>
            <dataType>Number</dataType>
            <fieldText>Encounter duration in minutes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Encounter duration cannot exceed 999,999,999&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX(Text({!Encounter_Duration_in_minutes}), &quot;^\\d{0,9}?$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Encounter_Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Encounter Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Encounter_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Encounter Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>personContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Encounter_Address.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Encounter_Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Encounter_Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Encounter_Address.street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Estimated_Number_of_Participants</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Number of Participants</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Estimated Number of Participants &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;cannot ex&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ceed 999,999,999&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX(Text({!Estimated_Number_of_Participants}), &quot;^\\d{0,9}?$&quot;))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Encounter_Details_0</name>
        <label>Encounter Details</label>
        <locationX>1676</locationX>
        <locationY>251</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Encounter_Address_Available</targetReference>
        </connector>
        <fields>
            <name>Individual_Details_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Contact Participant&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Encounter_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>One_To_One</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Individual_First_Name_0</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;First Name cannot exceed 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Individual_First_Name_0}, &quot;^.{0,40}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Individual_Last_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Last Name cannot exceed 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Individual_Last_Name_0}, &quot;^.{0,40}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_Age_0</name>
            <dataType>Number</dataType>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Age cannot exceed 999&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX(Text({!Lead_Age_0}), &quot;^\\d{0,3}?$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gender_p_0</name>
            <choiceReferences>LeadGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_t_0</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid phone number as XXX-XXX-XXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Phone_t_0},&quot;^((\\+1)?\\-?\\s?(\\d{3})\\-?\\s?\\d{3}\\s?\\-?\\d{4})?$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_Email_1</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Lead_Email_1},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Relation_0_0</name>
            <choiceReferences>Contact_Relation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Relation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_ID</name>
            <dataType>String</dataType>
            <fieldText>Contact ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Contact ID cannot exceed 50 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Contact_ID}, &quot;^.{0,50}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_Address_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>personContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Lead_Address_0.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Lead_Address_0.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Lead_Address_0.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Lead_Address_0.city</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Encounter_Type_Screen</name>
        <label>Encounter Type</label>
        <locationX>693</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encounter_Details</targetReference>
        </connector>
        <fields>
            <name>Patient_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Contact/Case Name: &lt;/b&gt;&lt;b&gt;{!PatientName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Encounter_Type</name>
            <choiceReferences>One_To_One</choiceReferences>
            <choiceReferences>Group_Encounter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did you encounter or interact with the contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Quarantine Life Event Details</description>
        <name>quaratine_event_screen_1</name>
        <label>quaratine event screen 1</label>
        <locationX>2720</locationX>
        <locationY>1912</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Life_Event_1</targetReference>
        </connector>
        <fields>
            <name>QLE_Display_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Quarantine Life Event Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Date_1</name>
            <dataType>DateTime</dataType>
            <fieldText>Event Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Description_1</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Event Description cannot exceed 32000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Event_Description_1}, &quot;^.{0,32000}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expiration_Date_1</name>
            <dataType>DateTime</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please make sure, the expiration date is in the future than the event start date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Expiration_Date_1} &gt; {!Event_Date_1}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expiration_Description_1</name>
            <fieldText>Expiration Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Expiration Description cannot exceed 32000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Expiration_Description_1}, &quot;^.{0,32000}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Quarantine Life Event Details</description>
        <name>quaratine_event_screen_1_0</name>
        <label>quaratine event screen 1</label>
        <locationX>949</locationX>
        <locationY>1547</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Life_Event_1_0</targetReference>
        </connector>
        <fields>
            <name>QLE_Display_1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Quarantine Life Event Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Date_1_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Event Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Description_1_0</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Event Description cannot exceed 32000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Event_Description_1_0}, &quot;^.{0,32000}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expiration_Date_1_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please make sure, the expiration date is in the future than the event start date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Expiration_Date_1_0} &gt; {!Event_Date_1_0}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expiration_Description_1_0</name>
            <fieldText>Expiration Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Expiration Description cannot exceed 32000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Expiration_Description_1_0}, &quot;^.{0,32000}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Participant_Screen</name>
        <label>Select Participant Screen</label>
        <locationX>937</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Participant_Method</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(195, 24, 24);&quot;&gt;{!Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please select a contact if you want to add an existing Contact or tick the checkbox if you want to add a new Contact.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookupIndividualContact_new</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varExistingParticipant</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varExistingParticipant</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>space</name>
            <fieldText>&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_a_new_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>create_new_contact</elementReference>
            </defaultValue>
            <fieldText>Add a new Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Participant_Screen_0</name>
        <label>Select Participant Screen</label>
        <locationX>1666</locationX>
        <locationY>1852</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Participant_Method_0</targetReference>
        </connector>
        <fields>
            <name>error_group</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(195, 24, 24);&quot;&gt;{!Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select_2</name>
            <fieldText>&lt;p&gt;Please select a contact if you want to add an existing Contact or tick the checkbox if you want to add a new Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookupExistingGroup_new</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Existing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varExistingParticipant</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varExistingParticipant</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>space_2</name>
            <fieldText>&lt;p&gt;     &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_new_Contact_2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>create_new_contact</elementReference>
            </defaultValue>
            <fieldText>Add new Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1108</locationX>
        <locationY>1825</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Message</name>
            <fieldText>&lt;p&gt;You have created a contact encounter for the patient.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>lookup_value_to_blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>both selected error message</description>
        <name>both_selected_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please select only one option.</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactEncounterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>create_new_contact</description>
        <name>create_new_contact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error_Message</description>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>more</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>none_error</description>
        <name>none_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please select at least one option.</stringValue>
        </value>
    </variables>
    <variables>
        <name>null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingParticipant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEncounter_Location_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Encounter_Location_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>vEncounterLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
