force-app/main/default/flows/Create_Additional_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>assign i days</description>
        <name>assign_i_days</name>
        <label>assign i days</label>
        <locationX>1333</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Days_I</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_bypass_I</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign q days</description>
        <name>assign_q_days</name>
        <label>assign q days</label>
        <locationX>1330</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Days_Q</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_bypass_Q</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Decrease day I</description>
        <name>Decrease_day_I</name>
        <label>Decrease day I</label>
        <locationX>1509</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>days_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_I_days_greater_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Decrease day Q</description>
        <name>Decrease_day_Q</name>
        <label>Decrease day Q</label>
        <locationX>1500</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Days</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>days_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_Q_days_greater_than_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Case or Contact</description>
        <name>Case_or_Contact</name>
        <label>Case or Contact</label>
        <locationX>736</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Get_Quarantine_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Contact_OR_Case__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Isolated_Event</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>if I days greater than 0</description>
        <name>if_I_days_greater_than_0</name>
        <label>if I days greater than 0</label>
        <locationX>1741</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_days_greater_than_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Days</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsolatedExpDateNew</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Daily_Patient_Followup_Task</targetReference>
            </connector>
            <label>if days greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>If I found</description>
        <name>If_I_found</name>
        <label>If I found</label>
        <locationX>1092</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Isolated_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_new_date_Isolated_event</targetReference>
            </connector>
            <label>Event Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>if Q days greater than 0</description>
        <name>if_Q_days_greater_than_0</name>
        <label>if Q days greater than 0</label>
        <locationX>1738</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_days_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Days</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuarantineExpDateNew</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Daily_Followup_Task</targetReference>
            </connector>
            <label>if days greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Q found</description>
        <name>If_Q_found</name>
        <label>If Q found</label>
        <locationX>1093</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quarantine_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_date_Quarantined</targetReference>
            </connector>
            <label>Event Found</label>
        </rules>
    </decisions>
    <description>Create Additional Tasks</description>
    <formulas>
        <description>days minus 1</description>
        <name>days_1</name>
        <dataType>Number</dataType>
        <expression>{!Days}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>IsolatedExpDateNew</description>
        <name>IsolatedExpDateNew</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Isolated_Event.ExpirationDate} + ({!Days}  - {!Count})</expression>
    </formulas>
    <formulas>
        <description>QuarantineExpDateNew</description>
        <name>QuarantineExpDateNew</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Quarantine_Event.ExpirationDate} + ({!Days}-{!Count})</expression>
    </formulas>
    <interviewLabel>Create Additional Tass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Additional Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create bypass I</description>
        <name>Create_bypass_I</name>
        <label>Create bypass I</label>
        <locationX>1326</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>Update_Isolated_event</targetReference>
        </connector>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>bypass_validation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create bypass Q</description>
        <name>Create_bypass_Q</name>
        <label>Create bypass Q</label>
        <locationX>1331</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Update_Quarantined_event</targetReference>
        </connector>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>bypass_validation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Daily Followup Task</description>
        <name>Create_Daily_Followup_Task</name>
        <label>Create Daily Followup Task</label>
        <locationX>1747</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Decrease_day_Q</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>QuarantineExpDateNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ContactQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Get_Account.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Survey_Invite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Daily Followup Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Daily Patient Followup Task</description>
        <name>Create_Daily_Patient_Followup_Task</name>
        <label>Create Daily Patient Followup Task</label>
        <locationX>1745</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Decrease_day_I</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>IsolatedExpDateNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Patient_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Get_Account.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Survey_Invite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Daily Patient Followup Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>delete bypass I</description>
        <name>delete_bypass_I</name>
        <label>delete bypass I</label>
        <locationX>1319</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>if_I_days_greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>bypass_validation__c</object>
    </recordDeletes>
    <recordDeletes>
        <description>delete bypass Q</description>
        <name>delete_bypass_Q</name>
        <label>delete bypass Q</label>
        <locationX>1481</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>if_Q_days_greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>bypass_validation__c</object>
    </recordDeletes>
    <recordLookups>
        <name>ContactQueue</name>
        <label>Contact Queue</label>
        <locationX>602</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Daily_Followup_Tasks_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>473</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>301</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PatientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Isolated Event</description>
        <name>Get_Isolated_Event</name>
        <label>Get Isolated Event</label>
        <locationX>977</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_I_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryPersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsExpired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Isolated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PersonLifeEvent</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Quarantine Event</description>
        <name>Get_Quarantine_Event</name>
        <label>Get Quarantine Event</label>
        <locationX>982</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Q_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryPersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsExpired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EventType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PersonLifeEvent</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Patient_Queue</name>
        <label>Patient Queue</label>
        <locationX>509</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient_Daily_Followup_Tasks_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Task Record Type</description>
        <name>Task_Record_Type</name>
        <label>Task Record Type</label>
        <locationX>674</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_or_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Tracing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Isolated event</description>
        <name>Update_Isolated_event</name>
        <label>Update Isolated event</label>
        <locationX>1470</locationX>
        <locationY>809</locationY>
        <connector>
            <targetReference>delete_bypass_I</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Isolated_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>IsolatedExpDateNew</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quarantined event</description>
        <name>Update_Quarantined_event</name>
        <label>Update Quarantined event</label>
        <locationX>1332</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>delete_bypass_Q</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quarantine_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>QuarantineExpDateNew</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Completed</description>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>2072</locationX>
        <locationY>644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_text</name>
            <fieldText>&lt;p&gt;Additional followup tasks have been created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>not_found</name>
        <label>not found</label>
        <locationX>1105</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Event_Not_found</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 51, 51);&quot;&gt;Please make sure, the Life Event is present and not expired.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>set new date Isolated event</description>
        <name>set_new_date_Isolated_event</name>
        <label>set new date Isolated event</label>
        <locationX>1206</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_i_days</targetReference>
        </connector>
        <fields>
            <name>PatientName2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Contact/Case Name: &lt;/b&gt;&lt;b&gt;{!PatientName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Days_I</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Additional Days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 51, 51);&quot;&gt;Additional Days must be greater than 0 and less than or equals to 10.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Additional_Days_I}&gt;0 &amp;&amp; {!Additional_Days_I}&lt;11</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Set new date Quarantined</description>
        <name>Set_new_date_Quarantined</name>
        <label>Set new date Quarantined</label>
        <locationX>1214</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_q_days</targetReference>
        </connector>
        <fields>
            <name>Patient_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Contact/Case Name: {!PatientName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Days_Q</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Additional Days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 51, 51); background-color: rgb(255, 255, 255);&quot;&gt;Additional Days must be greater than 0 and less than or equals to 10.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Additional_Days_Q}&gt;0 &amp;&amp; {!Additional_Days_Q}&lt;11</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Count</description>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>addtnl days</description>
        <name>Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
