force-app/main/default/flows/Emergency_Assistance_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1389</locationX>
        <locationY>574</locationY>
        <actionName>c:ToastAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Emergency Assistance Application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>New_CA_Request</name>
        <label>New CA Request</label>
        <locationX>627</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>CA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_CA_Request_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CA_Request_0</name>
        <label>New CA Request</label>
        <locationX>1160</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>CA.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cit_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cit_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Impact_of_Storm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_describe_how_your_family_was_impacted_by_the_weather_related_events_in_De</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Additional_info_COVID19_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_additional_information_about_how_the_COVID_19_pandemic_has_im</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CA_req</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OKFebWinterStorm2022</name>
        <choiceText>OK Feb Winter Storm 2022&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK Feb Winter Storm 2022</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <description>Relationchoice</description>
        <name>Relationchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Case/&apos;+{!CA.Id}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Emergency Assistance Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Emergency Assistance Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create CA req</description>
        <name>Create_CA_req</name>
        <label>Create CA req</label>
        <locationX>1584</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>CA</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get Cit Account</description>
        <name>get_Cit_Account</name>
        <label>get Cit Account</label>
        <locationX>142</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Citizen</description>
        <name>get_rrr_request</name>
        <label>get Citizen</label>
        <locationX>144</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Cit_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>OTP__c</queriedFields>
        <queriedFields>OTP_Counter__c</queriedFields>
        <queriedFields>OTP_Generated_Time__c</queriedFields>
        <queriedFields>OTP_Validity__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_RT</name>
        <label>get RT</label>
        <locationX>327</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_CA_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emergency_Assistance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>New CA Request</description>
        <name>New_CA_Request_screen</name>
        <label>New CA Request</label>
        <locationX>855</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_CA_Request_0</targetReference>
        </connector>
        <fields>
            <name>New_CA_Request_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Reason</name>
                    <choiceReferences>OKFebWinterStorm2022</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone_val</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryMobile</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_val},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Please_describe_how_your_family_was_impacted_by_the_weather_related_events_in_De</name>
                    <fieldText>Please describe how your family was impacted by the selected weather-related event.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_provide_any_additional_information_about_how_the_COVID_19_pandemic_has_im</name>
                    <fieldText>Please provide any additional information about how the COVID-19 pandemic has impacted your family.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>230</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>get_rrr_request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CA</description>
        <name>CA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>error_sec_guardian</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contact.Account.PersonEmail</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimaryFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contact.Account.PersonMobilePhone</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimaryMobile2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primarytoggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ROTP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
