force-app/main/default/flows/Fall_2021_College_Housing_Assistance_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1389</locationX>
        <locationY>575</locationY>
        <actionName>c:ToastAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>SP22 College Housing Assistance Application Created Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>New_CA_Request</name>
        <label>New CA Request</label>
        <locationX>755</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>CA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_age</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CA_Request_0</name>
        <label>New CA Request</label>
        <locationX>1160</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>CA.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cit_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cit_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SP22 College Housing Assistance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CA_req</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CA_Request_0_0</name>
        <label>New CA Request</label>
        <locationX>1210</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>CA.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.PG_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.PG_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.PG_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryMobile2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryFN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryLN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SP22 College Housing Assistance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CA_req</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_age</name>
        <label>check age</label>
        <locationX>914</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>New_CA_Request_screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Minor</defaultConnectorLabel>
        <rules>
            <name>age_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Cit_Account.Age_Numeric__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_CA_Request_screen</targetReference>
            </connector>
            <label>Age &gt;  18</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Eligibility</name>
        <label>Check Eligibility</label>
        <locationX>279</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Ineligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ineligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Cit_Account.Eligible_For_Housing_Stipend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_RT</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Housing_Stipend_Exists</name>
        <label>If Housing Stipend Exists</label>
        <locationX>566</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>New_CA_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Housing_Stipend_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Housing_Stipend_Already_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Housing Stipend Found?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Relationchoice</description>
        <name>Relationchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Case/&apos;+{!CA.Id}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Fall 2021 College Housing Assistance Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Spring 2022 College Housing Assistance Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create CA req</description>
        <name>Create_CA_req</name>
        <label>Create CA req</label>
        <locationX>1584</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>CA</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Check if Housing Stipend Already Exists</description>
        <name>Check_if_Housing_Stipend_Already_Exists</name>
        <label>Check if Housing Stipend Already Exists</label>
        <locationX>433</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Housing_Stipend_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP22 College Housing Assistance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Cit Account</description>
        <name>get_Cit_Account</name>
        <label>get Cit Account</label>
        <locationX>142</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Citizen</description>
        <name>get_rrr_request</name>
        <label>get Citizen</label>
        <locationX>144</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Cit_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>OTP__c</queriedFields>
        <queriedFields>OTP_Counter__c</queriedFields>
        <queriedFields>OTP_Generated_Time__c</queriedFields>
        <queriedFields>OTP_Validity__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_RT</name>
        <label>get RT</label>
        <locationX>278</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Housing_Stipend_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Housing_Stipend</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>668</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_text_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 40, 40);&quot;&gt;Housing Stipend request has already been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ineligible</name>
        <label>Ineligible</label>
        <locationX>413</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 70, 70);&quot;&gt;This user is not eligible for the Fall 2021 College Housing Assistance Application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New CA Request</description>
        <name>New_CA_Request_screen</name>
        <label>New CA Request</label>
        <locationX>911</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_CA_Request_0</targetReference>
        </connector>
        <fields>
            <name>New_CA_Request_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_val</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryMobile</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_val},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New CA Request</description>
        <name>New_CA_Request_screen_0</name>
        <label>New CA Request</label>
        <locationX>1041</locationX>
        <locationY>390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_CA_Request_0_0</targetReference>
        </connector>
        <fields>
            <name>New_CA_Request_screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prim_Contact_Guardian</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Primary Guardian&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_primary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryFN</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!First_Name_primary},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_CA_Request_screen_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_primary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryLN</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Last_Name_primary},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_val_primary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryMobile2</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_val_primary},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email_input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_input},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>230</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>get_rrr_request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CA</description>
        <name>CA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>error_sec_guardian</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contact.Account.PersonMobilePhone</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimaryMobile2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primarytoggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ROTP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
