force-app/main/default/flows/New_CA_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Failed_toast</name>
        <label>Failed</label>
        <locationX>1949</locationX>
        <locationY>824</locationY>
        <actionName>c:ToastAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Clothing Assistance Request Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Failed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>OTP_Gen</name>
        <label>OTP Gen</label>
        <locationX>700</locationX>
        <locationY>651</locationY>
        <actionName>GenRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Upd_Contact_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>length</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ROTP</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>1926</locationX>
        <locationY>341</locationY>
        <actionName>HealthCloudGA:HcFlowRedirectLocalAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>send_SMS</name>
        <label>send SMS</label>
        <locationX>1277</locationX>
        <locationY>832</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>update_account_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18445720811</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>CA_OTP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>CA.Ebt_Mobile_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1368</locationX>
        <locationY>457</locationY>
        <actionName>c:ToastAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Clothing Assistance Request Created Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>New_CA_Request</name>
        <label>New CA Request</label>
        <locationX>574</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>CA.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTP_Gen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CA_Request_0</name>
        <label>New CA Request</label>
        <locationX>1011</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>CA.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.OTP_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.OTP_Generated_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Sec_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Sec_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Sec_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cit_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Cit_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianFN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianLN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Sec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_sec_guardian_info_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CA_Request_0_0</name>
        <label>New CA Request</label>
        <locationX>1269</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>CA.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.PG_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.OTP_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.OTP_Generated_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Sec_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Sec_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Sec_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Sec_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.PG_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.PG_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianFN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianLN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Sec_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SecGuardianRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_secondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryMobile2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_val_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryFN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryLN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Ebt_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Primary_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_sec_guardian_info_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error</name>
        <label>set error</label>
        <locationX>845</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>error_sec_guardian</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please make sure, the Alternate Contact/Guardian information is complete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_CA_Request_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error_0</name>
        <label>set error</label>
        <locationX>958</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>error_sec_guardian</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please make sure, the Alternate Contact/Guardian information is complete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_CA_Request_screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set phone verified</description>
        <name>set_phone_verified</name>
        <label>set phone verified</label>
        <locationX>1933</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>CA.Mobile_Verified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CA_req</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wrong_answer</name>
        <label>Wrong answer</label>
        <locationX>1578</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>Error_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wrong verification code entered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.OTP_Counter__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_account_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_age</name>
        <label>check age</label>
        <locationX>953</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>New_CA_Request_screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>age_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Cit_Account.Age_Numeric__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_CA_Request_screen</targetReference>
            </connector>
            <label>age &gt;  18</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check OTP</description>
        <name>Check_OTP</name>
        <label>Check OTP</label>
        <locationX>1931</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Wrong_answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_verify_phone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primarytoggle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CA_req</targetReference>
            </connector>
            <label>Cannot verify</label>
        </rules>
        <rules>
            <name>OTP_verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.OTP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.OTP_Counter__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.OTP_Validity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_phone_verified</targetReference>
            </connector>
            <label>OTP verified</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact.OTP_Counter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.OTP_Validity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_toast</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check OTP</description>
        <name>Check_OTP_0</name>
        <label>Check OTP</label>
        <locationX>1260</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Upd_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_verify_phone_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primarytoggle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_OTP</targetReference>
            </connector>
            <label>Cannot verify</label>
        </rules>
    </decisions>
    <decisions>
        <description>check sec guardian info 1</description>
        <name>check_sec_guardian_info_1</name>
        <label>check sec guardian info 1</label>
        <locationX>1574</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Create_CA_req</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>info_missing</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND (5 OR 6 OR 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>SecGuardianFN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianLN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianMobile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianRelation</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianFN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianLN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianMobile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianRelation</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>set_error</targetReference>
            </connector>
            <label>info missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>check sec guardian info 1</description>
        <name>check_sec_guardian_info_1_0</name>
        <label>check sec guardian info 2</label>
        <locationX>1387</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Create_CA_req</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>info_missing_0</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND (5 OR 6 OR 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>SecGuardianFN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianLN</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianMobile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianRelation</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianFN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianLN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianMobile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SecGuardianRelation</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>set_error_0</targetReference>
            </connector>
            <label>info missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_ca_found</name>
        <label>if ca found</label>
        <locationX>566</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>New_CA_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CA_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_CA_already_created</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>CA found</label>
        </rules>
    </decisions>
    <description>New CA Request</description>
    <dynamicChoiceSets>
        <description>Relationchoice</description>
        <name>Relationchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Case/&apos;+{!CA.Id}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>New CA Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New CA Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create CA req</description>
        <name>Create_CA_req</name>
        <label>Create CA req</label>
        <locationX>1583</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>CA</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Check if CA already created</description>
        <name>Check_if_CA_already_created</name>
        <label>Check if CA already created</label>
        <locationX>427</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_ca_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Cit Account</description>
        <name>get_Cit_Account</name>
        <label>get Cit Account</label>
        <locationX>276</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Citizen</description>
        <name>get_rrr_request</name>
        <label>get Citizen</label>
        <locationX>144</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Cit_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>OTP__c</queriedFields>
        <queriedFields>OTP_Counter__c</queriedFields>
        <queriedFields>OTP_Generated_Time__c</queriedFields>
        <queriedFields>OTP_Validity__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>get Citizen</description>
        <name>get_rrr_request_0_0</name>
        <label>get Citizen</label>
        <locationX>1588</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>OTP__c</queriedFields>
        <queriedFields>OTP_Counter__c</queriedFields>
        <queriedFields>OTP_Generated_Time__c</queriedFields>
        <queriedFields>OTP_Validity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_RT</name>
        <label>get RT</label>
        <locationX>277</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CA_already_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Upd Contact</description>
        <name>Upd_Contact</name>
        <label>Upd Contact</label>
        <locationX>1163</locationX>
        <locationY>654</locationY>
        <connector>
            <targetReference>send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP_Counter__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Generated_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Upd Contact</description>
        <name>Upd_Contact_0</name>
        <label>Upd Contact</label>
        <locationX>839</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>check_age</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP__c</field>
            <value>
                <elementReference>ROTP</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>update account</description>
        <name>update_account_0_0</name>
        <label>update account</label>
        <locationX>1389</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Validate_OTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP_Counter__c</field>
            <value>
                <elementReference>Contact.OTP_Counter__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>712</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_text_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 40, 40);&quot;&gt;Clothing Request already created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New CA Request</description>
        <name>New_CA_Request_screen</name>
        <label>New CA Request</label>
        <locationX>853</locationX>
        <locationY>287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_CA_Request_0</targetReference>
        </connector>
        <fields>
            <name>New_CA_Request_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_val</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryMobile</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_val},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>cannot_verify_ph</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>This number cannot receive text messages</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Primarytoggle</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Primarytoggle</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sec_Guardian</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Alternate Contact/Guardian&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>error_sec_text_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 84, 84);&quot;&gt;{!error_sec_guardian}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_CA_Request_screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianFN</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!First_Name},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_CA_Request_screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianLN</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Last_Name},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Sec</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianMobile</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_Sec},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_CA_Request_screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship</name>
                    <choiceReferences>Relationchoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianRelation</elementReference>
                    </defaultValue>
                    <fieldText>Relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New CA Request</description>
        <name>New_CA_Request_screen_0</name>
        <label>New CA Request</label>
        <locationX>958</locationX>
        <locationY>379</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_CA_Request_0_0</targetReference>
        </connector>
        <fields>
            <name>New_CA_Request_screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prim_Contact_Guardian</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Primary Contact/Guardian&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_primary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryFN</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!First_Name_primary},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_CA_Request_screen_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_primary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryLN</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Last_Name_primary},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_val_primary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryMobile2</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_val_primary},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>cannot_verify_ph_0_primary</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>This number cannot receive text messages</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Primarytoggle</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Primarytoggle</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Email_input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PrimaryEmail</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_input},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sec_Guardian_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Alternate Contact/Guardian&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>error_alternate_guardian_info</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 84, 84);&quot;&gt;{!error_sec_guardian}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_secondary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianFN</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!First_Name_secondary},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_CA_Request_screen_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_secondary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianLN</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Last_Name_secondary},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_CA_Request_screen_0_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_CA_Request_screen_0_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Sec_secondary</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianMobile</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Phone_Sec_secondary},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_CA_Request_screen_0_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship_secondary</name>
                    <choiceReferences>Relationchoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SecGuardianRelation</elementReference>
                    </defaultValue>
                    <fieldText>Relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Val OTP</description>
        <name>Validate_OTP</name>
        <label>Validate OTP</label>
        <locationX>1384</locationX>
        <locationY>835</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_rrr_request_0_0</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 84, 84);&quot;&gt;{!Error_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>remaining_attempts</name>
            <fieldText>&lt;p&gt;Attempts remaining {!Contact.OTP_Counter__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OTP</name>
            <dataType>String</dataType>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid OTP as XXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!OTP},&quot;^((\\d{3})\\d{3})?$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>229</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>get_rrr_request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CA</description>
        <name>CA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>error_sec_guardian</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contact.Account.PersonMobilePhone</elementReference>
        </value>
    </variables>
    <variables>
        <name>PrimaryMobile2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primarytoggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ROTP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecGuardianRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
