force-app/main/default/flows/New_Hunt_Draw_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_At_Large_Category</name>
        <label>Add At Large Category</label>
        <locationX>1025</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fish and Wildlife Controlled Hunt At Large App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Events__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>At_Large_Event_Dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Hunt_Category_Veteran_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Elder_Category</name>
        <label>Add Elder Category</label>
        <locationX>936</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Category__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Fish and Wildlife Controlled Hunt Elder App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Events__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Elder_Event_Dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Hunt_Application2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Veteran_Category</name>
        <label>Add Veteran Category</label>
        <locationX>1515</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Category__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Fish and Wildlife Controlled Hunt Veteran App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Events__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Veterans_Event_Dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Hunt_Category_Elder_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Youth_Category</name>
        <label>Add Youth Category</label>
        <locationX>615</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fish and Wildlife Controlled Hunt Youth App</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Events__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Youth_Event_Dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Hunt_Category_At_Large_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Hunt_Application2</name>
        <label>New Hunt Application</label>
        <locationX>604</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.Ebt_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Ebt_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.PG_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.PG_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.PG_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.PG_Driver_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_Driver_s_License</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunting_License_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CNHuntingAndFishingLicense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Hunt_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Hunt_Request</name>
        <label>New Hunt Request</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Citizen_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Citizen_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.Hunt_Events__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Hunt_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accompanying_Adult_Info_When_Different_than_PG</name>
        <label>Set Accompanying Adult Info When Different than PG</label>
        <locationX>1513</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AA_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AA_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AA_Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_Driver_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AA_Driver_s_License</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accompanying_Adult_Info_when_same_as_than_PG</name>
        <label>Set Accompanying Adult Info when same as than PG</label>
        <locationX>1504</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HuntRequest.AA_Driver_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PG_Driver_s_License</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Dates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CherokeeAt_Large_November20_21_5Antlerless</name>
        <choiceText>Cherokee At-Large, (Gun) November 20-21 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee At-Large, (Gun) November 20-21 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeAtLarge_November20_21_5EitherSex</name>
        <choiceText>Cherokee At-Large, (Gun) November 20-21 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee At-Large, (Gun) November 20-21 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_December2_3_5Antlerless</name>
        <choiceText>Cherokee Elder, (Gun) December 2-3 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Gun) December 2-3 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_December2_3_5EitherSex</name>
        <choiceText>Cherokee Elder, (Gun) December 2-3 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Gun) December 2-3 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_October30_31_5Antlerless</name>
        <choiceText>Cherokee Elder, (Muzzleloader) October 30-31 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Muzzleloader) October 30-31 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_October30_31_5EitherSex</name>
        <choiceText>Cherokee Elder, (Muzzleloader) October 30-31 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Muzzleloader) October 30-31 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_November27_28_5Antlerless</name>
        <choiceText>Cherokee Veteran, (Gun) November 27-28 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Gun) November 27-28 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_November27_28_5EitherSex</name>
        <choiceText>Cherokee Veteran, (Gun) November 27-28 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Gun) November 27-28 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_October23_24_5Antlerless</name>
        <choiceText>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_October_23_24_5EitherSex</name>
        <choiceText>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_December4_5_5Antlerless</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_December4_5_5EitherSex</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_October16_17_5Antlerless</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_October16_17_5EitherSex</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HLNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>HLYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Accompanying_Adult</name>
        <label>Check for Accompanying Adult</label>
        <locationX>1809</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Set_Accompanying_Adult_Info_when_same_as_than_PG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Accompanying_Adult_is_Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccompanyingAdultDifferent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Accompanying_Adult_Info_When_Different_than_PG</targetReference>
            </connector>
            <label>When Accompanying Adult is Different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hunt_Category_At_Large_App</name>
        <label>Check Hunt Category - At Large App</label>
        <locationX>792</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Check_Hunt_Category_Veteran_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Category_is_At_Large_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oklahoma_Resident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AtLargeApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_At_Large_Category</targetReference>
            </connector>
            <label>When Category is At Large App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hunt_Category_Elder_App</name>
        <label>Check Hunt Category - Elder App</label>
        <locationX>1233</locationX>
        <locationY>930</locationY>
        <defaultConnector>
            <targetReference>New_Hunt_Application2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Category_is_Elder_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oklahoma_Resident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>55.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ElderApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Elder_Category</targetReference>
            </connector>
            <label>When Category is Elder App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hunt_Category_Veteran_App</name>
        <label>Check Hunt Category - Veteran App</label>
        <locationX>1238</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Check_Hunt_Category_Elder_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Category_is_Veteran_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oklahoma_Resident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VeteranApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Veteran_Category</targetReference>
            </connector>
            <label>When Category is Veteran App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Hunt_Category_Youth_App</name>
        <label>Check Hunt Category - Youth App</label>
        <locationX>447</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Check_Hunt_Category_At_Large_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Category_is_Youth_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oklahoma_Resident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YouthApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Youth_Category</targetReference>
            </connector>
            <label>When Category is Youth App</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Hunt_Application_Found</name>
        <label>If Hunt Application Found</label>
        <locationX>464</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>New_Hunt_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hunt_App_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Hunt_Application_Already_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Hunt App Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_applicant_under_18</name>
        <label>Is applicant under 18?</label>
        <locationX>1395</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Event_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicant_Aged_Under_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Guardian_Information</targetReference>
            </connector>
            <label>Applicant Aged Under 18</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FishandWildlifeControlledHuntYouthApp</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hunt_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Hunt Draw Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Hunt Draw Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Hunt_Request</name>
        <label>Create Hunt Request</label>
        <locationX>276</locationX>
        <locationY>927</locationY>
        <inputReference>HuntRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_If_Hunt_Application_Already_Exist</name>
        <label>Check If Hunt Application Already Exist</label>
        <locationX>280</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Hunt_Application_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Citizen_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Citizen_Account</name>
        <label>Get Citizen Account</label>
        <locationX>177</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>177</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Hunt_Application_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hunt_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_New_Hunt_Request</name>
        <label>Create New Hunt Request</label>
        <locationX>701</locationX>
        <locationY>194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hunt_Category</targetReference>
        </connector>
        <fields>
            <name>Create_New_Hunt_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Hunt_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Mobile},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Hunt_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Oklahoma_Resident</name>
            <dataType>Boolean</dataType>
            <fieldText>Oklahoma Resident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>685</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Hunt_App_Exist</name>
            <fieldText>&lt;p&gt;Hunt Request Already Exist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Dates</name>
        <label>Event Dates</label>
        <locationX>1081</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hunting_and_Fishing_License</targetReference>
        </connector>
        <fields>
            <name>Youth_Event_Dates</name>
            <choiceReferences>CherokeeYouth_October16_17_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeYouth_October16_17_5Antlerless</choiceReferences>
            <choiceReferences>CherokeeYouth_December4_5_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeYouth_December4_5_5Antlerless</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Dates for Youth</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YouthApp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Veterans_Event_Dates</name>
            <choiceReferences>CherokeeVeteran_October_23_24_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeVeteran_October23_24_5Antlerless</choiceReferences>
            <choiceReferences>CherokeeVeteran_November27_28_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeVeteran_November27_28_5Antlerless</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Dates for Veterans</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VeteranApp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>At_Large_Event_Dates</name>
            <choiceReferences>CherokeeAtLarge_November20_21_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeAt_Large_November20_21_5Antlerless</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Dates for At Large</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AtLargeApp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Elder_Event_Dates</name>
            <choiceReferences>CherokeeElder_October30_31_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeElder_October30_31_5Antlerless</choiceReferences>
            <choiceReferences>CherokeeElder_December2_3_5EitherSex</choiceReferences>
            <choiceReferences>CherokeeElder_December2_3_5Antlerless</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Dates for Elder</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ElderApp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hunt_Category</name>
        <label>Hunt Category</label>
        <locationX>1013</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_applicant_under_18</targetReference>
        </connector>
        <fields>
            <name>HuntCategoryLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Hunt Category&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YouthApp</name>
            <dataType>Boolean</dataType>
            <fieldText>Fish and Wildlife Controlled Hunt Youth App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Required field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!YouthApp}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>17.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Oklahoma_Resident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AtLargeApp</name>
            <dataType>Boolean</dataType>
            <fieldText>Fish and Wildlife Controlled Hunt At Large App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Required field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!AtLargeApp}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Oklahoma_Resident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VeteranApp</name>
            <dataType>Boolean</dataType>
            <fieldText>Fish and Wildlife Controlled Hunt Veteran App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Required field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(OR({!VeteranApp}=TRUE, {!ElderApp}=TRUE),TRUE,FALSE)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Oklahoma_Resident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>18.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ElderApp</name>
            <dataType>Boolean</dataType>
            <fieldText>Fish and Wildlife Controlled Hunt Elder App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;Required field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(OR({!VeteranApp}=TRUE, {!ElderApp}=TRUE),TRUE,FALSE)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>55.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Oklahoma_Resident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hunting_and_Fishing_License</name>
        <label>Hunting and Fishing License</label>
        <locationX>810</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Hunt_Category_Youth_App</targetReference>
        </connector>
        <fields>
            <name>CNHuntingAndFishingLicense</name>
            <choiceReferences>HLYes</choiceReferences>
            <choiceReferences>HLNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you currently hold a Compact Cherokee Nation Hunting and Fishing License?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Guardian_Information</name>
        <label>Parent/Guardian Information</label>
        <locationX>1814</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Accompanying_Adult</targetReference>
        </connector>
        <fields>
            <name>PrimaryGuardianInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Primary Guardian Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent_Guardian_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Parent_Guardian_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PG_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!PG_First_Name},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PG_Mobile</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!PG_Mobile},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Parent_Guardian_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PG_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!PG_Last_Name},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PG_Driver_s_License</name>
                    <dataType>String</dataType>
                    <fieldText>Driver’s License</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid Driver’s License.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND (
If(LEN({!PG_Driver_s_License}) &lt;= 16,TRUE,FALSE),
REGEX({!PG_Driver_s_License},&quot;^[a-zA-Z 0-9-]*$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AccompanyingAdultDifferent</name>
            <dataType>Boolean</dataType>
            <fieldText>Is your Accompanying Adult is different than Primary Guardian?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccompanyingAdult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Accompanying Adult&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccompanyingAdultDifferent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Parent_Guardian_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Parent_Guardian_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AA_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!AA_First_Name},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>AA_Mobile</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!AA_Mobile},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Parent_Guardian_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AA_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 26, 26);&quot;&gt;Please enter alphabetic characters only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!AA_Last_Name},&quot;^[a-z A-Z -]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>AA_Driver_s_License</name>
                    <dataType>String</dataType>
                    <fieldText>Driver’s License</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid Driver’s License.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND (
If(LEN({!AA_Driver_s_License}) &lt;= 16,TRUE,FALSE),
REGEX({!AA_Driver_s_License},&quot;^[a-zA-Z 0-9-]*$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccompanyingAdultDifferent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Get_Citizen_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HuntRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
