force-app/main/default/flows/New_Vaccine_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Shows success message</description>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>1344</locationX>
        <locationY>490</locationY>
        <actionName>c:ToastAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Request Created Successfully. {url}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <stringValue>Click to view request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>RecordURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>New_Vaccine_Application</name>
        <label>New Vaccine Application</label>
        <locationX>1014</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>VaccineRequest.Ebt_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Citizen_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Citizen_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.VL_Vaccine_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vac_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.VL_Final_Vaccination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Vaccination_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaccineRequest.Primary_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lastname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Vaccine_Lottery_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CherokeeAt_Large_November20_21_5Antlerless</name>
        <choiceText>Cherokee At-Large, (Gun) November 20-21 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee At-Large, (Gun) November 20-21 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeAtLarge_November20_21_5EitherSex</name>
        <choiceText>Cherokee At-Large, (Gun) November 20-21 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee At-Large, (Gun) November 20-21 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_December2_3_5Antlerless</name>
        <choiceText>Cherokee Elder, (Gun) December 2-3 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Gun) December 2-3 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_December2_3_5EitherSex</name>
        <choiceText>Cherokee Elder, (Gun) December 2-3 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Gun) December 2-3 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_October30_31_5Antlerless</name>
        <choiceText>Cherokee Elder, (Muzzleloader) October 30-31 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Muzzleloader) October 30-31 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeElder_October30_31_5EitherSex</name>
        <choiceText>Cherokee Elder, (Muzzleloader) October 30-31 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Elder, (Muzzleloader) October 30-31 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_November27_28_5Antlerless</name>
        <choiceText>Cherokee Veteran, (Gun) November 27-28 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Gun) November 27-28 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_November27_28_5EitherSex</name>
        <choiceText>Cherokee Veteran, (Gun) November 27-28 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Gun) November 27-28 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_October23_24_5Antlerless</name>
        <choiceText>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeVeteran_October_23_24_5EitherSex</name>
        <choiceText>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Veteran, (Muzzleloader) October 23-24 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_December4_5_5Antlerless</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_December4_5_5EitherSex</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) December 4-5 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_October16_17_5Antlerless</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Antlerless)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Antlerless)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CherokeeYouth_October16_17_5EitherSex</name>
        <choiceText>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Either Sex)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cherokee Youth, 17 and Under (Gun) October 16-17 (5 Either Sex)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HLNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>HLYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_RequestId_Is_Null</name>
        <label>Check_If_RequestId_Is_Null</label>
        <locationX>1112</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Success_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VaccineRequest.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Request_Id_is_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Vaccine_Application_Found</name>
        <label>If Vaccine Application Found</label>
        <locationX>776</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Create_New_Vaccine_Lottery_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vaccine_App_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Vaccine_Application_Already_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Vaccine App Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_applicant_under_18</name>
        <label>Is applicant under 18?</label>
        <locationX>331</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Check_If_Vaccine_Application_Already_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicant_Aged_Under_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Citizen_Account.Age_Numeric__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Age_Error_Screen</targetReference>
            </connector>
            <label>Applicant Aged Under 18</label>
        </rules>
    </decisions>
    <description>This is used to capture vaccine lottery requests from internal.</description>
    <dynamicChoiceSets>
        <name>FishandWildlifeControlledHuntYouthApp</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hunt_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vaccine_Type_Picklist_Resource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VL_Vaccine_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>RecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!VaccineRequest.Id}</expression>
    </formulas>
    <interviewLabel>New Vaccine Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Vaccine Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Vaccine_Lottery_Request</name>
        <label>Create Vaccine Lottery Request</label>
        <locationX>872</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Check_If_RequestId_Is_Null</targetReference>
        </connector>
        <inputReference>VaccineRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_If_Vaccine_Application_Already_Exist</name>
        <label>Check If Vaccine Application Already Exist</label>
        <locationX>577</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Vaccine_Application_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Citizen_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Citizen_Account</name>
        <label>Get Citizen Account</label>
        <locationX>177</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>179</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_applicant_under_18</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vaccine_Lottery_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Age_Error_Screen</name>
        <label>Age Error Screen</label>
        <locationX>350</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Age_Error_Msg</name>
            <fieldText>&lt;p&gt;Citizens under 18 are not eligible for the vaccine lottery draw.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Vaccine_Lottery_Request</name>
        <label>Create New Vaccine Lottery Request</label>
        <locationX>783</locationX>
        <locationY>260</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Vaccine_Application</targetReference>
        </connector>
        <fields>
            <name>Create_New_Vaccine_Lottery_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Vaccine_Lottery_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName_Label</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Account Name&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Name</name>
                    <fieldText>&lt;p&gt;{!Get_Citizen_Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Vaccine_Lottery_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CitizenId_Label</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Citizen Id&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CitizenNumber</name>
                    <fieldText>&lt;p&gt;{!Get_Citizen_Account.Tribe_Id__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_New_Vaccine_Lottery_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Vaccine_Lottery_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Enter a valid mobile number as XXXXXXXXXX&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Mobile},&quot;^((\\d{3})\\d{3}\\d{4})?$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Lastname</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Citizen_Account.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Lastname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please provide a valid Lastname&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>(REGEX({!Lastname},&quot;^([A-Za-z\\ ]+)$&quot;))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Citizen_Account.HealthCloudGA__Gender__pc</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Female</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Vaccine_Lottery_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Citizen_Account.PersonContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_New_Vaccine_Lottery_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Vaccine_Lottery_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vac_Type</name>
                    <choiceReferences>Vaccine_Type_Picklist_Resource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Vaccine</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Vaccine_Lottery_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Final_Vaccination_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Final Vaccination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please provide a valid date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>({!Final_Vaccination_Date} &lt;= {!CurrentDate})
&amp;&amp;
({!Final_Vaccination_Date} &gt;= DATE( 2020, 1, 1 ))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1002</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Vaccine_App_Exist</name>
            <fieldText>&lt;p&gt;Vaccine Lottery Request Already Exist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>Get_Citizen_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VaccineRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
