force-app/main/default/flows/ninaetc_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_3b45ff0c_45d1_4f52_aac5_5b3a2f95ec40</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_4c1c4e73_7e13_473b_a13e_5731be6ef63b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8b63882c_c075_474f_8658_8cdd7a699411</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_67656878_e72d_4f62_82a3_6bb88d94e4e1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_cfbb60e5_4969_493f_a269_f85e01ac683f</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a2cc92b0_c032_49f6_b762_89675c116b33</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_00ae7fc5_d55b_4b4c_8854_180005377bb8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0238dc59_3aa0_48bc_b2fb_961355389f12</name>
        <choiceText>In Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0245c67d_9a2c_46ff_a7a2_96dd79191480</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_03562f1f_c532_49ee_b757_d1ad36163a06</name>
        <choiceText>WIOA Fundamentals Mod 4: Grantee Risk Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 4: Grantee Risk Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0539cd3e_5f9e_4925_b0bc_0620f07644e5</name>
        <choiceText>Virtually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtually</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0845f451_aa23_40d3_a647_6ffd2711773c</name>
        <choiceText>BearTracks Youth Workshop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BearTracks Youth Workshop</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_08700303_5868_4fc8_876d_30052723aa34</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0a3a5049_df7e_49b7_bd41_ae47baf0e59b</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0a54b3b3_31e3_4bcc_9663_e510c1ee94e2</name>
        <choiceText>What You Should Know About Your Retirement Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>What You Should Know About Your Retirement Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0cc5738e_477f_488d_b686_20c6e60cf076</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0d6b76f2_b03c_4508_ac91_ebe70184e5ec</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0f021e7f_aebd_45d1_87bb_36a6a7ea0d5a</name>
        <choiceText>Break The Cycle: Life is a Party!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Break The Cycle: Life is a Party!</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0fc52bd3_72cd_493a_84db_ae43ed1dd15b</name>
        <choiceText>The Pandemic Emergency Assistance Fund - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Pandemic Emergency Assistance Fund - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_107b2161_f74f_4b06_9cba_d1e7c9c508f9</name>
        <choiceText>BearTracks Youth Workshop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BearTracks Youth Workshop</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10d51cd6_69da_4cbc_a551_caa004cb723e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_10e11d13_46c1_4723_b5d3_3281446f92d3</name>
        <choiceText>New Jobs for the Post Pandemic Worker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Jobs for the Post Pandemic Worker</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10ee7297_4d3e_4766_81f8_a2c0caf9db7a</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_132557a8_59bf_45b0_a3c4_7eb744d3d0b7</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1352fcb8_a4ff_443f_b73f_36841dddbc3d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_13b82eeb_4d6b_44b4_be28_6c20e22df58b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_169a15da_ef50_426c_9c7d_4291dd132c13</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_17118cd6_06e8_4e3f_a058_5a13dd005572</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_17e4cc8c_6c7e_4cd6_aa6c_7d158c4897c5</name>
        <choiceText>Roundtable Discussion on CCDF Requirements: Highlights and Successful Models - Virtual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roundtable Discussion on CCDF Requirements: Highlights and Successful Models - Virtual</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_18426804_08b8_4d48_aa1a_1cc3450604e9</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1868ed6d_ab66_479d_8b5b_1a0b68ed4608</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_18c25f6d_2976_4af2_b77b_9f78a55154f5</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_18ed545c_3de0_4364_bfd0_2213f36d4f1e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1916cb55_8c01_40ac_9c93_3f14bbfa30b7</name>
        <choiceText>Help Justice - Involved People Get Jobs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Help Justice - Involved People Get Jobs</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b3df7b9_9863_4524_be91_ccd53289244e</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1c1507b7_29da_48c5_92b3_99e11a4895c3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1cb825af_2861_4e10_9979_ef3009723437</name>
        <choiceText>9130 Financial Reporting (DINAP Edition)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9130 Financial Reporting (DINAP Edition)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1cc0c9fd_c7ee_405a_a34f_526d67b34957</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1d753bc1_df54_4f46_92f0_bdb09b3d87fc</name>
        <choiceText>Break The Cycle: Life is a Party!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Break The Cycle: Life is a Party!</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1fef9fdc_0958_4af1_8add_7d4a458df400</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1fefcef0_1f4a_4d64_b8ac_8796268f1284</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_21585041_1f24_4438_b8e7_5de7e8934eae</name>
        <choiceText>WIOA Cost Principles and Cost Classification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Cost Principles and Cost Classification</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2284a89a_66bc_40c7_bbf4_de49a7987f79</name>
        <choiceText>Partners in Disasters and Emergencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partners in Disasters and Emergencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_243fb4b7_aec2_4301_8040_48fd541ba528</name>
        <choiceText>WIOA Fundamentals Mod 4: Grantee Risk Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 4: Grantee Risk Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_272a9dd9_bde6_41bf_a854_0426507bc8ac</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_27431a23_72e9_4f41_8c97_c6bd52f6901f</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_276f3e4e_553e_4be1_a72b_0e166f32f4de</name>
        <choiceText>477 Financial Overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>477 Financial Overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_28910111_9738_4da9_b769_d50477f87e42</name>
        <choiceText>GPMS Presentation - Intermediate Session (10:30 AM to 12:00 PM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPMS Presentation - Intermediate Session (10:30 AM to 12:00 PM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_321825b5_ddbb_4b56_b1d9_fe8ac0d03a51</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3326832c_9e54_411f_ac84_ba4b8dcd8eb9</name>
        <choiceText>Physical Stress Relief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical Stress Relief</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_33c07a13_928a_485a_a7f9_fb5fe1d8dc85</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_38ebf94d_358a_4da2_91c7_f88f3fdb60d7</name>
        <choiceText>P.L. 102-477 Tribal Work Group Meeting (3:30 PM to 5:00 PM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P.L. 102-477 Tribal Work Group Meeting (3:30 PM to 5:00 PM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3bb4b097_c33c_466d_bf9a_26264b35c18a</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3d4705ed_0376_43f4_bde1_8c56b95facf4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3d4d509f_db30_4b5f_82f2_aa8fd19d6a31</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3db04ff0_e44f_4420_a9e1_6ec97f79f36c</name>
        <choiceText>Rebuilding Infrastructure, Rebuilding Communities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rebuilding Infrastructure, Rebuilding Communities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f5f96ee_ab68_4ddf_aeff_d736ca38b973</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3ffdccdf_6374_4cdd_aabe_00087e5bb8b8</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_40e14f1f_639c_4c24_888a_9cbc29fbd40a</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_435bcab2_ec04_4f00_aca5_88e9110444db</name>
        <choiceText>Traditional Talking Circle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Traditional Talking Circle</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4382508b_3066_4a3f_90c9_f3de099aa757</name>
        <choiceText>WIOA Fundamentals Mod 2: Program Design and Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 2: Program Design and Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4393ca18_9d13_4c4b_8795_e3c3fdb00d23</name>
        <choiceText>WIOA Fundamentals Mod 1: Understanding the Basics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 1: Understanding the Basics</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4619132b_1c41_48bf_8828_58381af17e3d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_46f93fde_a005_40fa_9665_2f969ee53360</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_480e9b6a_d308_4647_8d8c_94c5ecb5a398</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_495c2500_df8b_4222_b628_203df0f01b1c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_49bf4188_b15e_400e_8bcc_0891b9d6f8ef</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4a7c842f_c7fb_4802_838b_e5c34a280a01</name>
        <choiceText>How to Find a Remote Job Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Find a Remote Job Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4be69e7b_e96a_421e_a8d6_168ed4624569</name>
        <choiceText>WIOA Fundamentals Mod 2: Program Design and Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 2: Program Design and Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4dc8dc87_cb94_47a3_85d2_816f8c98aa3b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_52964084_bd05_4b4d_97c0_f054bea9ff31</name>
        <choiceText>WIOA Fundamentals Mod 3: Grant Operations and Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 3: Grant Operations and Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_52dfba54_721d_4dd0_bb01_70bd24a34dc7</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_53bdaf76_8cbe_477e_a2ea_e5e97ed0f241</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5429143a_5a5b_49fe_876d_92ff1e27cb33</name>
        <choiceText>What You Should Know About Your Retirement Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>What You Should Know About Your Retirement Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5522a735_4fde_4d5c_b3a9_f69ac7e01a31</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_56d33f38_acea_494b_a6d8_2ac3dc5e3de8</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_572263f5_27a5_4981_97a0_a29a87733069</name>
        <choiceText>Oklahoma Tribal Vocational Rehabilitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oklahoma Tribal Vocational Rehabilitation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_58a14b48_4743_4fc6_b5ab_e174e011e704</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5a6a60ac_41ce_46af_8e21_c583b0658740</name>
        <choiceText>Rebuilding Infrastructure, Rebuilding Communities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rebuilding Infrastructure, Rebuilding Communities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ad6af45_accf_4567_9f40_5872dc10a3c8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5dc4d09b_9749_48f8_92d6_2d14f7b9dac7</name>
        <choiceText>Enhancing Participant Outcomes Under WIOA Performance Indicators</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enhancing Participant Outcomes Under WIOA Performance Indicators</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5df41ab1_0d38_4d93_8bff_d639b7b54692</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5eb73a9e_6e7f_4fc9_89c8_56159f7b8769</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5ee22042_d49d_40b3_8615_f9c95025e769</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5f73392f_d7a6_4b24_8325_045972d1918c</name>
        <choiceText>Interacting with Difficult People</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interacting with Difficult People</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_63bc03aa_8f07_4a60_a1ba_8ce92e1d0d7d</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_63f698b2_c020_416c_8cd3_83a26393bc15</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6400422b_ae2d_4c01_a82f_17e91694b631</name>
        <choiceText>Partners in Disasters and Emergencies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partners in Disasters and Emergencies</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_673ad2f7_4180_4f1e_be42_29f4ac8fc664</name>
        <choiceText>STEM Education for Indigenous Youth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STEM Education for Indigenous Youth</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_67a4dc20_797e_439e_8d89_1171f612c2f0</name>
        <choiceText>Training Options for the New Normal: Virtual, In-Person, or Hybrid?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training Options for the New Normal: Virtual, In-Person, or Hybrid?</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_67bf2ef8_96d9_4e2a_9e28_52febed5de55</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_685939b0_a8c7_42d5_9f4b_1fd94153c23c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6a2ef05d_8bdb_4cf6_b083_f7b6dd4c0b63</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6a5695f3_8bfc_4a04_8bda_b5934e5e722b</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6a703b4d_d808_4d54_8fa3_c58dbdfd373c</name>
        <choiceText>Choosing a Retirement Solution for your Small Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choosing a Retirement Solution for your Small Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6a8c61ae_81a3_48d6_b7df_8a6105811fc0</name>
        <choiceText>Leveraging Technology for Better Participant Outcomes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leveraging Technology for Better Participant Outcomes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6cfcbdb0_1c87_4747_8911_d17d80b5735b</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6fb17221_b92c_4e3b_9cb7_01e0b9b3fcc0</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_724f0b5e_c134_4178_afff_fbae64e458d8</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_72ec4b80_c352_4d78_9bfa_93d210431ab9</name>
        <choiceText>Getting Students Excited for Future Careers Using Augmented and Virtual Reality - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Getting Students Excited for Future Careers Using Augmented and Virtual Reality - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73419f8e_7662_45d9_bbf4_42b97859b52f</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_73ea41e7_fa17_4efa_a2cf_b30b7faa07b4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_74b9dd3d_0dbc_4ffe_b537_159464baeba0</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_763f9f58_144a_412b_9e32_7f6a504d3a0c</name>
        <choiceText>American Indian Population and Labor Force Report: Challenges and Opportunities - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Indian Population and Labor Force Report: Challenges and Opportunities - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_76591030_888d_4138_85de_9c21af3d7c36</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7791cd39_4924_4ace_a7be_2b0c9eeb9a20</name>
        <choiceText>Work and Life Changes Require Health Choices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work and Life Changes Require Health Choices</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_793dfb61_576c_4f63_831c_1954cbc36a6c</name>
        <choiceText>Program Review - Today&apos;s Process and What is Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program Review - Today&apos;s Process and What is Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_79581796_d817_4186_847c_17d2c613e400</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_79e7a166_81a1_45d0_bec8_e9e92924ca85</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7a01b1ad_994c_418c_9a43_eb6a759d07e8</name>
        <choiceText>The National Indian Council on Aging, Inc (NICOA) and the Senior Community Service Employment Program (SCSEP)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The National Indian Council on Aging, Inc (NICOA) and the Senior Community Service Employment Program (SCSEP)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7b44b4da_a38c_493e_8c8a_3e41dbe7f7d8</name>
        <choiceText>In Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7b92dbf6_85a7_46ad_977b_5508f303316b</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7c95f69d_2b0c_4c03_be2a_a96a1d33aa5c</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7e335f7d_1916_4773_819b_1fd8714fbbcd</name>
        <choiceText>Determining Programs That Fit In Your 477 Plan - Tribal Decision/Tribal Choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determining Programs That Fit In Your 477 Plan - Tribal Decision/Tribal Choice</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_80ab830e_383d_44e7_a783_b39239618763</name>
        <choiceText>Help Justice - Involved People Get Jobs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Help Justice - Involved People Get Jobs</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_812d8ad7_242e_4f1a_aeec_89a04155602f</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_816d00c5_05fa_47bf_924a_57f51d2427ce</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_819c018a_5d23_4b17_8d9b_06af563d8abd</name>
        <choiceText>Virtually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtually</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_82e83ead_0dee_4860_bbdc_29afbf761da1</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_83c6a6a7_a3f9_48c9_b879_79c0d4bf1228</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8455a10f_98e8_4b1e_bf34_ec127a302a73</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_84b94c8e_93f9_4c72_b2ac_2d820548bad4</name>
        <choiceText>WIOA Mod 5: Supplemental Youth Service (SYS) Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Mod 5: Supplemental Youth Service (SYS) Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_856202af_cca3_4194_bcbd_e5d99a10659a</name>
        <choiceText>Compliance Assistance on Mental Healthy Parity for Employers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance Assistance on Mental Healthy Parity for Employers</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_89dde669_ff1d_4eb2_a82d_16c926454c92</name>
        <choiceText>Choosing a Retirement Solution for your Small Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choosing a Retirement Solution for your Small Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8aa2caee_f20c_4790_bcc2_40a034aa94cd</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8b14fa37_de48_428a_a5cc_535985b6a268</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8bd5493d_9fa3_4ed5_a14b_638f7501f9c6</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8c19a7b0_1acc_4267_b173_696db3a94057</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8d71949d_007d_4d63_840c_f78cf257c9dd</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8f32aeb9_9c3c_4df8_afa8_5282665f6dcd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8f64cdf8_78fc_4798_b564_45af04859bbf</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8f9c7964_e1ec_4625_81f5_e7b6e1223bec</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8ffc9c65_f2fc_49d7_a688_d969ad93f411</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_90dfbf19_1fee_46ee_8242_d6abf7739ad8</name>
        <choiceText>Outreach to Veterans and their Families</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outreach to Veterans and their Families</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91eb98d5_1b61_4538_a892_bd17c019665c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_948a57b3_3fd8_4029_9a28_2c940980f302</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_94dfca88_352c_49be_b56d_249980bdb755</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9506419a_caec_4dab_ab41_d4587aaeb818</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9552a8f4_001d_412e_a89f_335923d23482</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9893de1e_49ce_4b3b_a196_dc500e59884e</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_993abd06_4ed0_4810_ad9c_00be91ce9c19</name>
        <choiceText>Economic Development - What is it? What are you already doing? How to report? Building flexibilities in your plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Economic Development - What is it? What are you already doing? How to report? Building flexibilities in your plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9a041ab7_9cd5_43b9_8068_9b3ec1caacc2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9a427aab_f984_418a_ba4e_88ee198b403e</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9c883b07_abcb_4bab_a6e7_8993db9ddca0</name>
        <choiceText>How to Find a Remote Job Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Find a Remote Job Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d56bc1d_78ee_4838_950a_b1a8949ae7fa</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9f3be3d9_3e0c_4fc9_9597_55521ceafe67</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9fc27ae3_32c5_4711_9b7e_1ccba44f9f83</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a1ea65f5_6b85_497a_b3f7_7a444ef9280d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a637136c_4f92_421e_95fa_dbc098c40cdd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a7666e60_cf8a_4cac_96c7_77962fd2f1bc</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a8ad1bae_703b_444b_a1c6_09589a108c75</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a8c47578_f6d0_4484_bd94_0ef6f3bef00d</name>
        <choiceText>Family Wellness Post Pandemic Lockdown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Wellness Post Pandemic Lockdown</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a9290e15_de0b_4062_9d01_f2787a27831b</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a982f755_fad3_440a_81f5_f80cf4cef019</name>
        <choiceText>WIOA Fundamentals Mod 1: Understanding the Basics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 1: Understanding the Basics</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa078406_f8ba_4cbb_a224_93f29bf86905</name>
        <choiceText>Implementing Career and Technical Education (CTE) Programs of Study - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementing Career and Technical Education (CTE) Programs of Study - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ab59943d_900c_4be6_a974_5f0acb89c8b5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_abc15225_17e9_4a32_836e_5bcfc610eaac</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_abe71946_ae93_442c_9e10_367491737820</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ae28e230_2f3f_48a6_bd5e_33e5841e78c9</name>
        <choiceText>Roundtable Discussion on CCDF Requirements: Highlights and Successful Models - Virtual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roundtable Discussion on CCDF Requirements: Highlights and Successful Models - Virtual</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae3ce7c7_691b_4d45_b9aa_ee18bfd84ac1</name>
        <choiceText>Update on Johnson - O&apos;Malley (JOM) Program - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update on Johnson - O&apos;Malley (JOM) Program - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af4e469f_a8ae_4ccb_85e1_c4b1203c76d8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_af7fc58e_c7ae_4777_af38_bb2a7c1faeb0</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b051e413_f62c_4e63_8d66_731bd370c8e7</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b3ad2f8d_cf02_40ca_a1de_20c53a84bc6b</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b3c28493_ab3b_4e29_9fde_d43305c831da</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b5096cfd_0fc6_455e_8298_1dbd103279f6</name>
        <choiceText>WIOA Fundamentals Mod 3: Grant Operations and Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIOA Fundamentals Mod 3: Grant Operations and Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b55aa8f7_9fdd_4c4f_9451_13e98feca046</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b6177d8d_d369_4676_acbf_8b8d0e2e3178</name>
        <choiceText>Getting Students Excited for Future Careers Using Augmented and Virtual Reality - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Getting Students Excited for Future Careers Using Augmented and Virtual Reality - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b7b85d01_731a_4626_9c66_fae0774b455f</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b8584c29_dea7_4768_96c5_2948991c7dc7</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b9715147_40f4_4b8c_9b66_3a42d1888b86</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bab71c6f_1e08_4f94_af3e_4ad0ee4716ea</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_baba0697_b84a_4128_8ea9_7ef64c86e0b1</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bb8db5fc_b76a_4dc5_ae2d_a55498cd07a3</name>
        <choiceText>STEM Education for Indigenous Youth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STEM Education for Indigenous Youth</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbf168c2_75bc_4cde_bf16_e0f20d19fcd2</name>
        <choiceText>TANF Program Spotlights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TANF Program Spotlights</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bd1b38a1_9b22_4c5f_b539_478aa6e89d92</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd319c68_bdff_4b44_92a7_e1939493ebe8</name>
        <choiceText>477 Financial Overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>477 Financial Overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bdbb3469_a21a_4516_8606_b3b41ef6d9e7</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bf91ba90_34c4_4302_8eb6_d7f5791c0884</name>
        <choiceText>Effectively Serving People with Disabilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Effectively Serving People with Disabilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c13b9e67_0e8d_4706_b848_d70bd6be48e1</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c1ee9982_2736_4718_9b24_e7faad5e8fdf</name>
        <choiceText>Family Wellness Post Pandemic Lockdown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Wellness Post Pandemic Lockdown</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c2f4baf1_44fb_46aa_a38f_843ef0578837</name>
        <choiceText>Virtually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtually</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c3041158_d8b6_4e9c_b59a_0eec4f50ba62</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c38b439e_9471_4d17_84e0_166010f3c748</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c6fe56ea_ec50_48ca_919c_77aea862079c</name>
        <choiceText>Compliance Assistance on Mental Healthy Parity for Employers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance Assistance on Mental Healthy Parity for Employers</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c9a5306c_08ba_43b6_ac04_ff5e1359da86</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c9f54ca2_0ab3_4987_8411_942b3b2cbc42</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cc4ba979_158d_4cb1_8a5a_7223d654e6f7</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cdd7d6c6_ecd5_4b5c_811d_7578f3ebc3d8</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ce3df23f_1e2c_4fcc_a0e9_e37bd4adc2c0</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ced2e722_98e9_4e67_a9d5_05f104aef181</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cfce367d_4fbb_40fd_9b9f_be0b2ef56e1b</name>
        <choiceText>In Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d2887ddd_4817_45a0_b422_ba8ab2ecd108</name>
        <choiceText>P.L. 102-477 Tribal Work Group Meeting (1:30 PM to 3:00 PM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P.L. 102-477 Tribal Work Group Meeting (1:30 PM to 3:00 PM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d2abb30c_b7aa_48b1_896d_5b202cfa8a54</name>
        <choiceText>9130 Financial Reporting (DINAP Edition)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9130 Financial Reporting (DINAP Edition)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d2b10ba7_3a7f_4604_bad6_1c199af71650</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d2e1352c_4bfa_471c_b400_2dd5f57f0949</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d4840af1_37a3_47fd_a423_0d98eb2e6a9b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d5462344_b7d2_47d7_bbef_1e717a8c426c</name>
        <choiceText>How to Make yourself stand out from the rest when applying for a job in cyber security - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Make yourself stand out from the rest when applying for a job in cyber security - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d5f987e6_53f0_4b52_a7f3_5e0fadd3d7c9</name>
        <choiceText>In Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d6c47842_a606_4dd7_8d5b_24cd8c9a5ab8</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d712bb1a_0570_47aa_9215_ff9a3b41f895</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d7698022_4f25_43af_851d_ff5b074abc91</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d78a94f7_f6ad_440c_b001_78d98bfde523</name>
        <choiceText>Leveraging Technology for Better Participant Outcomes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leveraging Technology for Better Participant Outcomes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d9c5c270_50d4_4bf3_bf17_fbd334495f27</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_da2c2f3d_8e08_415f_b7d4_0962e3d60a36</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dbd0ae65_a0fc_47f7_8cce_5785a14dbfb7</name>
        <choiceText>Oklahoma Tribal Vocational Rehabilitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oklahoma Tribal Vocational Rehabilitation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dc5f9285_402e_4158_8a5b_f5741223ed94</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dcc50423_dee9_4de3_9be4_5dd64e2dc09b</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_defc8adb_8971_4a65_806c_b6d38d78dac8</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e10cadb0_1953_40ef_a21e_5e3b80c466be</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e115279a_fcf8_41c3_9b1c_4f5354fd28f0</name>
        <choiceText>Work and Life Changes Require Health Choices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work and Life Changes Require Health Choices</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e307a19a_db6d_43cf_a5b2_a761a7c2e190</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e6172a41_4286_40ea_ae05_4e2cda16f62d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e730ca3f_7412_4d18_a33a_985c3f7d1102</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e77438f8_12c1_426c_b42f_9e3573390d96</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e77a46b4_3acf_4419_bb0b_544c05cf49be</name>
        <choiceText>Reporting - Tell Your Story</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting - Tell Your Story</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e77e6ff1_716b_4236_8ab2_c1b27410e8b0</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e8b771ca_a081_4954_a600_5b61ecbc515e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e912dcb2_63e9_4d37_b323_f2eb1dd72e41</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e99c4f0d_2f2f_411e_ad40_4f41a882b876</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e9db3c84_5848_4e94_9355_ec655104a39b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ea091da0_5a23_4e6f_9eb9_a6c349071f0f</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ea12a5c6_948f_4fd1_98fb_41770daf587a</name>
        <choiceText>How to Develop a Blended Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Develop a Blended Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea55d337_df65_4daf_b91f_91acda7966e8</name>
        <choiceText>Panel Collaborative: VA and DOL Panel Presentation on Education and Employment Training programs and processes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Panel Collaborative: VA and DOL Panel Presentation on Education and Employment Training programs and processes </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eaa7788d_8dca_4d0e_80c4_ab5bc0e1fc2e</name>
        <choiceText>Outreach to Veterans and their Families</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outreach to Veterans and their Families</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eb69c703_b62a_4dfe_8743_eb5de484e617</name>
        <choiceText>Virtually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtually</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ebf61c3e_6c63_4b0e_9ffc_b1821116c6b0</name>
        <choiceText>New Directors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Directors</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec3b79f6_1a8f_416e_81b4_75021db12be7</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ed4fd669_8277_4c78_8184_2fe41166c88c</name>
        <choiceText>Navigating the Challenges for First Generation Graduates and Career Seekers in the Workplace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Navigating the Challenges for First Generation Graduates and Career Seekers in the Workplace</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eeb77ae6_72e6_4747_a977_1a019ce855a9</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ef0d37d5_2cb9_493a_8f37_ed03761882f8</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f0671001_9e83_4ac5_9fd6_bf6f3a6ac75b</name>
        <choiceText>How to Make yourself stand out from the rest when applying for a job in cyber security - VIRTUAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>How to Make yourself stand out from the rest when applying for a job in cyber security - VIRTUAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f08a61fd_424c_4ddb_bdf4_06ae29f8db22</name>
        <choiceText>Virtually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtually</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f0e8beab_dd39_4e78_bdf3_a1d19b29c453</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f11a8466_4637_487c_81f7_0f7d40380b48</name>
        <choiceText>In Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1c615c5_d368_404c_84f1_21b4207b1219</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f3fb862b_d5d2_42eb_adf2_1316e6e8006f</name>
        <choiceText>GPMS Presentation - Beginner Session</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPMS Presentation - Beginner Session</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f4256487_4c37_41dc_a383_370af9defaba</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f4da305a_6aaa_49f1_b42c_13bce42c18e1</name>
        <choiceText>Interacting with Difficult People</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interacting with Difficult People</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f52c7d14_7d83_4590_b925_22a2286d659c</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f65c6beb_9cb1_4af3_b3c9_747fbfb151fe</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f673f88d_f719_461f_ae8d_e2dc07e91ac1</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f6be6ead_a7ed_4f0c_9919_c2d038977250</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f775ad26_38e4_464e_99d4_e2dbad14fd72</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f8c3988b_81c2_42ae_b9e0_43636b3b45b7</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f9d7c473_4c67_4e16_bb9f_d3ffee5ce87c</name>
        <choiceText>GPMS Presentation - Intermediate Session (3:30 PM to 5:00 PM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPMS Presentation - Intermediate Session (3:30 PM to 5:00 PM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f9e0abec_a948_4762_aaef_f17c557a3b39</name>
        <choiceText>GPMS Presentation - Beginner Session</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GPMS Presentation - Beginner Session</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fb362547_9e42_4aca_b6be_b2907e276564</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fd57d7d3_00ee_4dcf_bb69_8554b6fa961c</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fee19fb6_7dd6_4849_b9a5_5878a3437519</name>
        <choiceText>Physical Stress Relief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical Stress Relief</stringValue>
        </value>
    </choices>
    <constants>
        <name>defaultPageNav</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>d_50305d7c_6fe8_43ed_8ca3_24e10b943f4d</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_4c1c4e73_7e13_473b_a13e_5731be6ef63b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_b0c7d404_4f0f_4cab_8b13_e1e7715fefa4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d348a6f6_5ee8_48a9_b11d_44a8048ec4e6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_b55aa8f7_9fdd_4c4f_9451_13e98feca046</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4c1c4e73_7e13_473b_a13e_5731be6ef63b</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_84134d58_f2ab_4d0e_aef7_f66044f496cd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d348a6f6_5ee8_48a9_b11d_44a8048ec4e6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_fb362547_9e42_4aca_b6be_b2907e276564</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8b63882c_c075_474f_8658_8cdd7a699411</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_6f5b2b0a_2ab4_4efa_b53d_86baf8b7d01e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d348a6f6_5ee8_48a9_b11d_44a8048ec4e6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_8d71949d_007d_4d63_840c_f78cf257c9dd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_67656878_e72d_4f62_82a3_6bb88d94e4e1</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_88f886b9_51f3_48fe_8587_cff6c2d2263b</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d348a6f6_5ee8_48a9_b11d_44a8048ec4e6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_e10cadb0_1953_40ef_a21e_5e3b80c466be</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_cfbb60e5_4969_493f_a269_f85e01ac683f</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_307cc465_9dbe_4e60_9b6e_5f8bc427b3b2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d348a6f6_5ee8_48a9_b11d_44a8048ec4e6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_321825b5_ddbb_4b56_b1d9_fe8ac0d03a51</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_4c1c4e73_7e13_473b_a13e_5731be6ef63b</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_8b63882c_c075_474f_8658_8cdd7a699411</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_c611fc7d_7ef4_4910_a90f_2ab651081392</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a2cc92b0_c032_49f6_b762_89675c116b33</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_67656878_e72d_4f62_82a3_6bb88d94e4e1</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_cfbb60e5_4969_493f_a269_f85e01ac683f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_9579bad5_4eb0_42f8_bb85_5eae4942b669</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a2cc92b0_c032_49f6_b762_89675c116b33</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_8b63882c_c075_474f_8658_8cdd7a699411</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_67656878_e72d_4f62_82a3_6bb88d94e4e1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_433512e9_2b0d_4eeb_b8e8_2f7382bf9d31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a2cc92b0_c032_49f6_b762_89675c116b33</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_cfbb60e5_4969_493f_a269_f85e01ac683f</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_5b932dd8_1681_407e_9292_369d07ce53f5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a2cc92b0_c032_49f6_b762_89675c116b33</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>NINAETC Survey</interviewLabel>
    <label>NINAETC Survey</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_3b45ff0c_45d1_4f52_aac5_5b3a2f95ec40</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_50305d7c_6fe8_43ed_8ca3_24e10b943f4d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d348a6f6_5ee8_48a9_b11d_44a8048ec4e6</name>
            <choiceReferences>c_b55aa8f7_9fdd_4c4f_9451_13e98feca046</choiceReferences>
            <choiceReferences>c_fb362547_9e42_4aca_b6be_b2907e276564</choiceReferences>
            <choiceReferences>c_8d71949d_007d_4d63_840c_f78cf257c9dd</choiceReferences>
            <choiceReferences>c_e10cadb0_1953_40ef_a21e_5e3b80c466be</choiceReferences>
            <choiceReferences>c_321825b5_ddbb_4b56_b1d9_fe8ac0d03a51</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which day was your workshop?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4c1c4e73_7e13_473b_a13e_5731be6ef63b</name>
        <label>Sunday Workshop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_4c1c4e73_7e13_473b_a13e_5731be6ef63b</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fc2fada6_df53_4865_99f3_e105ae64fcdf</name>
            <choiceReferences>c_ebf61c3e_6c63_4b0e_9ffc_b1821116c6b0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which workshop did you attend?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b5b02b18_c73a_471b_955e_f93d84cc1002</name>
            <choiceReferences>c_819c018a_5d23_4b17_8d9b_06af563d8abd</choiceReferences>
            <choiceReferences>c_d5f987e6_53f0_4b52_a7f3_5e0fadd3d7c9</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Did you attend this workshop virtually or in person?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a74f5814_5879_4467_83d1_75d2130fad86_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a74f5814_5879_4467_83d1_75d2130fad86</name>
            <choiceReferences>c_5df41ab1_0d38_4d93_8bff_d639b7b54692</choiceReferences>
            <choiceReferences>c_9f3be3d9_3e0c_4fc9_9597_55521ceafe67</choiceReferences>
            <choiceReferences>c_816d00c5_05fa_47bf_924a_57f51d2427ce</choiceReferences>
            <choiceReferences>c_8aa2caee_f20c_4790_bcc2_40a034aa94cd</choiceReferences>
            <choiceReferences>c_18c25f6d_2976_4af2_b77b_9f78a55154f5</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Topic Met Expectation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_41ebc4c9_2975_4968_8eed_dd853f0ac137_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_41ebc4c9_2975_4968_8eed_dd853f0ac137</name>
            <choiceReferences>c_b8584c29_dea7_4768_96c5_2948991c7dc7</choiceReferences>
            <choiceReferences>c_91eb98d5_1b61_4538_a892_bd17c019665c</choiceReferences>
            <choiceReferences>c_cc4ba979_158d_4cb1_8a5a_7223d654e6f7</choiceReferences>
            <choiceReferences>c_e730ca3f_7412_4d18_a33a_985c3f7d1102</choiceReferences>
            <choiceReferences>c_c38b439e_9471_4d17_84e0_166010f3c748</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Knowledge of Topic&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_714843fb_8e4c_4558_a6df_61d4f3e61c55_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_714843fb_8e4c_4558_a6df_61d4f3e61c55</name>
            <choiceReferences>c_a9290e15_de0b_4062_9d01_f2787a27831b</choiceReferences>
            <choiceReferences>c_ced2e722_98e9_4e67_a9d5_05f104aef181</choiceReferences>
            <choiceReferences>c_1cc0c9fd_c7ee_405a_a34f_526d67b34957</choiceReferences>
            <choiceReferences>c_49bf4188_b15e_400e_8bcc_0891b9d6f8ef</choiceReferences>
            <choiceReferences>c_c9f54ca2_0ab3_4987_8411_942b3b2cbc42</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Organization of Materials&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6c592013_022e_44c9_8af3_13dcd7aef0fa_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_6c592013_022e_44c9_8af3_13dcd7aef0fa</name>
            <choiceReferences>c_d712bb1a_0570_47aa_9215_ff9a3b41f895</choiceReferences>
            <choiceReferences>c_e912dcb2_63e9_4d37_b323_f2eb1dd72e41</choiceReferences>
            <choiceReferences>c_13b82eeb_4d6b_44b4_be28_6c20e22df58b</choiceReferences>
            <choiceReferences>c_a1ea65f5_6b85_497a_b3f7_7a444ef9280d</choiceReferences>
            <choiceReferences>c_812d8ad7_242e_4f1a_aeec_89a04155602f</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Style&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e8c4c3f8_52c2_442f_b51e_6613f8839561_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_e8c4c3f8_52c2_442f_b51e_6613f8839561</name>
            <choiceReferences>c_b3ad2f8d_cf02_40ca_a1de_20c53a84bc6b</choiceReferences>
            <choiceReferences>c_dc5f9285_402e_4158_8a5b_f5741223ed94</choiceReferences>
            <choiceReferences>c_f673f88d_f719_461f_ae8d_e2dc07e91ac1</choiceReferences>
            <choiceReferences>c_8b14fa37_de48_428a_a5cc_535985b6a268</choiceReferences>
            <choiceReferences>c_b7b85d01_731a_4626_9c66_fae0774b455f</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Materials-Audio/Visuals&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_bd4ddaea_8985_43f7_9190_6eddfa06ecb9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_bd4ddaea_8985_43f7_9190_6eddfa06ecb9</name>
            <choiceReferences>c_33c07a13_928a_485a_a7f9_fb5fe1d8dc85</choiceReferences>
            <choiceReferences>c_8f64cdf8_78fc_4798_b564_45af04859bbf</choiceReferences>
            <choiceReferences>c_5ad6af45_accf_4567_9f40_5872dc10a3c8</choiceReferences>
            <choiceReferences>c_c13b9e67_0e8d_4706_b848_d70bd6be48e1</choiceReferences>
            <choiceReferences>c_defc8adb_8971_4a65_806c_b6d38d78dac8</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a41dd4ac_1259_4e4a_bf1e_12b809d6255b</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How much of the information covered in this workshop was new to you? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b80030a8_4b87_49ee_86af_acb9fb0920db</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please use the below space for any additional comments or suggestions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_67656878_e72d_4f62_82a3_6bb88d94e4e1</name>
        <label>Tuesday Workshops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_67656878_e72d_4f62_82a3_6bb88d94e4e1</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1d620d73_5174_4242_8a18_a459a3a79535</name>
            <choiceReferences>c_bd319c68_bdff_4b44_92a7_e1939493ebe8</choiceReferences>
            <choiceReferences>c_d2abb30c_b7aa_48b1_896d_5b202cfa8a54</choiceReferences>
            <choiceReferences>c_763f9f58_144a_412b_9e32_7f6a504d3a0c</choiceReferences>
            <choiceReferences>c_6a703b4d_d808_4d54_8fa3_c58dbdfd373c</choiceReferences>
            <choiceReferences>c_7e335f7d_1916_4773_819b_1fd8714fbbcd</choiceReferences>
            <choiceReferences>c_5dc4d09b_9749_48f8_92d6_2d14f7b9dac7</choiceReferences>
            <choiceReferences>c_f3fb862b_d5d2_42eb_adf2_1316e6e8006f</choiceReferences>
            <choiceReferences>c_28910111_9738_4da9_b769_d50477f87e42</choiceReferences>
            <choiceReferences>c_f9d7c473_4c67_4e16_bb9f_d3ffee5ce87c</choiceReferences>
            <choiceReferences>c_80ab830e_383d_44e7_a783_b39239618763</choiceReferences>
            <choiceReferences>c_ea12a5c6_948f_4fd1_98fb_41770daf587a</choiceReferences>
            <choiceReferences>c_4a7c842f_c7fb_4802_838b_e5c34a280a01</choiceReferences>
            <choiceReferences>c_f4da305a_6aaa_49f1_b42c_13bce42c18e1</choiceReferences>
            <choiceReferences>c_ed4fd669_8277_4c78_8184_2fe41166c88c</choiceReferences>
            <choiceReferences>c_10e11d13_46c1_4723_b5d3_3281446f92d3</choiceReferences>
            <choiceReferences>c_572263f5_27a5_4981_97a0_a29a87733069</choiceReferences>
            <choiceReferences>c_90dfbf19_1fee_46ee_8242_d6abf7739ad8</choiceReferences>
            <choiceReferences>c_6400422b_ae2d_4c01_a82f_17e91694b631</choiceReferences>
            <choiceReferences>c_fee19fb6_7dd6_4849_b9a5_5878a3437519</choiceReferences>
            <choiceReferences>c_5a6a60ac_41ce_46af_8e21_c583b0658740</choiceReferences>
            <choiceReferences>c_ae28e230_2f3f_48a6_bd5e_33e5841e78c9</choiceReferences>
            <choiceReferences>c_bb8db5fc_b76a_4dc5_ae2d_a55498cd07a3</choiceReferences>
            <choiceReferences>c_bbf168c2_75bc_4cde_bf16_e0f20d19fcd2</choiceReferences>
            <choiceReferences>c_7a01b1ad_994c_418c_9a43_eb6a759d07e8</choiceReferences>
            <choiceReferences>c_0fc52bd3_72cd_493a_84db_ae43ed1dd15b</choiceReferences>
            <choiceReferences>c_ae3ce7c7_691b_4d45_b9aa_ee18bfd84ac1</choiceReferences>
            <choiceReferences>c_21585041_1f24_4438_b8e7_5de7e8934eae</choiceReferences>
            <choiceReferences>c_4be69e7b_e96a_421e_a8d6_168ed4624569</choiceReferences>
            <choiceReferences>c_52964084_bd05_4b4d_97c0_f054bea9ff31</choiceReferences>
            <choiceReferences>c_243fb4b7_aec2_4301_8040_48fd541ba528</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which workshop did you attend?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_49fc0b4b_f889_4b55_a841_af716d16e338</name>
            <choiceReferences>c_f08a61fd_424c_4ddb_bdf4_06ae29f8db22</choiceReferences>
            <choiceReferences>c_7b44b4da_a38c_493e_8c8a_3e41dbe7f7d8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Did you attend this workshop virtually or in person?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_269ef1f4_cf67_4732_be0b_97fee98c4e61_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_269ef1f4_cf67_4732_be0b_97fee98c4e61</name>
            <choiceReferences>c_fd57d7d3_00ee_4dcf_bb69_8554b6fa961c</choiceReferences>
            <choiceReferences>c_9506419a_caec_4dab_ab41_d4587aaeb818</choiceReferences>
            <choiceReferences>c_e8b771ca_a081_4954_a600_5b61ecbc515e</choiceReferences>
            <choiceReferences>c_0d6b76f2_b03c_4508_ac91_ebe70184e5ec</choiceReferences>
            <choiceReferences>c_d6c47842_a606_4dd7_8d5b_24cd8c9a5ab8</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Topic Met Expectation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_10495283_8411_424f_b557_74e26a9f6317_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_10495283_8411_424f_b557_74e26a9f6317</name>
            <choiceReferences>c_6cfcbdb0_1c87_4747_8911_d17d80b5735b</choiceReferences>
            <choiceReferences>c_9a041ab7_9cd5_43b9_8068_9b3ec1caacc2</choiceReferences>
            <choiceReferences>c_e307a19a_db6d_43cf_a5b2_a761a7c2e190</choiceReferences>
            <choiceReferences>c_83c6a6a7_a3f9_48c9_b879_79c0d4bf1228</choiceReferences>
            <choiceReferences>c_8ffc9c65_f2fc_49d7_a688_d969ad93f411</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Knowledge of Topic&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d3b9d062_d0da_4866_abe5_a5e06b828643_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d3b9d062_d0da_4866_abe5_a5e06b828643</name>
            <choiceReferences>c_eeb77ae6_72e6_4747_a977_1a019ce855a9</choiceReferences>
            <choiceReferences>c_d2b10ba7_3a7f_4604_bad6_1c199af71650</choiceReferences>
            <choiceReferences>c_79581796_d817_4186_847c_17d2c613e400</choiceReferences>
            <choiceReferences>c_6a2ef05d_8bdb_4cf6_b083_f7b6dd4c0b63</choiceReferences>
            <choiceReferences>c_8c19a7b0_1acc_4267_b173_696db3a94057</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Organization of Materials&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ead2905b_824d_4ecd_903e_7e3068ae2ff6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_ead2905b_824d_4ecd_903e_7e3068ae2ff6</name>
            <choiceReferences>c_ef0d37d5_2cb9_493a_8f37_ed03761882f8</choiceReferences>
            <choiceReferences>c_9fc27ae3_32c5_4711_9b7e_1ccba44f9f83</choiceReferences>
            <choiceReferences>c_27431a23_72e9_4f41_8c97_c6bd52f6901f</choiceReferences>
            <choiceReferences>c_76591030_888d_4138_85de_9c21af3d7c36</choiceReferences>
            <choiceReferences>c_272a9dd9_bde6_41bf_a854_0426507bc8ac</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Style&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_1d9dc9db_54a0_49f1_9451_94f207196553_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_1d9dc9db_54a0_49f1_9451_94f207196553</name>
            <choiceReferences>c_b3c28493_ab3b_4e29_9fde_d43305c831da</choiceReferences>
            <choiceReferences>c_73ea41e7_fa17_4efa_a2cf_b30b7faa07b4</choiceReferences>
            <choiceReferences>c_58a14b48_4743_4fc6_b5ab_e174e011e704</choiceReferences>
            <choiceReferences>c_bab71c6f_1e08_4f94_af3e_4ad0ee4716ea</choiceReferences>
            <choiceReferences>c_f65c6beb_9cb1_4af3_b3c9_747fbfb151fe</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Materials-Audio/Visuals&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_82293cad_0d98_4a4b_a754_805d3a44da42_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_82293cad_0d98_4a4b_a754_805d3a44da42</name>
            <choiceReferences>c_53bdaf76_8cbe_477e_a2ea_e5e97ed0f241</choiceReferences>
            <choiceReferences>c_3bb4b097_c33c_466d_bf9a_26264b35c18a</choiceReferences>
            <choiceReferences>c_00ae7fc5_d55b_4b4c_8854_180005377bb8</choiceReferences>
            <choiceReferences>c_480e9b6a_d308_4647_8d8c_94c5ecb5a398</choiceReferences>
            <choiceReferences>c_a7666e60_cf8a_4cac_96c7_77962fd2f1bc</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4b0d2224_c74e_4c70_b0bd_68db1abff852</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How much of the information covered in this workshop was new to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c60462c8_3ec1_47d9_a526_7085d5bbabd3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please use below space for any additional comments or suggestions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b63882c_c075_474f_8658_8cdd7a699411</name>
        <label>Monday Workshops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_8b63882c_c075_474f_8658_8cdd7a699411</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8d8f376f_1097_4867_a906_96d9a54961d7</name>
            <choiceReferences>c_a8c47578_f6d0_4484_bd94_0ef6f3bef00d</choiceReferences>
            <choiceReferences>c_f9e0abec_a948_4762_aaef_f17c557a3b39</choiceReferences>
            <choiceReferences>c_1916cb55_8c01_40ac_9c93_3f14bbfa30b7</choiceReferences>
            <choiceReferences>c_5f73392f_d7a6_4b24_8325_045972d1918c</choiceReferences>
            <choiceReferences>c_dbd0ae65_a0fc_47f7_8cce_5785a14dbfb7</choiceReferences>
            <choiceReferences>c_2284a89a_66bc_40c7_bbf4_de49a7987f79</choiceReferences>
            <choiceReferences>c_d2887ddd_4817_45a0_b422_ba8ab2ecd108</choiceReferences>
            <choiceReferences>c_38ebf94d_358a_4da2_91c7_f88f3fdb60d7</choiceReferences>
            <choiceReferences>c_3db04ff0_e44f_4420_a9e1_6ec97f79f36c</choiceReferences>
            <choiceReferences>c_673ad2f7_4180_4f1e_be42_29f4ac8fc664</choiceReferences>
            <choiceReferences>c_435bcab2_ec04_4f00_aca5_88e9110444db</choiceReferences>
            <choiceReferences>c_5429143a_5a5b_49fe_876d_92ff1e27cb33</choiceReferences>
            <choiceReferences>c_a982f755_fad3_440a_81f5_f80cf4cef019</choiceReferences>
            <choiceReferences>c_b5096cfd_0fc6_455e_8298_1dbd103279f6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which Workshop did you attend?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_63105ed4_76e3_4646_95e3_61956af93709</name>
            <choiceReferences>c_0539cd3e_5f9e_4925_b0bc_0620f07644e5</choiceReferences>
            <choiceReferences>c_0238dc59_3aa0_48bc_b2fb_961355389f12</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Did you attend this workshop virtually or in person?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f81dd2b9_049d_4a36_ba55_9150fe8943fd_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f81dd2b9_049d_4a36_ba55_9150fe8943fd</name>
            <choiceReferences>c_d2e1352c_4bfa_471c_b400_2dd5f57f0949</choiceReferences>
            <choiceReferences>c_7b92dbf6_85a7_46ad_977b_5508f303316b</choiceReferences>
            <choiceReferences>c_af4e469f_a8ae_4ccb_85e1_c4b1203c76d8</choiceReferences>
            <choiceReferences>c_d4840af1_37a3_47fd_a423_0d98eb2e6a9b</choiceReferences>
            <choiceReferences>c_e77e6ff1_716b_4236_8ab2_c1b27410e8b0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Topic Met Expectation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a1b4988d_a9c8_488f_91da_d969b02d95d3_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a1b4988d_a9c8_488f_91da_d969b02d95d3</name>
            <choiceReferences>c_3d4d509f_db30_4b5f_82f2_aa8fd19d6a31</choiceReferences>
            <choiceReferences>c_1c1507b7_29da_48c5_92b3_99e11a4895c3</choiceReferences>
            <choiceReferences>c_9552a8f4_001d_412e_a89f_335923d23482</choiceReferences>
            <choiceReferences>c_169a15da_ef50_426c_9c7d_4291dd132c13</choiceReferences>
            <choiceReferences>c_e99c4f0d_2f2f_411e_ad40_4f41a882b876</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Knowledge of Topic&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a44d61e3_13a3_426d_a7f1_bda185476af4_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a44d61e3_13a3_426d_a7f1_bda185476af4</name>
            <choiceReferences>c_67bf2ef8_96d9_4e2a_9e28_52febed5de55</choiceReferences>
            <choiceReferences>c_94dfca88_352c_49be_b56d_249980bdb755</choiceReferences>
            <choiceReferences>c_17118cd6_06e8_4e3f_a058_5a13dd005572</choiceReferences>
            <choiceReferences>c_d9c5c270_50d4_4bf3_bf17_fbd334495f27</choiceReferences>
            <choiceReferences>c_f52c7d14_7d83_4590_b925_22a2286d659c</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Organization of Materials&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_23400ad2_d3dc_4f69_844e_411e75410623_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_23400ad2_d3dc_4f69_844e_411e75410623</name>
            <choiceReferences>c_3f5f96ee_ab68_4ddf_aeff_d736ca38b973</choiceReferences>
            <choiceReferences>c_4619132b_1c41_48bf_8828_58381af17e3d</choiceReferences>
            <choiceReferences>c_948a57b3_3fd8_4029_9a28_2c940980f302</choiceReferences>
            <choiceReferences>c_cdd7d6c6_ecd5_4b5c_811d_7578f3ebc3d8</choiceReferences>
            <choiceReferences>c_9a427aab_f984_418a_ba4e_88ee198b403e</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Style&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4ac43f04_ff8b_4370_8586_2bc57665d1ba_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_4ac43f04_ff8b_4370_8586_2bc57665d1ba</name>
            <choiceReferences>c_1b3df7b9_9863_4524_be91_ccd53289244e</choiceReferences>
            <choiceReferences>c_f4256487_4c37_41dc_a383_370af9defaba</choiceReferences>
            <choiceReferences>c_18ed545c_3de0_4364_bfd0_2213f36d4f1e</choiceReferences>
            <choiceReferences>c_ab59943d_900c_4be6_a974_5f0acb89c8b5</choiceReferences>
            <choiceReferences>c_ce3df23f_1e2c_4fcc_a0e9_e37bd4adc2c0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Materials-Audio/Visuals&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_831758e7_8037_4a07_927d_fc2314b3148d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_831758e7_8037_4a07_927d_fc2314b3148d</name>
            <choiceReferences>c_10ee7297_4d3e_4766_81f8_a2c0caf9db7a</choiceReferences>
            <choiceReferences>c_0a3a5049_df7e_49b7_bd41_ae47baf0e59b</choiceReferences>
            <choiceReferences>c_10d51cd6_69da_4cbc_a551_caa004cb723e</choiceReferences>
            <choiceReferences>c_f775ad26_38e4_464e_99d4_e2dbad14fd72</choiceReferences>
            <choiceReferences>c_baba0697_b84a_4128_8ea9_7ef64c86e0b1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <name>q_09586a3d_001b_4cb4_ab83_5aac72aeef2d</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How much of the information covered in this workshop was new to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b12f5dfc_cd81_4a1d_8233_b7aca0e0f867</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please use below space for any additional comments or suggestions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a2cc92b0_c032_49f6_b762_89675c116b33</name>
        <label>Drawing Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_357eae21_ac6a_4d20_8159_16528198ed32</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your name to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6e70f0b7_edfd_4ba1_8090_5d429a719786</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your email to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_6e70f0b7_edfd_4ba1_8090_5d429a719786},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2b289428_8bf8_413b_9c84_d09936216102</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your address to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_de60f117_ac96_4a32_84f9_60edb092a761</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your phone number to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</name>
        <label>Thursday Workshops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a2cc92b0_c032_49f6_b762_89675c116b33</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_26035592_87e3_468b_9ecb_15c37ff19674</name>
            <choiceReferences>c_0845f451_aa23_40d3_a647_6ffd2711773c</choiceReferences>
            <choiceReferences>c_0f021e7f_aebd_45d1_87bb_36a6a7ea0d5a</choiceReferences>
            <choiceReferences>c_89dde669_ff1d_4eb2_a82d_16c926454c92</choiceReferences>
            <choiceReferences>c_856202af_cca3_4194_bcbd_e5d99a10659a</choiceReferences>
            <choiceReferences>c_c1ee9982_2736_4718_9b24_e7faad5e8fdf</choiceReferences>
            <choiceReferences>c_b6177d8d_d369_4676_acbf_8b8d0e2e3178</choiceReferences>
            <choiceReferences>c_f0671001_9e83_4ac5_9fd6_bf6f3a6ac75b</choiceReferences>
            <choiceReferences>c_d78a94f7_f6ad_440c_b001_78d98bfde523</choiceReferences>
            <choiceReferences>c_793dfb61_576c_4f63_831c_1954cbc36a6c</choiceReferences>
            <choiceReferences>c_17e4cc8c_6c7e_4cd6_aa6c_7d158c4897c5</choiceReferences>
            <choiceReferences>c_e115279a_fcf8_41c3_9b1c_4f5354fd28f0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which workshop did you attend?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3d7bf831_f065_42c0_abd5_18c6460b6050</name>
            <choiceReferences>c_eb69c703_b62a_4dfe_8743_eb5de484e617</choiceReferences>
            <choiceReferences>c_f11a8466_4637_487c_81f7_0f7d40380b48</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Did you attend this workshop virtually or in person?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b584edd3_dc04_4a6e_802a_97af80096f93_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b584edd3_dc04_4a6e_802a_97af80096f93</name>
            <choiceReferences>c_46f93fde_a005_40fa_9665_2f969ee53360</choiceReferences>
            <choiceReferences>c_3d4705ed_0376_43f4_bde1_8c56b95facf4</choiceReferences>
            <choiceReferences>c_f6be6ead_a7ed_4f0c_9919_c2d038977250</choiceReferences>
            <choiceReferences>c_a8ad1bae_703b_444b_a1c6_09589a108c75</choiceReferences>
            <choiceReferences>c_abc15225_17e9_4a32_836e_5bcfc610eaac</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Topic Met Expectation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a95236d1_707d_488f_8398_02fa624b1219_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a95236d1_707d_488f_8398_02fa624b1219</name>
            <choiceReferences>c_08700303_5868_4fc8_876d_30052723aa34</choiceReferences>
            <choiceReferences>c_f8c3988b_81c2_42ae_b9e0_43636b3b45b7</choiceReferences>
            <choiceReferences>c_c3041158_d8b6_4e9c_b59a_0eec4f50ba62</choiceReferences>
            <choiceReferences>c_0245c67d_9a2c_46ff_a7a2_96dd79191480</choiceReferences>
            <choiceReferences>c_56d33f38_acea_494b_a6d8_2ac3dc5e3de8</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Knowledge of Topic&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ea3f8a57_dc8a_4761_a1e7_059a19f2eaa1_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_ea3f8a57_dc8a_4761_a1e7_059a19f2eaa1</name>
            <choiceReferences>c_3ffdccdf_6374_4cdd_aabe_00087e5bb8b8</choiceReferences>
            <choiceReferences>c_dcc50423_dee9_4de3_9be4_5dd64e2dc09b</choiceReferences>
            <choiceReferences>c_7c95f69d_2b0c_4c03_be2a_a96a1d33aa5c</choiceReferences>
            <choiceReferences>c_e6172a41_4286_40ea_ae05_4e2cda16f62d</choiceReferences>
            <choiceReferences>c_abe71946_ae93_442c_9e10_367491737820</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Organization of Materials&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_eff105af_1f0f_49f0_8931_e0475847837a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_eff105af_1f0f_49f0_8931_e0475847837a</name>
            <choiceReferences>c_63bc03aa_8f07_4a60_a1ba_8ce92e1d0d7d</choiceReferences>
            <choiceReferences>c_8f32aeb9_9c3c_4df8_afa8_5282665f6dcd</choiceReferences>
            <choiceReferences>c_bd1b38a1_9b22_4c5f_b539_478aa6e89d92</choiceReferences>
            <choiceReferences>c_4dc8dc87_cb94_47a3_85d2_816f8c98aa3b</choiceReferences>
            <choiceReferences>c_6a5695f3_8bfc_4a04_8bda_b5934e5e722b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Style&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_735640b9_8422_443f_98e3_254fe7338b4c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_735640b9_8422_443f_98e3_254fe7338b4c</name>
            <choiceReferences>c_73419f8e_7662_45d9_bbf4_42b97859b52f</choiceReferences>
            <choiceReferences>c_495c2500_df8b_4222_b628_203df0f01b1c</choiceReferences>
            <choiceReferences>c_52dfba54_721d_4dd0_bb01_70bd24a34dc7</choiceReferences>
            <choiceReferences>c_5ee22042_d49d_40b3_8615_f9c95025e769</choiceReferences>
            <choiceReferences>c_9893de1e_49ce_4b3b_a196_dc500e59884e</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Materials-Audio/Visual&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5ca2d43a_849f_4cf2_834d_f4687e4c144a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5ca2d43a_849f_4cf2_834d_f4687e4c144a</name>
            <choiceReferences>c_da2c2f3d_8e08_415f_b7d4_0962e3d60a36</choiceReferences>
            <choiceReferences>c_685939b0_a8c7_42d5_9f4b_1fd94153c23c</choiceReferences>
            <choiceReferences>c_f0e8beab_dd39_4e78_bdf3_a1d19b29c453</choiceReferences>
            <choiceReferences>c_af7fc58e_c7ae_4777_af38_bb2a7c1faeb0</choiceReferences>
            <choiceReferences>c_d7698022_4f25_43af_851d_ff5b074abc91</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a3d2765a_5772_4f05_a473_b18714662e12</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How much of the information covered in this workshop was new to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_924759d5_c466_4e26_b505_65a47d47851c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please use below space for any additional comments or suggestions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_cfbb60e5_4969_493f_a269_f85e01ac683f</name>
        <label>Wednesday Workshops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_cfbb60e5_4969_493f_a269_f85e01ac683f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0898b735_e02c_4ac5_beb5_fd386703baed</name>
            <choiceReferences>c_276f3e4e_553e_4be1_a72b_0e166f32f4de</choiceReferences>
            <choiceReferences>c_1cb825af_2861_4e10_9979_ef3009723437</choiceReferences>
            <choiceReferences>c_107b2161_f74f_4b06_9cba_d1e7c9c508f9</choiceReferences>
            <choiceReferences>c_1d753bc1_df54_4f46_92f0_bdb09b3d87fc</choiceReferences>
            <choiceReferences>c_c6fe56ea_ec50_48ca_919c_77aea862079c</choiceReferences>
            <choiceReferences>c_993abd06_4ed0_4810_ad9c_00be91ce9c19</choiceReferences>
            <choiceReferences>c_bf91ba90_34c4_4302_8eb6_d7f5791c0884</choiceReferences>
            <choiceReferences>c_72ec4b80_c352_4d78_9bfa_93d210431ab9</choiceReferences>
            <choiceReferences>c_9c883b07_abcb_4bab_a6e7_8993db9ddca0</choiceReferences>
            <choiceReferences>c_d5462344_b7d2_47d7_bbef_1e717a8c426c</choiceReferences>
            <choiceReferences>c_aa078406_f8ba_4cbb_a224_93f29bf86905</choiceReferences>
            <choiceReferences>c_6a8c61ae_81a3_48d6_b7df_8a6105811fc0</choiceReferences>
            <choiceReferences>c_eaa7788d_8dca_4d0e_80c4_ab5bc0e1fc2e</choiceReferences>
            <choiceReferences>c_ea55d337_df65_4daf_b91f_91acda7966e8</choiceReferences>
            <choiceReferences>c_3326832c_9e54_411f_ac84_ba4b8dcd8eb9</choiceReferences>
            <choiceReferences>c_e77a46b4_3acf_4419_bb0b_544c05cf49be</choiceReferences>
            <choiceReferences>c_67a4dc20_797e_439e_8d89_1171f612c2f0</choiceReferences>
            <choiceReferences>c_0a54b3b3_31e3_4bcc_9663_e510c1ee94e2</choiceReferences>
            <choiceReferences>c_4393ca18_9d13_4c4b_8795_e3c3fdb00d23</choiceReferences>
            <choiceReferences>c_4382508b_3066_4a3f_90c9_f3de099aa757</choiceReferences>
            <choiceReferences>c_03562f1f_c532_49ee_b757_d1ad36163a06</choiceReferences>
            <choiceReferences>c_84b94c8e_93f9_4c72_b2ac_2d820548bad4</choiceReferences>
            <choiceReferences>c_7791cd39_4924_4ace_a7be_2b0c9eeb9a20</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which workshop did you attend?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_82617bdf_a824_4376_b411_b5aeca3abade</name>
            <choiceReferences>c_c2f4baf1_44fb_46aa_a38f_843ef0578837</choiceReferences>
            <choiceReferences>c_cfce367d_4fbb_40fd_9b9f_be0b2ef56e1b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Did you attend this workshop virtually or in person?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5011ead8_fba0_448d_abbb_b1b8d320039e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5011ead8_fba0_448d_abbb_b1b8d320039e</name>
            <choiceReferences>c_79e7a166_81a1_45d0_bec8_e9e92924ca85</choiceReferences>
            <choiceReferences>c_b9715147_40f4_4b8c_9b66_3a42d1888b86</choiceReferences>
            <choiceReferences>c_5522a735_4fde_4d5c_b3a9_f69ac7e01a31</choiceReferences>
            <choiceReferences>c_40e14f1f_639c_4c24_888a_9cbc29fbd40a</choiceReferences>
            <choiceReferences>c_f1c615c5_d368_404c_84f1_21b4207b1219</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Topic Met Expectation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2d16b71f_3f0c_49da_adc9_54c79e2956b0_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_2d16b71f_3f0c_49da_adc9_54c79e2956b0</name>
            <choiceReferences>c_82e83ead_0dee_4860_bbdc_29afbf761da1</choiceReferences>
            <choiceReferences>c_1fefcef0_1f4a_4d64_b8ac_8796268f1284</choiceReferences>
            <choiceReferences>c_1fef9fdc_0958_4af1_8add_7d4a458df400</choiceReferences>
            <choiceReferences>c_6fb17221_b92c_4e3b_9cb7_01e0b9b3fcc0</choiceReferences>
            <choiceReferences>c_132557a8_59bf_45b0_a3c4_7eb744d3d0b7</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Knowledge of Topic&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_097b4149_0d8e_46b7_a73f_2d3350f48643_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_097b4149_0d8e_46b7_a73f_2d3350f48643</name>
            <choiceReferences>c_ec3b79f6_1a8f_416e_81b4_75021db12be7</choiceReferences>
            <choiceReferences>c_8455a10f_98e8_4b1e_bf34_ec127a302a73</choiceReferences>
            <choiceReferences>c_e77438f8_12c1_426c_b42f_9e3573390d96</choiceReferences>
            <choiceReferences>c_8f9c7964_e1ec_4625_81f5_e7b6e1223bec</choiceReferences>
            <choiceReferences>c_724f0b5e_c134_4178_afff_fbae64e458d8</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Organization of Materials&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b89900cf_ed77_4138_b7b5_38e649aa4a85_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b89900cf_ed77_4138_b7b5_38e649aa4a85</name>
            <choiceReferences>c_8bd5493d_9fa3_4ed5_a14b_638f7501f9c6</choiceReferences>
            <choiceReferences>c_c9a5306c_08ba_43b6_ac04_ff5e1359da86</choiceReferences>
            <choiceReferences>c_18426804_08b8_4d48_aa1a_1cc3450604e9</choiceReferences>
            <choiceReferences>c_1352fcb8_a4ff_443f_b73f_36841dddbc3d</choiceReferences>
            <choiceReferences>c_74b9dd3d_0dbc_4ffe_b537_159464baeba0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Speaker&apos;s Style&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e283041b_dc64_4a52_bc3c_7fd1e818b277_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_e283041b_dc64_4a52_bc3c_7fd1e818b277</name>
            <choiceReferences>c_bdbb3469_a21a_4516_8606_b3b41ef6d9e7</choiceReferences>
            <choiceReferences>c_a637136c_4f92_421e_95fa_dbc098c40cdd</choiceReferences>
            <choiceReferences>c_9d56bc1d_78ee_4838_950a_b1a8949ae7fa</choiceReferences>
            <choiceReferences>c_5eb73a9e_6e7f_4fc9_89c8_56159f7b8769</choiceReferences>
            <choiceReferences>c_63f698b2_c020_416c_8cd3_83a26393bc15</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Materials-Audio/Visual&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_927e1595_73a4_4608_827e_2868d66ce0f6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_927e1595_73a4_4608_827e_2868d66ce0f6</name>
            <choiceReferences>c_ea091da0_5a23_4e6f_9eb9_a6c349071f0f</choiceReferences>
            <choiceReferences>c_b051e413_f62c_4e63_8d66_731bd370c8e7</choiceReferences>
            <choiceReferences>c_e9db3c84_5848_4e94_9355_ec655104a39b</choiceReferences>
            <choiceReferences>c_0cc5738e_477f_488d_b686_20c6e60cf076</choiceReferences>
            <choiceReferences>c_1868ed6d_ab66_479d_8b5b_1a0b68ed4608</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall Experience&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </processMetadataValues>
            <name>q_15eecd1a_5718_4b20_a0c8_899a73f3f54f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How much of the information covered in this workshop was new to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_32b87362_9a23_4a3d_93cd_61c24e79597b</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please use below space for any additional comments or suggestions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_3b45ff0c_45d1_4f52_aac5_5b3a2f95ec40</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Welcome!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_097b4149_0d8e_46b7_a73f_2d3350f48643_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_10495283_8411_424f_b557_74e26a9f6317_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_1d9dc9db_54a0_49f1_9451_94f207196553_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_23400ad2_d3dc_4f69_844e_411e75410623_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_269ef1f4_cf67_4732_be0b_97fee98c4e61_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_2d16b71f_3f0c_49da_adc9_54c79e2956b0_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_41ebc4c9_2975_4968_8eed_dd853f0ac137_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_4ac43f04_ff8b_4370_8586_2bc57665d1ba_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5011ead8_fba0_448d_abbb_b1b8d320039e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5ca2d43a_849f_4cf2_834d_f4687e4c144a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_6c592013_022e_44c9_8af3_13dcd7aef0fa_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_714843fb_8e4c_4558_a6df_61d4f3e61c55_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_735640b9_8422_443f_98e3_254fe7338b4c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_82293cad_0d98_4a4b_a754_805d3a44da42_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_831758e7_8037_4a07_927d_fc2314b3148d_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_927e1595_73a4_4608_827e_2868d66ce0f6_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a1b4988d_a9c8_488f_91da_d969b02d95d3_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a44d61e3_13a3_426d_a7f1_bda185476af4_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a74f5814_5879_4467_83d1_75d2130fad86_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a95236d1_707d_488f_8398_02fa624b1219_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b584edd3_dc04_4a6e_802a_97af80096f93_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b89900cf_ed77_4138_b7b5_38e649aa4a85_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_bd4ddaea_8985_43f7_9190_6eddfa06ecb9_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d3b9d062_d0da_4866_abe5_a5e06b828643_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e283041b_dc64_4a52_bc3c_7fd1e818b277_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e8c4c3f8_52c2_442f_b51e_6613f8839561_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_ea3f8a57_dc8a_4761_a1e7_059a19f2eaa1_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_ead2905b_824d_4ecd_903e_7e3068ae2ff6_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_eff105af_1f0f_49f0_8931_e0475847837a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f81dd2b9_049d_4a36_ba55_9150fe8943fd_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
