force-app/main/default/flows/ninaetc_overall_evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a2cc92b0_c032_49f6_b762_89675c116b33</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0245c67d_9a2c_46ff_a7a2_96dd79191480</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_08700303_5868_4fc8_876d_30052723aa34</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1e0d2f1e_7118_4683_86db_3d649e8ca3c0</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3d4705ed_0376_43f4_bde1_8c56b95facf4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3ffdccdf_6374_4cdd_aabe_00087e5bb8b8</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_46f93fde_a005_40fa_9665_2f969ee53360</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_495c2500_df8b_4222_b628_203df0f01b1c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_49c698b7_45ea_4024_9894_8664c9c8906b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4dc8dc87_cb94_47a3_85d2_816f8c98aa3b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_52dfba54_721d_4dd0_bb01_70bd24a34dc7</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5454d3e2_31a6_47c8_8764_ba52e9bf9629</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_56d33f38_acea_494b_a6d8_2ac3dc5e3de8</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5ee22042_d49d_40b3_8615_f9c95025e769</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_63bc03aa_8f07_4a60_a1ba_8ce92e1d0d7d</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_685939b0_a8c7_42d5_9f4b_1fd94153c23c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6a5695f3_8bfc_4a04_8bda_b5934e5e722b</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_73419f8e_7662_45d9_bbf4_42b97859b52f</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7c95f69d_2b0c_4c03_be2a_a96a1d33aa5c</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8f32aeb9_9c3c_4df8_afa8_5282665f6dcd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9893de1e_49ce_4b3b_a196_dc500e59884e</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a6c8d98c_957c_4441_af47_92c56923c3bf</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a8ad1bae_703b_444b_a1c6_09589a108c75</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_aad6a6b0_f653_4f7d_99db_188eee308792</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_abc15225_17e9_4a32_836e_5bcfc610eaac</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_abe71946_ae93_442c_9e10_367491737820</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_af7fc58e_c7ae_4777_af38_bb2a7c1faeb0</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd1b38a1_9b22_4c5f_b539_478aa6e89d92</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c3041158_d8b6_4e9c_b59a_0eec4f50ba62</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d7698022_4f25_43af_851d_ff5b074abc91</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_da2c2f3d_8e08_415f_b7d4_0962e3d60a36</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dcc50423_dee9_4de3_9be4_5dd64e2dc09b</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e6172a41_4286_40ea_ae05_4e2cda16f62d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f0e8beab_dd39_4e78_bdf3_a1d19b29c453</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f6be6ead_a7ed_4f0c_9919_c2d038977250</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f8c3988b_81c2_42ae_b9e0_43636b3b45b7</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>NINAETC Overall Evaluation</interviewLabel>
    <label>NINAETC Overall Evaluation</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_ninaetc_overall_evaluation_5_ff205112_fbaf_4e77_9813_a6460e26d866</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_a2cc92b0_c032_49f6_b762_89675c116b33</name>
        <label>Drawing Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_357eae21_ac6a_4d20_8159_16528198ed32</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your name to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6e70f0b7_edfd_4ba1_8090_5d429a719786</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your email to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_6e70f0b7_edfd_4ba1_8090_5d429a719786},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2b289428_8bf8_413b_9c84_d09936216102</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your address to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[0-9]{3}-[0-9]{3}-[0-9]{4}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_de60f117_ac96_4a32_84f9_60edb092a761</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your phone number to be entered in the drawing.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please format your phone number as 111-111-1111</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_de60f117_ac96_4a32_84f9_60edb092a761},&quot;[0-9]{3}-[0-9]{3}-[0-9]{4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</name>
        <label>Evaluation Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a2cc92b0_c032_49f6_b762_89675c116b33</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b584edd3_dc04_4a6e_802a_97af80096f93_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b584edd3_dc04_4a6e_802a_97af80096f93</name>
            <choiceReferences>c_46f93fde_a005_40fa_9665_2f969ee53360</choiceReferences>
            <choiceReferences>c_3d4705ed_0376_43f4_bde1_8c56b95facf4</choiceReferences>
            <choiceReferences>c_f6be6ead_a7ed_4f0c_9919_c2d038977250</choiceReferences>
            <choiceReferences>c_a8ad1bae_703b_444b_a1c6_09589a108c75</choiceReferences>
            <choiceReferences>c_abc15225_17e9_4a32_836e_5bcfc610eaac</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How was the training registration check-in process?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a95236d1_707d_488f_8398_02fa624b1219_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a95236d1_707d_488f_8398_02fa624b1219</name>
            <choiceReferences>c_08700303_5868_4fc8_876d_30052723aa34</choiceReferences>
            <choiceReferences>c_f8c3988b_81c2_42ae_b9e0_43636b3b45b7</choiceReferences>
            <choiceReferences>c_c3041158_d8b6_4e9c_b59a_0eec4f50ba62</choiceReferences>
            <choiceReferences>c_0245c67d_9a2c_46ff_a7a2_96dd79191480</choiceReferences>
            <choiceReferences>c_56d33f38_acea_494b_a6d8_2ac3dc5e3de8</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Were the workshop topics relevant to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ea3f8a57_dc8a_4761_a1e7_059a19f2eaa1_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_ea3f8a57_dc8a_4761_a1e7_059a19f2eaa1</name>
            <choiceReferences>c_3ffdccdf_6374_4cdd_aabe_00087e5bb8b8</choiceReferences>
            <choiceReferences>c_dcc50423_dee9_4de3_9be4_5dd64e2dc09b</choiceReferences>
            <choiceReferences>c_7c95f69d_2b0c_4c03_be2a_a96a1d33aa5c</choiceReferences>
            <choiceReferences>c_e6172a41_4286_40ea_ae05_4e2cda16f62d</choiceReferences>
            <choiceReferences>c_abe71946_ae93_442c_9e10_367491737820</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall, were the speakers informative, prepared and understandable? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_eff105af_1f0f_49f0_8931_e0475847837a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_eff105af_1f0f_49f0_8931_e0475847837a</name>
            <choiceReferences>c_63bc03aa_8f07_4a60_a1ba_8ce92e1d0d7d</choiceReferences>
            <choiceReferences>c_8f32aeb9_9c3c_4df8_afa8_5282665f6dcd</choiceReferences>
            <choiceReferences>c_bd1b38a1_9b22_4c5f_b539_478aa6e89d92</choiceReferences>
            <choiceReferences>c_4dc8dc87_cb94_47a3_85d2_816f8c98aa3b</choiceReferences>
            <choiceReferences>c_6a5695f3_8bfc_4a04_8bda_b5934e5e722b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please rate the workshop training rooms.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_735640b9_8422_443f_98e3_254fe7338b4c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_735640b9_8422_443f_98e3_254fe7338b4c</name>
            <choiceReferences>c_73419f8e_7662_45d9_bbf4_42b97859b52f</choiceReferences>
            <choiceReferences>c_495c2500_df8b_4222_b628_203df0f01b1c</choiceReferences>
            <choiceReferences>c_52dfba54_721d_4dd0_bb01_70bd24a34dc7</choiceReferences>
            <choiceReferences>c_5ee22042_d49d_40b3_8615_f9c95025e769</choiceReferences>
            <choiceReferences>c_9893de1e_49ce_4b3b_a196_dc500e59884e</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;I can put what I learn to immediate use.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5ca2d43a_849f_4cf2_834d_f4687e4c144a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5ca2d43a_849f_4cf2_834d_f4687e4c144a</name>
            <choiceReferences>c_da2c2f3d_8e08_415f_b7d4_0962e3d60a36</choiceReferences>
            <choiceReferences>c_685939b0_a8c7_42d5_9f4b_1fd94153c23c</choiceReferences>
            <choiceReferences>c_f0e8beab_dd39_4e78_bdf3_a1d19b29c453</choiceReferences>
            <choiceReferences>c_af7fc58e_c7ae_4777_af38_bb2a7c1faeb0</choiceReferences>
            <choiceReferences>c_d7698022_4f25_43af_851d_ff5b074abc91</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Were your hotel accommodations adequate?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c0db4beb_ce61_4c92_a49b_523536485244_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_c0db4beb_ce61_4c92_a49b_523536485244</name>
            <choiceReferences>c_5454d3e2_31a6_47c8_8764_ba52e9bf9629</choiceReferences>
            <choiceReferences>c_aad6a6b0_f653_4f7d_99db_188eee308792</choiceReferences>
            <choiceReferences>c_a6c8d98c_957c_4441_af47_92c56923c3bf</choiceReferences>
            <choiceReferences>c_49c698b7_45ea_4024_9894_8664c9c8906b</choiceReferences>
            <choiceReferences>c_1e0d2f1e_7118_4683_86db_3d649e8ca3c0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Overall, how would you rate the training?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c7ab401f_520f_43e2_b506_3db36dd2eb1f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please use the space below for additional comments or suggestions.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_b9ab3f1b_2d23_4492_a084_459eb4004bdd</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://cherokeenation--cnfullcopy--c.documentforce.com/file-asset-public/NINAETC_Logo_all_three_seals2?oid=00D7e00000GL6XU&amp;amp;v=1&quot; alt=&quot;NINAETC Logo- all three seals&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;Welcome!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_5ca2d43a_849f_4cf2_834d_f4687e4c144a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_735640b9_8422_443f_98e3_254fe7338b4c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a95236d1_707d_488f_8398_02fa624b1219_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b584edd3_dc04_4a6e_802a_97af80096f93_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_c0db4beb_ce61_4c92_a49b_523536485244_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_ea3f8a57_dc8a_4761_a1e7_059a19f2eaa1_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_eff105af_1f0f_49f0_8931_e0475847837a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
