force-app/main/default/flows/public_health_wellness_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f87087e0_34c6_43c6_97b0_ed31ee424328</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_2ebb5020_4b47_456e_a044_96c838c5d3c1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_63309218_14c3_4c94_bb72_ab0ebadb164e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8b05baec_3dfa_44f3_a405_12ad3700c75f</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_0becfaba_fec4_4cfb_b4ab_b4adb3f142bf</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_82835ea9_9e82_4758_81ec_c904f641f640</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_15ad342d_e8b7_4649_9f94_a9fa3809b923</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_7371f2da_39a1_4df6_92f6_3a7cbc0d5d30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_85b2c689_05cd_4504_9b65_01f693deef2b_rank0&quot;,&quot;rankText&quot;:&quot;{!q_85b2c689_05cd_4504_9b65_01f693deef2b_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_85b2c689_05cd_4504_9b65_01f693deef2b_rank1&quot;,&quot;rankText&quot;:&quot;{!q_85b2c689_05cd_4504_9b65_01f693deef2b_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_85b2c689_05cd_4504_9b65_01f693deef2b_rank2&quot;,&quot;rankText&quot;:&quot;{!q_85b2c689_05cd_4504_9b65_01f693deef2b_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_85b2c689_05cd_4504_9b65_01f693deef2b_rank3&quot;,&quot;rankText&quot;:&quot;{!q_85b2c689_05cd_4504_9b65_01f693deef2b_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_85b2c689_05cd_4504_9b65_01f693deef2b_rank4&quot;,&quot;rankText&quot;:&quot;{!q_85b2c689_05cd_4504_9b65_01f693deef2b_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0172a970_6334_474d_b109_3c091eb2036f</name>
        <choiceText>Nowata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nowata</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_02a59808_b493_4c90_a192_d79069f11eef</name>
        <choiceText>11:00 am - 1:00 pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 am - 1:00 pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_059ca16e_77a0_4c75_ab2a_4881642ef536</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_066652ea_36b1_4ea5_9cf4_de231f95755a</name>
        <choiceText>Fort Gibson</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fort Gibson</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06f7ee21_d566_4324_a50a_b151cb43113e</name>
        <choiceText>Bartlesville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bartlesville</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_087b04c4_48e0_4e5d_bed1_7eac4a61e4f0</name>
        <choiceText>Vinita</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vinita</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_08eb9d62_2f01_4dc1_a2f0_182d4ed232d5</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_092f54ba_b534_4fc7_81ef_1f7029d68397</name>
        <choiceText>Big Cabin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Big Cabin</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0a50bd54_ec35_46d5_99c7_eba845e51474</name>
        <choiceText>4:00 pm - 7:00 pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 pm - 7:00 pm </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0ac4477d_738c_4200_aa3f_01247077e121</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_12850c78_a635_4fd9_adfd_a2c242c39893</name>
        <choiceText>9:00 am - 11:00 am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 am - 11:00 am</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_16600fcb_25f2_449c_9ef1_0d73c447f8e1</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_17d2f428_d5cf_47a8_9650_c9528fce1dd8</name>
        <choiceText>Once a month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Once a month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1c1b3f87_0f30_498c_afcd_f18b200d8a7f</name>
        <choiceText>After 7:00 pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>After 7:00 pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1daed66f_4a68_4621_a2ee_aee0901ce5d1</name>
        <choiceText>Lenapah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lenapah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f68ff37_44f0_4160_82c8_b85584f52636</name>
        <choiceText>Pryor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pryor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_259737f1_1851_464c_b252_3fcb179158c3</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_27ed6118_a154_4476_81e6_b04d78c43932</name>
        <choiceText>40-50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>40-50</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_28cb9f29_6445_4bb4_a0d9_cae48a5b410c</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_29a1b2fc_64f4_4d1f_a85c_23ec28b69114</name>
        <choiceText>Uncertain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uncertain</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2b1f0005_96fb_4e2d_8438_8919fbe303d1</name>
        <choiceText>Somewhat Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2d34b592_70ad_47ee_a0e7_95eea6836232</name>
        <choiceText>Very Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_301f3f80_4c7f_4430_a061_ab23e29d8829</name>
        <choiceText>Not likely at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not likely at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_33d25259_b1dc_4a71_88a1_31260d8625e2</name>
        <choiceText>Kansas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kansas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_37dc44b4_3a2f_4517_8f49_b033ab71eff2</name>
        <choiceText>Not likely at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not likely at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3b898402_eff4_49b3_ad05_c42f30b42634</name>
        <choiceText>Afton</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afton</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3be94d7f_9e3e_4711_990e_b366e26c40bd</name>
        <choiceText>Grove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grove</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3dab358e_54bb_4144_8a71_c6db76038a8a</name>
        <choiceText>Westville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Westville</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3ff8eb05_4651_4932_87f7_3828a2bf88f9</name>
        <choiceText>Roland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roland</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_48c7490f_72ba_4039_aea2_f5273282d8a2</name>
        <choiceText>Salina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salina</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4dd2d762_2b79_4eed_994f_3445ea90aa0d</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_503ec29a_47e0_4e0c_88ff_65ee815d3f23</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5676d9b1_ee50_4e0c_87c5_145fbb69c9b6</name>
        <choiceText>Somewhat Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_57c97ec5_0cd7_488c_98ec_a4e0a97daba9</name>
        <choiceText>Individually, with the help of trained staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individually, with the help of trained staff</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5a03274f_20f6_49fd_a181_0091b118aaca</name>
        <choiceText>Owasso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Owasso</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ad7172d_c81f_415c_ad17_0253739a0e49</name>
        <choiceText>Chelsea</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chelsea</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b071db7_b558_45cb_96ee_f388a850f447</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5d91b4c7_23ef_4a2c_8d83_4f3287b5d1a7</name>
        <choiceText>Not Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7041a13c_cf34_483e_aab4_776884fc7ee3</name>
        <choiceText>Individually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individually</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_728af067_e4a5_4b22_9942_ba1e34973a9d</name>
        <choiceText>Copan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_740f1f52_02e2_413a_a56f_e6efd08d2be7</name>
        <choiceText>Rather not say</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rather not say</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_760781a1_8dfb_4b09_8b33_85dde51ef85c</name>
        <choiceText>Stilwell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stilwell</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c0406a5_68ff_4deb_bc81_0e78f50705b4</name>
        <choiceText>Chouteau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chouteau</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7cf8cbf7_306e_4852_bd88_a449a4af29c8</name>
        <choiceText>35-40</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>35-40</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7fbf1b0b_da19_4de5_bf32_0df94bdef207</name>
        <choiceText>No, Please explain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Please explain</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_805fc8e7_430e_40e3_94f5_a2d3a5af47eb</name>
        <choiceText>Over 62</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Over 62</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_88b8f8a0_2865_40b4_9082_edb8a8ca2aa8</name>
        <choiceText>Oolgah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oolgah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8988b1ef_2c77_488a_b68d_f07e29e6ba50</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8ce5299c_751a_436e_8ba6_721bdf15fe00</name>
        <choiceText>Never</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91099a42_8e36_4b38_867c_8a074203cbfe</name>
        <choiceText>Talala</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Talala</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_92d86e81_2a43_4c9c_8016_6d39cb93c5d9</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_944eff94_410e_4520_84fa_129c836a8c35</name>
        <choiceText>25-30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25-30</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94ed72ea_cf16_407a_8037_f999e5fbd69c</name>
        <choiceText>Locust Grove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Locust Grove</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_96805163_76e3_4c4f_8661_ca8764b433bc</name>
        <choiceText>With a group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With a group</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9ad5d19d_6bf1_43e3_aa8b_56ae1d9b878f</name>
        <choiceText>1:00 pm - 4:00 pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 pm - 4:00 pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9cea074d_547c_4f67_b51a_7e17e3d91a9f</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d41daab_279d_41d6_a033_23304f1fea67</name>
        <choiceText>Park Hill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Park Hill</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d4b0b48_6d90_482b_be20_7caf6eb7956a</name>
        <choiceText>Collinsville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collinsville</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e55738f_4f50_48ea_8ab9_cb65be68bfdf</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a018e846_abfc_436c_88f9_f6932a70e90b</name>
        <choiceText>Dewey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dewey</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3a36031_6052_4ce0_a686_6434f5860e89</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a727fff8_bb23_4891_a3cb_eefcfac039d8</name>
        <choiceText>Sallisaw</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sallisaw</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae130942_ef22_4c7e_be04_693077c14bfc</name>
        <choiceText>Sperry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sperry</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_afd52cce_83ec_4fef_bdd8_ac32eec3e323</name>
        <choiceText>Very Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b51bd74d_9d51_4a75_908c_b345c77c8c9b</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b90aaacd_0345_4402_b3a1_90a85c3af602</name>
        <choiceText>Not likely at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not likely at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b9d68d0d_0de4_40b9_babe_929bbc70a0f8</name>
        <choiceText>50-62</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50-62</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbcc3e92_9e29_4519_80a8_659e5f8edb77</name>
        <choiceText>Ochelata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ochelata</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc552aaa_9230_4d39_afcf_fa336baf9aa9</name>
        <choiceText>Delaware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delaware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bdd14bac_a7b1_49a6_8c6c_3ebeb5644878</name>
        <choiceText>Hulbert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hulbert</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf520d8b_71bb_4eaa_a9ce_5e00897e90d0</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c2be21f6_00b2_49aa_b601_3a14ae935c0b</name>
        <choiceText>Very Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c3951f7f_bc5e_41e3_b145_7bbe52339788</name>
        <choiceText>Welch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Welch</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c41f5e84_95b9_4fee_b2e0_6b26bf1589c6</name>
        <choiceText>Tahlequah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tahlequah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cd7323f8_2b65_4862_9274_4fe4548d68c0</name>
        <choiceText>Once a year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Once a year</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cda8e3cc_8594_4468_95bc_5b0c3b9c5030</name>
        <choiceText>Inola</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inola</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf388298_e564_45dd_9f90_7189302cd10c</name>
        <choiceText>Somewhat Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfc02e10_f6ce_4bbb_b278_013573781822</name>
        <choiceText>Ramona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ramona</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d0438203_cfa4_48a1_b408_d6b6affde092</name>
        <choiceText>Somewhat Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d1aa15eb_abfb_41dc_baa5_e851ac74b927</name>
        <choiceText>18-25</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18-25</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d77fd177_3a09_4b12_88bf_1fb8782df899</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d7b7bfbd_6668_44e3_a17b_03b1b80b2988</name>
        <choiceText>Claremore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claremore</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e3aba55e_0513_40c6_9f30_2d700ee5ce3e</name>
        <choiceText>Jay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jay</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f4ef9475_a7f7_43fb_a712_d5c27b80a149</name>
        <choiceText>5:00 am - 9:00 am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 am - 9:00 am</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f55ce7c3_473e_48c9_9af5_f41dcf3de57f</name>
        <choiceText>Very Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6269f2f_5b30_4518_adc9_fdd66441d57a</name>
        <choiceText>Disney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disney</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f8c4d7f7_d729_47a4_bf5f_ca8f484006ad</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fc964961_b887_479b_985c_7967e1c08ed8</name>
        <choiceText>Unsure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsure</stringValue>
        </value>
    </choices>
    <interviewLabel>Public Health Wellness Survey</interviewLabel>
    <label>Public Health Wellness Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_public_health_wellness_survey_1b53fe0f_e0e6_4d3f_8b64_89c44fbe639c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0becfaba_fec4_4cfb_b4ab_b4adb3f142bf</name>
        <label>Additional Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_82835ea9_9e82_4758_81ec_c904f641f640</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cb689343_224a_4e2d_a1ab_83c2e3773602</name>
            <choiceReferences>c_96805163_76e3_4c4f_8661_ca8764b433bc</choiceReferences>
            <choiceReferences>c_7041a13c_cf34_483e_aab4_776884fc7ee3</choiceReferences>
            <choiceReferences>c_57c97ec5_0cd7_488c_98ec_a4e0a97daba9</choiceReferences>
            <choiceReferences>c_fc964961_b887_479b_985c_7967e1c08ed8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Are you more interested in group fitness classes or exercising individually? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bba3f96c_669e_477a_9101_63e92e207d18</name>
            <choiceReferences>c_d77fd177_3a09_4b12_88bf_1fb8782df899</choiceReferences>
            <choiceReferences>c_b51bd74d_9d51_4a75_908c_b345c77c8c9b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;If you used a Cherokee Nation Wellness Center, would you need onsite childcare? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_88e8c136_480e_4d1a_8fcc_6f14b3d57525</name>
            <choiceReferences>c_28cb9f29_6445_4bb4_a0d9_cae48a5b410c</choiceReferences>
            <choiceReferences>c_059ca16e_77a0_4c75_ab2a_4881642ef536</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you have transportation to attend a Cherokee Nation Wellness Center? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_384ffba7_75d5_4e37_96b9_9b6a1ec0f1ca</name>
            <choiceReferences>c_9cea074d_547c_4f67_b51a_7e17e3d91a9f</choiceReferences>
            <choiceReferences>c_16600fcb_25f2_449c_9ef1_0d73c447f8e1</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Are you interested in fitness classes for your child and/or grandchild? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_15ad342d_e8b7_4649_9f94_a9fa3809b923</name>
        <label>Additional Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_7371f2da_39a1_4df6_92f6_3a7cbc0d5d30</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ab4b08ef_a4be_4234_a428_9e49b40fc33f</name>
            <choiceReferences>c_bf520d8b_71bb_4eaa_a9ce_5e00897e90d0</choiceReferences>
            <choiceReferences>c_a3a36031_6052_4ce0_a686_6434f5860e89</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Are you or a member of your household a fluent Cherokee Speaker? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a1b82d63_9d53_4db4_95c5_f1eec3b0bab2</name>
            <choiceReferences>c_8ce5299c_751a_436e_8ba6_721bdf15fe00</choiceReferences>
            <choiceReferences>c_cd7323f8_2b65_4862_9274_4fe4548d68c0</choiceReferences>
            <choiceReferences>c_17d2f428_d5cf_47a8_9650_c9528fce1dd8</choiceReferences>
            <choiceReferences>c_92d86e81_2a43_4c9c_8016_6d39cb93c5d9</choiceReferences>
            <choiceReferences>c_503ec29a_47e0_4e0c_88ff_65ee815d3f23</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How often do you participate in traditional Cherokee cultural practices? (e.g. traditional dances, hunting, hiking, fishing, gardening, etc.)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e46c47a5_ccb9_4e33_98f7_e524569db58d</name>
            <choiceReferences>c_f8c4d7f7_d729_47a4_bf5f_ca8f484006ad</choiceReferences>
            <choiceReferences>c_9e55738f_4f50_48ea_8ab9_cb65be68bfdf</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Are you interested in learning more or participating in Cherokee traditional based wellness? (Traditional movement, traditional teachings &amp;amp; knowledge) &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_27078533_5f3e_4754_9881_4317c9d3ccfd</name>
            <choiceReferences>c_0ac4477d_738c_4200_aa3f_01247077e121</choiceReferences>
            <choiceReferences>c_5b071db7_b558_45cb_96ee_f388a850f447</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Are you or a member of your household a veteran? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_2ebb5020_4b47_456e_a044_96c838c5d3c1</name>
        <label>Residence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_63309218_14c3_4c94_bb72_ab0ebadb164e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_55063b30_8c83_4bb0_94a0_ddf87bde33c3</name>
            <choiceReferences>c_3b898402_eff4_49b3_ad05_c42f30b42634</choiceReferences>
            <choiceReferences>c_06f7ee21_d566_4324_a50a_b151cb43113e</choiceReferences>
            <choiceReferences>c_092f54ba_b534_4fc7_81ef_1f7029d68397</choiceReferences>
            <choiceReferences>c_5ad7172d_c81f_415c_ad17_0253739a0e49</choiceReferences>
            <choiceReferences>c_7c0406a5_68ff_4deb_bc81_0e78f50705b4</choiceReferences>
            <choiceReferences>c_d7b7bfbd_6668_44e3_a17b_03b1b80b2988</choiceReferences>
            <choiceReferences>c_9d4b0b48_6d90_482b_be20_7caf6eb7956a</choiceReferences>
            <choiceReferences>c_728af067_e4a5_4b22_9942_ba1e34973a9d</choiceReferences>
            <choiceReferences>c_bc552aaa_9230_4d39_afcf_fa336baf9aa9</choiceReferences>
            <choiceReferences>c_a018e846_abfc_436c_88f9_f6932a70e90b</choiceReferences>
            <choiceReferences>c_f6269f2f_5b30_4518_adc9_fdd66441d57a</choiceReferences>
            <choiceReferences>c_066652ea_36b1_4ea5_9cf4_de231f95755a</choiceReferences>
            <choiceReferences>c_3be94d7f_9e3e_4711_990e_b366e26c40bd</choiceReferences>
            <choiceReferences>c_bdd14bac_a7b1_49a6_8c6c_3ebeb5644878</choiceReferences>
            <choiceReferences>c_cda8e3cc_8594_4468_95bc_5b0c3b9c5030</choiceReferences>
            <choiceReferences>c_e3aba55e_0513_40c6_9f30_2d700ee5ce3e</choiceReferences>
            <choiceReferences>c_33d25259_b1dc_4a71_88a1_31260d8625e2</choiceReferences>
            <choiceReferences>c_1daed66f_4a68_4621_a2ee_aee0901ce5d1</choiceReferences>
            <choiceReferences>c_94ed72ea_cf16_407a_8037_f999e5fbd69c</choiceReferences>
            <choiceReferences>c_0172a970_6334_474d_b109_3c091eb2036f</choiceReferences>
            <choiceReferences>c_bbcc3e92_9e29_4519_80a8_659e5f8edb77</choiceReferences>
            <choiceReferences>c_88b8f8a0_2865_40b4_9082_edb8a8ca2aa8</choiceReferences>
            <choiceReferences>c_5a03274f_20f6_49fd_a181_0091b118aaca</choiceReferences>
            <choiceReferences>c_9d41daab_279d_41d6_a033_23304f1fea67</choiceReferences>
            <choiceReferences>c_1f68ff37_44f0_4160_82c8_b85584f52636</choiceReferences>
            <choiceReferences>c_cfc02e10_f6ce_4bbb_b278_013573781822</choiceReferences>
            <choiceReferences>c_3ff8eb05_4651_4932_87f7_3828a2bf88f9</choiceReferences>
            <choiceReferences>c_48c7490f_72ba_4039_aea2_f5273282d8a2</choiceReferences>
            <choiceReferences>c_a727fff8_bb23_4891_a3cb_eefcfac039d8</choiceReferences>
            <choiceReferences>c_ae130942_ef22_4c7e_be04_693077c14bfc</choiceReferences>
            <choiceReferences>c_760781a1_8dfb_4b09_8b33_85dde51ef85c</choiceReferences>
            <choiceReferences>c_c41f5e84_95b9_4fee_b2e0_6b26bf1589c6</choiceReferences>
            <choiceReferences>c_91099a42_8e36_4b38_867c_8a074203cbfe</choiceReferences>
            <choiceReferences>c_087b04c4_48e0_4e5d_bed1_7eac4a61e4f0</choiceReferences>
            <choiceReferences>c_c3951f7f_bc5e_41e3_b145_7bbe52339788</choiceReferences>
            <choiceReferences>c_3dab358e_54bb_4144_8a71_c6db76038a8a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What town or community do you live in? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_edbccbb0_fb52_4b85_a782_e04f069cca88</name>
            <choiceReferences>c_8988b1ef_2c77_488a_b68d_f07e29e6ba50</choiceReferences>
            <choiceReferences>c_7fbf1b0b_da19_4de5_bf32_0df94bdef207</choiceReferences>
            <choiceReferences>c_08eb9d62_2f01_4dc1_a2f0_182d4ed232d5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Would you use a Wellness Center in the nearest town to you? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3cbca998_9632_406e_af57_ed033b3d46e2</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;If you responded &quot;No&quot; for if you would use a Wellness Center, please explain why.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_edbccbb0_fb52_4b85_a782_e04f069cca88</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_7fbf1b0b_da19_4de5_bf32_0df94bdef207</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_63309218_14c3_4c94_bb72_ab0ebadb164e</name>
        <label>Use of Wellness Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8b05baec_3dfa_44f3_a405_12ad3700c75f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7a53ea39_1830_46b6_9386_aea528a6732f</name>
            <choiceReferences>c_afd52cce_83ec_4fef_bdd8_ac32eec3e323</choiceReferences>
            <choiceReferences>c_d0438203_cfa4_48a1_b408_d6b6affde092</choiceReferences>
            <choiceReferences>c_29a1b2fc_64f4_4d1f_a85c_23ec28b69114</choiceReferences>
            <choiceReferences>c_5d91b4c7_23ef_4a2c_8d83_4f3287b5d1a7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How likely are you to use a Cherokee Nation Wellness Center? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9be4a545_86f4_423c_8b93_008f60e6d983</name>
            <choiceReferences>c_f4ef9475_a7f7_43fb_a712_d5c27b80a149</choiceReferences>
            <choiceReferences>c_12850c78_a635_4fd9_adfd_a2c242c39893</choiceReferences>
            <choiceReferences>c_02a59808_b493_4c90_a192_d79069f11eef</choiceReferences>
            <choiceReferences>c_9ad5d19d_6bf1_43e3_aa8b_56ae1d9b878f</choiceReferences>
            <choiceReferences>c_0a50bd54_ec35_46d5_99c7_eba845e51474</choiceReferences>
            <choiceReferences>c_1c1b3f87_0f30_498c_afcd_f18b200d8a7f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What time of day is the best time for you to use a Cherokee Nation Wellness Center? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7371f2da_39a1_4df6_92f6_3a7cbc0d5d30</name>
        <label>Optional</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d9dc0a68_3cf4_41d4_81f5_3509a7382242</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What do you want to see in a Cherokee Nation Wellness center? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_82835ea9_9e82_4758_81ec_c904f641f640</name>
        <label>Additional Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_15ad342d_e8b7_4649_9f94_a9fa3809b923</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cbfe3eb8_f1f7_411f_9148_1fa9ed0fbb57</name>
            <choiceReferences>c_2d34b592_70ad_47ee_a0e7_95eea6836232</choiceReferences>
            <choiceReferences>c_5676d9b1_ee50_4e0c_87c5_145fbb69c9b6</choiceReferences>
            <choiceReferences>c_301f3f80_4c7f_4430_a061_ab23e29d8829</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How likely are you to participate in nutritional classes? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_91f69b9a_f16a_4bcc_bd33_a36b775343e2</name>
            <choiceReferences>c_f55ce7c3_473e_48c9_9af5_f41dcf3de57f</choiceReferences>
            <choiceReferences>c_cf388298_e564_45dd_9f90_7189302cd10c</choiceReferences>
            <choiceReferences>c_b90aaacd_0345_4402_b3a1_90a85c3af602</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How likely are you to participate in traditional cultural fitness based classes like stickball, chunky, marbles, etc? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b1cc7fd1_5d27_4257_8875_149a02a432ca</name>
            <choiceReferences>c_c2be21f6_00b2_49aa_b601_3a14ae935c0b</choiceReferences>
            <choiceReferences>c_2b1f0005_96fb_4e2d_8438_8919fbe303d1</choiceReferences>
            <choiceReferences>c_37dc44b4_3a2f_4517_8f49_b033ab71eff2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How likely are you to use resources that provide access to traditional Cherokee medicine? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8b05baec_3dfa_44f3_a405_12ad3700c75f</name>
        <label>Activities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0becfaba_fec4_4cfb_b4ab_b4adb3f142bf</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[5,4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_85b2c689_05cd_4504_9b65_01f693deef2b</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please rank which wellness activities you are most interested in, 1 being the most interested and 5 being the least interested. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b3b5daec_ddb9_4843_a54b_d5759be77e50</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;If you have an item not listed above, please explain below what other wellness activities you would be interested in. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f87087e0_34c6_43c6_97b0_ed31ee424328</name>
        <label>Age and Gender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_2ebb5020_4b47_456e_a044_96c838c5d3c1</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f297a2c1_61fc_4bba_8a3d_2e07b1438041</name>
            <choiceReferences>c_d1aa15eb_abfb_41dc_baa5_e851ac74b927</choiceReferences>
            <choiceReferences>c_944eff94_410e_4520_84fa_129c836a8c35</choiceReferences>
            <choiceReferences>c_7cf8cbf7_306e_4852_bd88_a449a4af29c8</choiceReferences>
            <choiceReferences>c_27ed6118_a154_4476_81e6_b04d78c43932</choiceReferences>
            <choiceReferences>c_b9d68d0d_0de4_40b9_babe_929bbc70a0f8</choiceReferences>
            <choiceReferences>c_805fc8e7_430e_40e3_94f5_a2d3a5af47eb</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What is your age? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4cfce9a3_122d_4ac4_8083_71903571b07b</name>
            <choiceReferences>c_4dd2d762_2b79_4eed_994f_3445ea90aa0d</choiceReferences>
            <choiceReferences>c_259737f1_1851_464c_b252_3fcb179158c3</choiceReferences>
            <choiceReferences>c_740f1f52_02e2_413a_a56f_e6efd08d2be7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What is your gender? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_f87087e0_34c6_43c6_97b0_ed31ee424328</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Weight Lifting</text>
    </textTemplates>
    <textTemplates>
        <name>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Group Classes</text>
    </textTemplates>
    <textTemplates>
        <name>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Cardio Training</text>
    </textTemplates>
    <textTemplates>
        <name>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Healthy behavior and lifestyle classes (i.e. nutrition, stress management, etc.)</text>
    </textTemplates>
    <textTemplates>
        <name>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Basketball Courts</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for taking the time to complete this survey. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you have any questions about the survey, please email us: support-gadugiportal@cherokee.org&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We appreciate your input!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cherokeenation--cnfullcopy--c.documentforce.com/file-asset-public/Screenshot_19?oid=00D7e00000GL6XU&amp;amp;v=1&quot; alt=&quot;Screenshot_19&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Wado for taking the time to complete the Cherokee Nation Wellness survey.&amp;nbsp;Your participation will help shape our new physical wellness initiatives in the coming years.&amp;nbsp;Together we can achieve our collective goal of being a strong people: mind and body.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;-Principal Chief Chuck Hoskin, Jr.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_85b2c689_05cd_4504_9b65_01f693deef2b_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
