force-app/main/default/flows/reservation_employment_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_4141951b_f580_4c9d_96ee_860f979a0b9e</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8f7f276b_139f_4964_b4e2_51a11a23ff47</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_004cdd34_339c_4816_874c_1b87f0f6b6d2</name>
        <choiceText>Operational, technical, and support (e.g., receptionist, manufacturer foreman, worker, waitress, driver, cashier, builder, plumber)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operational, technical, and support (e.g., receptionist, manufacturer foreman, worker, waitress, driver, cashier, builder, plumber)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0118d00f_140e_4bac_978c_cbcbdb702230</name>
        <choiceText>Locust Grove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Locust Grove</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_024a727f_5984_417f_abce_1f0852f4bd29</name>
        <choiceText>Proximity to family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proximity to family</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_05e3c4bf_e7d3_4b57_afec_be5f99630dab</name>
        <choiceText>Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0688a3d1_5725_4f3a_ada4_3e3cb42946aa</name>
        <choiceText>Retired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retired</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06f5515f_a5df_4cd5_bd86_b4f79146f744</name>
        <choiceText>Access to a variety of career opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to a variety of career opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0ae61172_75a9_48aa_8209_226933cd3970</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b9ea39a_c4f4_488f_9805_f2cd5c478213</name>
        <choiceText>Large commute times for activities (work, recreational, groceries, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Large commute times for activities (work, recreational, groceries, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0bb6f585_2218_48c8_bc7b_67d621464566</name>
        <choiceText>Jay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jay    </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10abb62e_01c0_4e4b_9fc1_488b953dd8f4</name>
        <choiceText>Transportation and warehousing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation and warehousing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_12d0565c_ca41_4520_bd62_9804269032bc</name>
        <choiceText>Lenapah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lenapah </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_13ab453e_f102_44d3_b76e_e04e30039e0a</name>
        <choiceText>Vinita</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vinita</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b852f22_3042_476e_bbe1_eb0f0c0c2a61</name>
        <choiceText>Leisure and hospitality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leisure and hospitality</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_21fd35d9_44d8_4eb4_ab27_12ec5b157d0b</name>
        <choiceText>$50,000-$74,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$50,000-$74,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_247e75eb_a48f_43e8_a43a_5eb3f607e257</name>
        <choiceText>Roland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roland</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_258a1d10_50da_409d_84a2_2c447fc1ecc0</name>
        <choiceText>Manufacturing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufacturing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_26358a7b_0094_416f_a123_01f2eb2aa156</name>
        <choiceText>Less than a month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than a month</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2909d5d4_476d_4dd0_b3d4_f9c35eb66879</name>
        <choiceText>6-9 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6-9 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2942e6db_7ef0_440d_901a_1352e30e6d64</name>
        <choiceText>Tahlequah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tahlequah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2d4f39fa_3fe2_4cda_ac62_39fa36be835d</name>
        <choiceText>Bartlesville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bartlesville</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2e2b7b9d_71f2_4827_8475_6fb2f698321a</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2ea734d8_614b_4bbb_bedb_2b8d2c032125</name>
        <choiceText>$25,000-$49,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$25,000-$49,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2f89cc12_b701_406c_910f_543b5814395a</name>
        <choiceText>$200,000+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$200,000+</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_32048c41_a8ab_45c1_abf8_5da96ae0f263</name>
        <choiceText>Lower cost of living</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lower cost of living</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3522a3be_3bb2_42a4_b58f_6ac53ada6be9</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_373747d9_80f9_47f5_aaff_73f0b6f6d069</name>
        <choiceText>Grove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grove </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3808872d_5ee1_4ccd_b41a_f1e33fadc988</name>
        <choiceText>Pryor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pryor   </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_39829454_4508_4c1c_897f_a8b3b6f1c0d2</name>
        <choiceText>$200,000+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$200,000+</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3b0350cc_52db_4fad_a5b8_ff752feb54da</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3e192344_b490_422e_a57e_ec15fa2b7e14</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3e83febf_fa53_41bf_b4e3_8b3b3d3cc252</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3ea81635_47be_484e_b267_899630583a87</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_400041dc_5935_4db2_be86_73cac6d1fb22</name>
        <choiceText>Prefer not to answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prefer not to answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_478ca34a_fbfe_452c_a543_28ca918634e8</name>
        <choiceText>Chouteau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chouteau  </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_47a3e1f8_cea1_4f87_9f7f_0795391a3fea</name>
        <choiceText>Access to childcare centers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to childcare centers</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_484ef46e_070c_4019_bfbd_347df3190424</name>
        <choiceText>Utilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4a52205f_6efc_4944_ba89_9c588ea77018</name>
        <choiceText>Delaware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delaware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bef460f_8bf7_4dc4_b697_a6db7475f812</name>
        <choiceText>None of the above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the above</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4efaf221_9893_44cc_84e5_5f75cb137938</name>
        <choiceText>Supervisors and Managers (e.g., director, project manager)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supervisors and Managers (e.g., director, project manager)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_50d1c467_939d_4936_b93c_7286e70ff11e</name>
        <choiceText>Retail trade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail trade</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_52f52e0c_f5b3_431d_be17_5141ea66a938</name>
        <choiceText>Financial activities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial activities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_533295bb_5cd8_493d_8a3c_8f0ffe90d437</name>
        <choiceText>Operational, technical, and support (e.g., receptionist, manufacturer foreman, worker, waitress, driver, cashier, builder, plumber)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operational, technical, and support (e.g., receptionist, manufacturer foreman, worker, waitress, driver, cashier, builder, plumber)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_566f244c_5b18_4354_a904_baf5923fea19</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_59613024_7c7e_48cc_9d9b_3971bbf5d4fc</name>
        <choiceText>2 years or longer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 years or longer</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ad3f5e0_5f2f_4a18_8371_85d570458a73</name>
        <choiceText>Probably would not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably would not</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b1777bd_71c8_4054_9f43_b666c1c273d4</name>
        <choiceText>Professional and business services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional and business services</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5d646ae3_306b_4981_8550_afd16fd98d26</name>
        <choiceText>Chelsea</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chelsea</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6145153d_a439_4915_b7cd_d9660ea84f57</name>
        <choiceText>Part-time (less than 30 hours per week)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part-time (less than 30 hours per week)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_61646c18_3000_471a_a63b_1ba017981272</name>
        <choiceText>Afton</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afton </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62608965_b13d_4ddd_99f7_c56953526c4e</name>
        <choiceText>Education and health services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education and health services</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_632a7bab_7047_4787_ba53_2e4279654be0</name>
        <choiceText>$100,000-$149,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$100,000-$149,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_663a77c8_0081_4177_9933_1b9c89a59bba</name>
        <choiceText>Sallisaw</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sallisaw</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6645ed47_25d2_426c_9db6_da46dad87ba8</name>
        <choiceText>Definitely would consider moving to the Cherokee Reservation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Definitely would consider moving to the Cherokee Reservation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_67dd1328_a7ed_42a7_85fc_c2f55e442db2</name>
        <choiceText>Salina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salina    </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_68a21418_b736_4f2d_ab2a_0a805148373f</name>
        <choiceText>Proximity to family (e.g., siblings live out of state)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proximity to family (e.g., siblings live out of state)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6a7281aa_939c_41ce_96e6_4d167d683b35</name>
        <choiceText>Less than $25,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than $25,000                                      </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b0abd91_75dc_4cf9_a686_aba45bad253d</name>
        <choiceText>Standard employer healthcare insurance coverage and establishment of first aid clinic within 30 minutes drive from workplace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard employer healthcare insurance coverage and establishment of first aid clinic within 30 minutes drive from workplace</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b8518b7_c0b7_491f_a259_abd892185c18</name>
        <choiceText>Wholesale trade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wholesale trade</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6d0c7029_8ac0_459b_b37f_990960cb5291</name>
        <choiceText>Prefer not to answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prefer not to answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6ee49434_6ca1_46c6_82d2_220f67d33f48</name>
        <choiceText>Full-time (30 or more hours per week)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full-time (30 or more hours per week)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6f7b1a8b_71af_481a_afd5_529e551191b2</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71728374_b0bc_4ab8_b3d4_df2d87fc485d</name>
        <choiceText>Quality of K-12 education for your family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality of K-12 education for your family</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_72a640c2_3567_4419_89c6_7aa6053ef219</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73541616_1606_4948_b132_532e82ea7284</name>
        <choiceText>Claremore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claremore</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7427953d_6e30_4324_a45b_6242a71f730d</name>
        <choiceText>Reliable and subsidized childcare centers that teach Cherokee culture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reliable and subsidized childcare centers that teach Cherokee culture</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7904917f_7dc2_4546_9d56_eaf1511432dd</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_797c424c_e14b_4cf9_b072_d2b23f6f1ae6</name>
        <choiceText>Less than $25,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than $25,000                                      </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_79e19572_b4bd_45bc_8196_77f1f543e1f0</name>
        <choiceText>Access to quality higher education</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to quality higher education</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7df9ff97_a78a_425f_80e5_1a49347479d7</name>
        <choiceText>Access to Cherokee culture (e.g., language)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to Cherokee culture (e.g., language)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_814ab964_1206_45ac_850e_c9dfa68b46b3</name>
        <choiceText>Oolgah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oolgah</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81b8be0a_e788_468b_b798_fcc5ab91a8bf</name>
        <choiceText>Ochelata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ochelata</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_84e717dc_ac73_4027_9899_65d493ea26e2</name>
        <choiceText>Cost of living</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost of living</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_86065dce_52f8_41a2_a96c_58615a55ff3b</name>
        <choiceText>7 months to a year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7 months to a year</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_86f1dc52_2ffe_4335_a04b_5c96402dd5ae</name>
        <choiceText>Probably would</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably would</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8acc7acb_62a7_48c0_a9a3_0f416c0d7651</name>
        <choiceText>Big Cabin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Big Cabin</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b50a14b_c1ea_49e9_84ec_7b5b0cc3ad93</name>
        <choiceText>Definitely would not consider moving to the Cherokee Reservation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Definitely would not consider moving to the Cherokee Reservation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8c6b550d_a97f_40e6_bb4c_a389bfa3ff84</name>
        <choiceText>$150,000-$199,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$150,000-$199,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d03528b_c333_470f_bd18_8a3d4c4b0eb4</name>
        <choiceText>1-3 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-3 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d338da8_3d67_4578_a5bf_468678b90fc7</name>
        <choiceText>Construction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construction</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8ed33e0a_067e_4865_943f_fee30eea2c7c</name>
        <choiceText>$75,000-$99,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$75,000-$99,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_914afee1_5d19_409f_bd05_1fc766fe7775</name>
        <choiceText>Fully paid family house</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fully paid family house</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_92b719e7_9094_46c3_9c08_47ea6561dfc5</name>
        <choiceText>Access to a fulfilling career</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to a fulfilling career</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9535f1ba_e52c_4f44_b46a_29a4356986fe</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_96318a3c_9884_4cf5_a22f_7b5eb05fc57c</name>
        <choiceText>$100,000-$149,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$100,000-$149,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9712f176_5f97_418c_ab2f_fc934f2c0aef</name>
        <choiceText>Access to immersion Cherokee schools</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to immersion Cherokee schools</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_98164163_8ad4_4248_b921_b8ad001881e1</name>
        <choiceText>Mining and logging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mining and logging </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_99c15fe6_f705_4702_af12_25f0ea7318ae</name>
        <choiceText>Talala</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Talala   </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9a976f4a_922d_48d1_9a90_39d697ee0e2a</name>
        <choiceText>Individual room paid for the worker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual room paid for the worker</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9c930fc9_1aad_4aed_97cc_056efd5eb737</name>
        <choiceText>4-6 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4-6 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a27fdab4_a937_4a1f_a26b_f78b62ae0304</name>
        <choiceText>Education and health services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education and health services</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a41917da_c9ae_473b_b0af_7fa484be33ab</name>
        <choiceText>Access to subsidized public transit (e.g., take me to work / school)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to subsidized public transit (e.g., take me to work / school)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a41b5559_eecb_4e98_8531_16c6e69840bf</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a472aea2_b141_4afa_95e1_11c252fa40e4</name>
        <choiceText>$150,000-$199,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$150,000-$199,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a585694e_5ca9_407f_9122_0e0b5ed7fe00</name>
        <choiceText>Inola</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inola </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6ac5c9e_a509_47bc_a973_85ddbb8c23e9</name>
        <choiceText>Professional and business services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional and business services</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ad6f5f84_be07_4596_a2b1_5ba7c2f6dbe8</name>
        <choiceText>Access to subsidized housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to subsidized housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_adb3f5e6_f522_4994_8058_d243cfbfe698</name>
        <choiceText>5+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5+</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae245718_c191_43fb_ae75_750904dbf0a7</name>
        <choiceText>Access to subsidized vocational training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to subsidized vocational training</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aed08ae5_8c6e_4d58_9e83_13c902be8f9f</name>
        <choiceText>Kansas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kansas </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af6ecd3b_3cac_46ee_aa33_586b71a2687a</name>
        <choiceText>Park Hill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Park Hill </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b149c53d_9d25_4159_89c9_67fd86208509</name>
        <choiceText>Manufacturing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufacturing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b4384486_53de_4108_9966_80d812f002c4</name>
        <choiceText>Reliable and subsidized healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reliable and subsidized healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b53f1438_416d_4d04_b4d5_a430cccb2e87</name>
        <choiceText>Professional (e.g., accountant, lawyer, consultant, teacher, engineer, developer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional (e.g., accountant, lawyer, consultant, teacher, engineer, developer)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b5d9f604_8128_49c6_acd1_468262e891e8</name>
        <choiceText>Partial contribution to family house rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial contribution to family house rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b616cf2b_a6f5_449f_b38f_4362d4d62a46</name>
        <choiceText>Homemaker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homemaker</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b6dc785d_5be3_4c9e_a756_28010e76c79a</name>
        <choiceText>Nowata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nowata</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b6e20f53_c29f_400b_ac86_a56be083b064</name>
        <choiceText>Disney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disney  </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b895800b_bda6_4f7d_bccf_ebe70e713ee2</name>
        <choiceText>Access to quality healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to quality healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_baa4d757_69c4_467f_94fb_27b5fd05caf6</name>
        <choiceText>Dewey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dewey</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bafa475e_e799_4f0a_b652_9f5cdc56af85</name>
        <choiceText>$75,000-$99,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$75,000-$99,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bb281c6b_ff58_4d19_8c0a_0694c9fd2590</name>
        <choiceText>$50,000-$74,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$50,000-$74,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc328d4d_0dd0_4ddb_89ce_8ed8c94a472a</name>
        <choiceText>Stilwell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stilwell</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc73ec29_3ec8_4452_8496_5c0fce604788</name>
        <choiceText>Wholesale trade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wholesale trade</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bdcfbb3e_a9b0_4499_8529_02acfd014a80</name>
        <choiceText>None of the above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the above</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_be915650_5628_47cb_8e61_e4b74d82c8ec</name>
        <choiceText>Contract, Freelance, or Temporary Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract, Freelance, or Temporary Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf1d25ae_9ff7_40a5_b047_fb37961601e5</name>
        <choiceText>Copan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c022189a_6e62_4144_8aac_5f801f042df0</name>
        <choiceText>$25,000-$49,999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$25,000-$49,999</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c218f925_628d_486c_b367_259de0029168</name>
        <choiceText>Construction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construction</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c636c0f8_1cb4_4338_a484_596d11d2d415</name>
        <choiceText>Ramona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ramona</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c980ddbb_312b_46dd_a773_9b94e73ab963</name>
        <choiceText>Hulbert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hulbert</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c9a45c89_ac7c_4cec_bb03_f869f765321a</name>
        <choiceText>Owasso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Owasso</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cc772027_a4d1_4b42_9387_5d11ac0ebc48</name>
        <choiceText>Utilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf66781f_97f1_484d_b9ac_af23f706d1aa</name>
        <choiceText>Retail trade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail trade      </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cffb4b76_2d2c_4629_9843_e61a13e3bc8c</name>
        <choiceText>Sperry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sperry</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d169696e_9f84_44a4_9346_6bdaded8be5b</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d33505e4_e327_4da6_bf8b_c78a7a01a5bc</name>
        <choiceText>5+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5+</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d42b0bd8_9d57_440f_a273_3b2919cd91ce</name>
        <choiceText>Increased access to recreational activities (e.g., restaurants, museums, national parks)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Increased access to recreational activities (e.g., restaurants, museums, national parks)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d44dcbe0_183b_43e8_a2db_73fdeefed060</name>
        <choiceText>Welch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Welch</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d7fc6bb7_8208_4381_b018_ee8e0685a91f</name>
        <choiceText>Leisure and hospitality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leisure and hospitality</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_da814251_577e_4d1b_b1c6_4b9d25e1c3b4</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dada5dd7_07a3_442a_9472_8c73061f3679</name>
        <choiceText>1-2 years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-2 years</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dc94716c_7dc9_482c_adcf_5f4b909e18f8</name>
        <choiceText>Transportation and warehousing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation and warehousing   </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dee82966_683a_4c17_a574_2282b39a934b</name>
        <choiceText>Collinsville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Collinsville</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dfb53e96_c042_43d0_a5a4_5dc37faeea28</name>
        <choiceText>Financial activities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial activities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e0b1846d_1932_42a5_937e_d7383e015e64</name>
        <choiceText>Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e1584422_d91b_4bc3_bc02_4905b89537f6</name>
        <choiceText>Supervisors and Managers (e.g., director, project manager)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supervisors and Managers (e.g., director, project manager)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e2016fdf_d2cf_48a4_b5c1_0217e7ce583a</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e31fcc86_6bb0_4910_a5fa_6dbeee71d0a8</name>
        <choiceText>Professional (e.g., accountant, lawyer, consultant, teacher, engineer, developer)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional (e.g., accountant, lawyer, consultant, teacher, engineer, developer)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e41787df_8bf3_4d99_af6c_a512e2df4e65</name>
        <choiceText>Westville</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Westville</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5f866a1_928d_4143_9f6b_cbbabb7c200a</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e62dfea9_d03f_46d6_be71_3052fd1a9f54</name>
        <choiceText>Student</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e6320f19_8a03_424b_b976_dba27923ae15</name>
        <choiceText>Mining and logging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mining and logging  </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e87cb040_0a1c_486d_8d9e_6487ecbf9944</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Government</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e9272018_79db_4272_9b5a_dbe5078eca0e</name>
        <choiceText>Standard employer healthcare insurance coverage and establishment of full service hospital within 30 minutes drive from workplace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard employer healthcare insurance coverage and establishment of full service hospital within 30 minutes drive from workplace </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea20246d_4dcf_4b7c_893d_1428547624a6</name>
        <choiceText>Standard employer healthcare insurance coverage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard employer healthcare insurance coverage</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec9d63ce_54ba_4663_92c3_72208629b762</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1848cdb_1794_494e_b79e_ff1b190082ef</name>
        <choiceText>5+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5+</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f2b3156b_e298_4c6b_ab6d_5a31a69a3ca5</name>
        <choiceText>Stronger financial incentives (e.g., grants for move, better access to student scholarships)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stronger financial incentives (e.g., grants for move, better access to student scholarships)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f5960c1f_d531_47be_b5f2_01366a4da2f8</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6fce8b2_f511_4123_b52e_86da49bd7f5b</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f82c3e63_8252_44ce_86d9_4e236d74492b</name>
        <choiceText>Might or might not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Might or might not</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fad5b5f1_e938_40d2_a46f_a102ac2c0713</name>
        <choiceText>Access to recreational activities (e.g., restaurants, museums, national parks)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access to recreational activities (e.g., restaurants, museums, national parks)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fbb2d079_6a3f_4572_b5c9_0ce491a1d60d</name>
        <choiceText>Other (please specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fc0b2dec_7159_4f79_a47e_ec522e37e012</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fcfd82d0_70c2_457d_b0c3_7ed8ff6d518e</name>
        <choiceText>Fort Gibson</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fort Gibson </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ff29c6e9_8f68_40b9_9c08_1a2d78f64414</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Government</stringValue>
        </value>
    </choices>
    <interviewLabel>Reservation Employment Survey</interviewLabel>
    <label>Reservation Employment Survey</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_4141951b_f580_4c9d_96ee_860f979a0b9e</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8f7f276b_139f_4964_b4e2_51a11a23ff47</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_638d9537_8c81_489e_97b5_7ede3c402181</name>
            <choiceReferences>c_e5f866a1_928d_4143_9f6b_cbbabb7c200a</choiceReferences>
            <choiceReferences>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Do you currently live in the Cherokee Nation reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e1e90bde_65ae_4f60_9ca3_f4a310c03b2a</name>
            <choiceReferences>c_6ee49434_6ca1_46c6_82d2_220f67d33f48</choiceReferences>
            <choiceReferences>c_6145153d_a439_4915_b7cd_d9660ea84f57</choiceReferences>
            <choiceReferences>c_be915650_5628_47cb_8e61_e4b74d82c8ec</choiceReferences>
            <choiceReferences>c_e62dfea9_d03f_46d6_be71_3052fd1a9f54</choiceReferences>
            <choiceReferences>c_0688a3d1_5725_4f3a_ada4_3e3cb42946aa</choiceReferences>
            <choiceReferences>c_b616cf2b_a6f5_449f_b38f_4362d4d62a46</choiceReferences>
            <choiceReferences>c_7904917f_7dc2_4546_9d56_eaf1511432dd</choiceReferences>
            <choiceReferences>c_4bef460f_8bf7_4dc4_b697_a6db7475f812</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Which of the following best describes your employment status?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_27837de4_68d6_4b34_a73b_e560d189c665</name>
            <choiceReferences>c_3ea81635_47be_484e_b267_899630583a87</choiceReferences>
            <choiceReferences>c_3522a3be_3bb2_42a4_b58f_6ac53ada6be9</choiceReferences>
            <choiceReferences>c_ec9d63ce_54ba_4663_92c3_72208629b762</choiceReferences>
            <choiceReferences>c_e2016fdf_d2cf_48a4_b5c1_0217e7ce583a</choiceReferences>
            <choiceReferences>c_f1848cdb_1794_494e_b79e_ff1b190082ef</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;How many close relatives (e.g., grandparents, parents, and siblings) do you have living in the Cherokee Nation Reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_82fff4ee_0022_4cfd_9af9_248675fcc96a</name>
            <choiceReferences>c_f5960c1f_d531_47be_b5f2_01366a4da2f8</choiceReferences>
            <choiceReferences>c_da814251_577e_4d1b_b1c6_4b9d25e1c3b4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Have you ever lived in the Cherokee Nation Reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_52a3b78a_ba1d_426e_9016_7c5d83652372</name>
            <choiceReferences>c_9535f1ba_e52c_4f44_b46a_29a4356986fe</choiceReferences>
            <choiceReferences>c_3e192344_b490_422e_a57e_ec15fa2b7e14</choiceReferences>
            <choiceReferences>c_6f7b1a8b_71af_481a_afd5_529e551191b2</choiceReferences>
            <choiceReferences>c_3e83febf_fa53_41bf_b4e3_8b3b3d3cc252</choiceReferences>
            <choiceReferences>c_d33505e4_e327_4da6_bf8b_c78a7a01a5bc</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;How many years has it been since you last lived in the Cherokee Nation Reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_82fff4ee_0022_4cfd_9af9_248675fcc96a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f5960c1f_d531_47be_b5f2_01366a4da2f8</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_16389a4c_a64a_4fff_8722_38ec8b3cb31a</name>
            <choiceReferences>c_b895800b_bda6_4f7d_bccf_ebe70e713ee2</choiceReferences>
            <choiceReferences>c_47a3e1f8_cea1_4f87_9f7f_0795391a3fea</choiceReferences>
            <choiceReferences>c_71728374_b0bc_4ab8_b3d4_df2d87fc485d</choiceReferences>
            <choiceReferences>c_79e19572_b4bd_45bc_8196_77f1f543e1f0</choiceReferences>
            <choiceReferences>c_92b719e7_9094_46c3_9c08_47ea6561dfc5</choiceReferences>
            <choiceReferences>c_84e717dc_ac73_4027_9899_65d493ea26e2</choiceReferences>
            <choiceReferences>c_0b9ea39a_c4f4_488f_9805_f2cd5c478213</choiceReferences>
            <choiceReferences>c_fad5b5f1_e938_40d2_a46f_a102ac2c0713</choiceReferences>
            <choiceReferences>c_68a21418_b736_4f2d_ab2a_0a805148373f</choiceReferences>
            <choiceReferences>c_72a640c2_3567_4419_89c6_7aa6053ef219</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Arial;&quot;&gt;Which of the following factors were the most important in your decision to leave (or not to ever live in) the Cherokee Nation Reservation? Please select up to 5. &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, Arial;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_56a74177_03c4_40e5_8645_4807a2cd5883</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Arial;&quot;&gt;Please specify which of the following factors were the most important in your decision to leave (or not to ever live in) the Cherokee Nation Reservation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_16389a4c_a64a_4fff_8722_38ec8b3cb31a</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_72a640c2_3567_4419_89c6_7aa6053ef219</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d9ddcba6_a66b_457a_a756_59a83f3da482</name>
            <choiceReferences>c_b4384486_53de_4108_9966_80d812f002c4</choiceReferences>
            <choiceReferences>c_7427953d_6e30_4324_a45b_6242a71f730d</choiceReferences>
            <choiceReferences>c_9712f176_5f97_418c_ab2f_fc934f2c0aef</choiceReferences>
            <choiceReferences>c_7df9ff97_a78a_425f_80e5_1a49347479d7</choiceReferences>
            <choiceReferences>c_06f5515f_a5df_4cd5_bd86_b4f79146f744</choiceReferences>
            <choiceReferences>c_ae245718_c191_43fb_ae75_750904dbf0a7</choiceReferences>
            <choiceReferences>c_32048c41_a8ab_45c1_abf8_5da96ae0f263</choiceReferences>
            <choiceReferences>c_f2b3156b_e298_4c6b_ab6d_5a31a69a3ca5</choiceReferences>
            <choiceReferences>c_a41917da_c9ae_473b_b0af_7fa484be33ab</choiceReferences>
            <choiceReferences>c_ad6f5f84_be07_4596_a2b1_5ba7c2f6dbe8</choiceReferences>
            <choiceReferences>c_d42b0bd8_9d57_440f_a273_3b2919cd91ce</choiceReferences>
            <choiceReferences>c_024a727f_5984_417f_abce_1f0852f4bd29</choiceReferences>
            <choiceReferences>c_d169696e_9f84_44a4_9346_6bdaded8be5b</choiceReferences>
            <choiceReferences>c_bdcfbb3e_a9b0_4499_8529_02acfd014a80</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Other than wage and benefits, which factors would most influence your return to the Cherokee Nation Reservation? Please select up to 5. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9ed1c970_fb84_40b0_88d8_eb933311fc45</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Arial;&quot;&gt;Please specify which factors, other than wage and benefits would most influence your return to the Cherokee Nation Reservation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d9ddcba6_a66b_457a_a756_59a83f3da482</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_d169696e_9f84_44a4_9346_6bdaded8be5b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_28bbcbd0_9ed5_43a6_8d80_f27c9b387d70</name>
            <choiceReferences>c_b5d9f604_8128_49c6_acd1_468262e891e8</choiceReferences>
            <choiceReferences>c_9a976f4a_922d_48d1_9a90_39d697ee0e2a</choiceReferences>
            <choiceReferences>c_914afee1_5d19_409f_bd05_1fc766fe7775</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Which level of housing benefits would you require to be willing to move to the Cherokee Nation Reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d9ddcba6_a66b_457a_a756_59a83f3da482</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_ad6f5f84_be07_4596_a2b1_5ba7c2f6dbe8</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7b83e041_c0e3_4289_8c76_4c62926c4ced</name>
            <choiceReferences>c_ea20246d_4dcf_4b7c_893d_1428547624a6</choiceReferences>
            <choiceReferences>c_6b0abd91_75dc_4cf9_a686_aba45bad253d</choiceReferences>
            <choiceReferences>c_e9272018_79db_4272_9b5a_dbe5078eca0e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Which level of healthcare coverage would you require to be willing to move to the Cherokee Nation Reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d9ddcba6_a66b_457a_a756_59a83f3da482</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_b4384486_53de_4108_9966_80d812f002c4</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_af679f19_8e37_4eb0_bb31_b0640c838ad7</name>
            <choiceReferences>c_8b50a14b_c1ea_49e9_84ec_7b5b0cc3ad93</choiceReferences>
            <choiceReferences>c_5ad3f5e0_5f2f_4a18_8371_85d570458a73</choiceReferences>
            <choiceReferences>c_f82c3e63_8252_44ce_86d9_4e236d74492b</choiceReferences>
            <choiceReferences>c_86f1dc52_2ffe_4335_a04b_5c96402dd5ae</choiceReferences>
            <choiceReferences>c_6645ed47_25d2_426c_9db6_da46dad87ba8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;How likely would you be to consider moving to the Cherokee Nation Reservation if you had a job offer with wages and benefits similar to what you have today?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ba648c17_4276_4911_9814_aca3ecfc5ba2</name>
            <choiceReferences>c_26358a7b_0094_416f_a123_01f2eb2aa156</choiceReferences>
            <choiceReferences>c_8d03528b_c333_470f_bd18_8a3d4c4b0eb4</choiceReferences>
            <choiceReferences>c_9c930fc9_1aad_4aed_97cc_056efd5eb737</choiceReferences>
            <choiceReferences>c_2909d5d4_476d_4dd0_b3d4_f9c35eb66879</choiceReferences>
            <choiceReferences>c_86065dce_52f8_41a2_a96c_58615a55ff3b</choiceReferences>
            <choiceReferences>c_dada5dd7_07a3_442a_9472_8c73061f3679</choiceReferences>
            <choiceReferences>c_59613024_7c7e_48cc_9d9b_3971bbf5d4fc</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;If a job opportunity that you were excited for were available today, how soon would you be willing to move to the Cherokee Nation Reservation?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d4a592d4_273f_464f_88fe_048a3052ba30</name>
            <choiceReferences>c_bf1d25ae_9ff7_40a5_b047_fb37961601e5</choiceReferences>
            <choiceReferences>c_13ab453e_f102_44d3_b76e_e04e30039e0a</choiceReferences>
            <choiceReferences>c_247e75eb_a48f_43e8_a43a_5eb3f607e257</choiceReferences>
            <choiceReferences>c_8acc7acb_62a7_48c0_a9a3_0f416c0d7651</choiceReferences>
            <choiceReferences>c_d44dcbe0_183b_43e8_a2db_73fdeefed060</choiceReferences>
            <choiceReferences>c_dee82966_683a_4c17_a574_2282b39a934b</choiceReferences>
            <choiceReferences>c_0118d00f_140e_4bac_978c_cbcbdb702230</choiceReferences>
            <choiceReferences>c_81b8be0a_e788_468b_b798_fcc5ab91a8bf</choiceReferences>
            <choiceReferences>c_b6e20f53_c29f_400b_ac86_a56be083b064</choiceReferences>
            <choiceReferences>c_478ca34a_fbfe_452c_a543_28ca918634e8</choiceReferences>
            <choiceReferences>c_61646c18_3000_471a_a63b_1ba017981272</choiceReferences>
            <choiceReferences>c_2942e6db_7ef0_440d_901a_1352e30e6d64</choiceReferences>
            <choiceReferences>c_b6dc785d_5be3_4c9e_a756_28010e76c79a</choiceReferences>
            <choiceReferences>c_cffb4b76_2d2c_4629_9843_e61a13e3bc8c</choiceReferences>
            <choiceReferences>c_0bb6f585_2218_48c8_bc7b_67d621464566</choiceReferences>
            <choiceReferences>c_a585694e_5ca9_407f_9122_0e0b5ed7fe00</choiceReferences>
            <choiceReferences>c_663a77c8_0081_4177_9933_1b9c89a59bba</choiceReferences>
            <choiceReferences>c_73541616_1606_4948_b132_532e82ea7284</choiceReferences>
            <choiceReferences>c_12d0565c_ca41_4520_bd62_9804269032bc</choiceReferences>
            <choiceReferences>c_e41787df_8bf3_4d99_af6c_a512e2df4e65</choiceReferences>
            <choiceReferences>c_aed08ae5_8c6e_4d58_9e83_13c902be8f9f</choiceReferences>
            <choiceReferences>c_2d4f39fa_3fe2_4cda_ac62_39fa36be835d</choiceReferences>
            <choiceReferences>c_67dd1328_a7ed_42a7_85fc_c2f55e442db2</choiceReferences>
            <choiceReferences>c_3808872d_5ee1_4ccd_b41a_f1e33fadc988</choiceReferences>
            <choiceReferences>c_bc328d4d_0dd0_4ddb_89ce_8ed8c94a472a</choiceReferences>
            <choiceReferences>c_99c15fe6_f705_4702_af12_25f0ea7318ae</choiceReferences>
            <choiceReferences>c_fcfd82d0_70c2_457d_b0c3_7ed8ff6d518e</choiceReferences>
            <choiceReferences>c_373747d9_80f9_47f5_aaff_73f0b6f6d069</choiceReferences>
            <choiceReferences>c_baa4d757_69c4_467f_94fb_27b5fd05caf6</choiceReferences>
            <choiceReferences>c_5d646ae3_306b_4981_8550_afd16fd98d26</choiceReferences>
            <choiceReferences>c_c636c0f8_1cb4_4338_a484_596d11d2d415</choiceReferences>
            <choiceReferences>c_af6ecd3b_3cac_46ee_aa33_586b71a2687a</choiceReferences>
            <choiceReferences>c_814ab964_1206_45ac_850e_c9dfa68b46b3</choiceReferences>
            <choiceReferences>c_c980ddbb_312b_46dd_a773_9b94e73ab963</choiceReferences>
            <choiceReferences>c_4a52205f_6efc_4944_ba89_9c588ea77018</choiceReferences>
            <choiceReferences>c_c9a45c89_ac7c_4cec_bb03_f869f765321a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Which cities/towns of the Cherokee Nation Reservation would you be interested in living in? Please select up to 3. If your preference is not listed, select the closest city.&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_638d9537_8c81_489e_97b5_7ede3c402181</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0e4d2eb_ecdf_46a9_95d0_6dc3e13caf44</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_84d60ba7_0f54_4018_b795_0bb466ac1591</name>
            <choiceReferences>c_98164163_8ad4_4248_b921_b8ad001881e1</choiceReferences>
            <choiceReferences>c_8d338da8_3d67_4578_a5bf_468678b90fc7</choiceReferences>
            <choiceReferences>c_258a1d10_50da_409d_84a2_2c447fc1ecc0</choiceReferences>
            <choiceReferences>c_bc73ec29_3ec8_4452_8496_5c0fce604788</choiceReferences>
            <choiceReferences>c_50d1c467_939d_4936_b93c_7286e70ff11e</choiceReferences>
            <choiceReferences>c_dc94716c_7dc9_482c_adcf_5f4b909e18f8</choiceReferences>
            <choiceReferences>c_484ef46e_070c_4019_bfbd_347df3190424</choiceReferences>
            <choiceReferences>c_e0b1846d_1932_42a5_937e_d7383e015e64</choiceReferences>
            <choiceReferences>c_52f52e0c_f5b3_431d_be17_5141ea66a938</choiceReferences>
            <choiceReferences>c_5b1777bd_71c8_4054_9f43_b666c1c273d4</choiceReferences>
            <choiceReferences>c_a27fdab4_a937_4a1f_a26b_f78b62ae0304</choiceReferences>
            <choiceReferences>c_1b852f22_3042_476e_bbe1_eb0f0c0c2a61</choiceReferences>
            <choiceReferences>c_ff29c6e9_8f68_40b9_9c08_1a2d78f64414</choiceReferences>
            <choiceReferences>c_566f244c_5b18_4354_a904_baf5923fea19</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Arial;&quot;&gt;What type of industries are you interested in? Check all that apply.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a5095238_309f_473e_9bbf_52d43b84d36b</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Calibri, Arial;&quot;&gt;Please specify what type of industries are you interested in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_84d60ba7_0f54_4018_b795_0bb466ac1591</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_566f244c_5b18_4354_a904_baf5923fea19</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e225f3b9_6a64_4273_9872_737609e0e115</name>
            <choiceReferences>c_004cdd34_339c_4816_874c_1b87f0f6b6d2</choiceReferences>
            <choiceReferences>c_b53f1438_416d_4d04_b4d5_a430cccb2e87</choiceReferences>
            <choiceReferences>c_e1584422_d91b_4bc3_bc02_4905b89537f6</choiceReferences>
            <choiceReferences>c_fbb2d079_6a3f_4572_b5c9_0ce491a1d60d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;What type of jobs are you qualified for and interested in?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5b9a4613_602f_4b51_80ba_debf8de081b8</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Please specify what type of jobs are you qualified for &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;and interested in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_e225f3b9_6a64_4273_9872_737609e0e115</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_fbb2d079_6a3f_4572_b5c9_0ce491a1d60d</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b5b824b9_163e_4d08_80e3_030bf956a561</name>
            <choiceReferences>c_e6320f19_8a03_424b_b976_dba27923ae15</choiceReferences>
            <choiceReferences>c_c218f925_628d_486c_b367_259de0029168</choiceReferences>
            <choiceReferences>c_b149c53d_9d25_4159_89c9_67fd86208509</choiceReferences>
            <choiceReferences>c_6b8518b7_c0b7_491f_a259_abd892185c18</choiceReferences>
            <choiceReferences>c_cf66781f_97f1_484d_b9ac_af23f706d1aa</choiceReferences>
            <choiceReferences>c_10abb62e_01c0_4e4b_9fc1_488b953dd8f4</choiceReferences>
            <choiceReferences>c_cc772027_a4d1_4b42_9387_5d11ac0ebc48</choiceReferences>
            <choiceReferences>c_05e3c4bf_e7d3_4b57_afec_be5f99630dab</choiceReferences>
            <choiceReferences>c_dfb53e96_c042_43d0_a5a4_5dc37faeea28</choiceReferences>
            <choiceReferences>c_a6ac5c9e_a509_47bc_a973_85ddbb8c23e9</choiceReferences>
            <choiceReferences>c_62608965_b13d_4ddd_99f7_c56953526c4e</choiceReferences>
            <choiceReferences>c_d7fc6bb7_8208_4381_b018_ee8e0685a91f</choiceReferences>
            <choiceReferences>c_e87cb040_0a1c_486d_8d9e_6487ecbf9944</choiceReferences>
            <choiceReferences>c_2e2b7b9d_71f2_4827_8475_6fb2f698321a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;In which industries have you worked in the past 3 years?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4d344ed4_c787_48b0_85fd_0e4bffb9f0c1</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;Please specify which industries you have worked in the past 3 years&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, Arial; font-size: 11pt;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b5b824b9_163e_4d08_80e3_030bf956a561</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_2e2b7b9d_71f2_4827_8475_6fb2f698321a</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6f0044ec_1ec0_4fc9_b334_080cc7ea391d</name>
            <choiceReferences>c_533295bb_5cd8_493d_8a3c_8f0ffe90d437</choiceReferences>
            <choiceReferences>c_e31fcc86_6bb0_4910_a5fa_6dbeee71d0a8</choiceReferences>
            <choiceReferences>c_4efaf221_9893_44cc_84e5_5f75cb137938</choiceReferences>
            <choiceReferences>c_0ae61172_75a9_48aa_8209_226933cd3970</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;What is your current job?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c9a70971_8f2e_45ea_958b_dc6885242164</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Please specify your current job.&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6f0044ec_1ec0_4fc9_b334_080cc7ea391d</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_0ae61172_75a9_48aa_8209_226933cd3970</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f5c7e69b_b64e_4bd6_a678_941a83472aad</name>
            <choiceReferences>c_f6fce8b2_f511_4123_b52e_86da49bd7f5b</choiceReferences>
            <choiceReferences>c_a41b5559_eecb_4e98_8531_16c6e69840bf</choiceReferences>
            <choiceReferences>c_fc0b2dec_7159_4f79_a47e_ec522e37e012</choiceReferences>
            <choiceReferences>c_3b0350cc_52db_4fad_a5b8_ff752feb54da</choiceReferences>
            <choiceReferences>c_adb3f5e6_f522_4994_8058_d243cfbfe698</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How many people are in your household?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b6525302_2542_477d_9a63_8581d73f1305</name>
            <choiceReferences>c_797c424c_e14b_4cf9_b072_d2b23f6f1ae6</choiceReferences>
            <choiceReferences>c_2ea734d8_614b_4bbb_bedb_2b8d2c032125</choiceReferences>
            <choiceReferences>c_21fd35d9_44d8_4eb4_ab27_12ec5b157d0b</choiceReferences>
            <choiceReferences>c_bafa475e_e799_4f0a_b652_9f5cdc56af85</choiceReferences>
            <choiceReferences>c_632a7bab_7047_4787_ba53_2e4279654be0</choiceReferences>
            <choiceReferences>c_a472aea2_b141_4afa_95e1_11c252fa40e4</choiceReferences>
            <choiceReferences>c_39829454_4508_4c1c_897f_a8b3b6f1c0d2</choiceReferences>
            <choiceReferences>c_400041dc_5935_4db2_be86_73cac6d1fb22</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Which of the following categories best represents your annual household income (before taxes)?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_26be25f9_26cf_4f4e_aeca_814cce2f60cf</name>
            <choiceReferences>c_6a7281aa_939c_41ce_96e6_4d167d683b35</choiceReferences>
            <choiceReferences>c_c022189a_6e62_4144_8aac_5f801f042df0</choiceReferences>
            <choiceReferences>c_bb281c6b_ff58_4d19_8c0a_0694c9fd2590</choiceReferences>
            <choiceReferences>c_8ed33e0a_067e_4865_943f_fee30eea2c7c</choiceReferences>
            <choiceReferences>c_96318a3c_9884_4cf5_a22f_7b5eb05fc57c</choiceReferences>
            <choiceReferences>c_8c6b550d_a97f_40e6_bb4c_a389bfa3ff84</choiceReferences>
            <choiceReferences>c_2f89cc12_b701_406c_910f_543b5814395a</choiceReferences>
            <choiceReferences>c_6d0c7029_8ac0_459b_b37f_990960cb5291</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Which of the following categories best represents your annual personal income (before taxes)?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8f7f276b_139f_4964_b4e2_51a11a23ff47</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>^[0-9]{1,5}$</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8eb09224_c510_4f87_902e_3695e4c00d54</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;Please confirm your Zip Code.&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please only enter 5 digits for the zip code. Letters are not acceptable.</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_8eb09224_c510_4f87_902e_3695e4c00d54},&quot;^[0-9]{1,5}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_4141951b_f580_4c9d_96ee_860f979a0b9e</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Welcome!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
