force-app/main/default/flows/Send_EHR_SMS_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Covid_Negative_SMS</name>
        <label>Covid Negative SMS</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Update_SMS_Sent_Checkbox_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Reset_SMS_sent_Checkbox_for_Covid_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_12286008101</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>Get_Diseases_Mdt.Messaging_Template_API_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Patient_Mobile__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Find_in_Mdt_0</name>
        <label>Find in Mdt</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mdt_Matches_with_EHR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Diseases_Mdt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Covid_Negative_SMS</targetReference>
            </connector>
            <label>If Mdt Matches with EHR</label>
        </rules>
    </decisions>
    <description>Send SMS to the patient for Covid negative or flu positive. Update templates for Covid Neg. &amp; Flu Positive. Updated disease name. Added other STI disease. Added Metadata Checks.</description>
    <interviewLabel>Send EHR SMS Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send EHR SMS Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Diseases_Mdt</name>
        <label>Get Diseases Mdt</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_in_Mdt_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name_of_Disease__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HealthCloudGA__NameLabel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Testing_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CN_Disease__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_SMS_sent_Checkbox_for_Covid_0_0</name>
        <label>Reset SMS sent Checkbox for Covid</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>SMS_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_Sent_Checkbox_0_0_0_0_0_0_0_0_0</name>
        <label>Update SMS Sent Checkbox</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>SMS_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Diseases_Mdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Result_Link_Generic__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Test_Result_Link_Generic__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>https://</stringValue>
            </value>
        </filters>
        <filters>
            <field>Test_Result_Link_Generic__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HealthCloudGA__NameLabel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Testing_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Patient_Mobile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>HealthCloudGA__EhrObservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CNDiseasesMdtRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CN_Disease__mdt</objectType>
    </variables>
    <variables>
        <name>MatchFoundInMdt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
