force-app/main/default/flows/Send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>targetType</name>
            <value>
                <stringValue>PHONE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>send survey</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>myVariable_current.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Send_Survey_Link_via_Text_Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18336300394</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>targetType</name>
            <value>
                <stringValue>PHONE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>send otp</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>myVariable_current.PersonOtherPhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Gadugi_portal_OTP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18445720811</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>targetType</name>
            <value>
                <stringValue>PHONE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Send Cerner Result SMS for Cerner Account</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>myVariable_current.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Send_Test_Result_Link_via_Text_Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18449794668</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>targetType</name>
            <value>
                <stringValue>PHONE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Send Cerner Result SMS for ERM Patient</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>myVariable_current.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Send_Test_Result_Link_via_Text_Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_18449794668</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Send Survey via SMS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.OTP_Gen_from_Portal__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.OTP__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.OTP_Counter__pc</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.OTP_Validity__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CN_Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Send Portal OTP</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Send Cerner Result SMS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Send Cerner Result SMS to ERM Accounts</label>
        </rules>
    </decisions>
    <description>For sending SMS as per multiple use cases. Added check to skip using custom setting.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>BEGINS([Account].Survey_Link__c , &apos;https://sforce.co&apos;) 
&amp;&amp;
ISCHANGED([Account].Survey_Link__c)
&amp;&amp;
 not([Account].Send_Survey_via_SMS__c) 
&amp;&amp;
[Account].RecordType.DeveloperName =&apos;ERM_Patient&apos;
&amp;&amp; 
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!myVariable_current.Survey_Link__c} , &apos;https://sforce.co&apos;) 
&amp;&amp;
ISCHANGED({!myVariable_current.Survey_Link__c})
&amp;&amp;
 not({!myVariable_current.Send_Survey_via_SMS__c}) 
&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =&apos;ERM_Patient&apos;
&amp;&amp; 
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].Test_Result_Link__c != &apos;&apos;
&amp;&amp;
[Account].RecordType.DeveloperName =&apos;Cerner_Account&apos;
&amp;&amp;
[Account].SMS_Sent__c = false
&amp;&amp;
 NOT(ISNULL([Account].Date_of_Birth__c ) ) 
&amp;&amp;
 NOT(ISNULL([Account].PersonMobilePhone ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Test_Result_Link__c} != &apos;&apos;
&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =&apos;Cerner_Account&apos;
&amp;&amp;
{!myVariable_current.SMS_Sent__c} = false
&amp;&amp;
 NOT(ISNULL({!myVariable_current.Date_of_Birth__c} ) ) 
&amp;&amp;
 NOT(ISNULL({!myVariable_current.PersonMobilePhone} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Account].Test_Result_Link__c != &apos;&apos;
&amp;&amp;
[Account].RecordType.DeveloperName =&apos;ERM_Patient&apos;
&amp;&amp;
[Account].SMS_Sent__c = false
&amp;&amp; 
[Account].Bypass_Cerner_Queue__c = true
&amp;&amp;
 NOT(ISNULL([Account].Date_of_Birth__c ) ) 
&amp;&amp;
 NOT(ISNULL([Account].PersonMobilePhone ) ) 
&amp;&amp; 
(
	IF(
		ISNEW(),
		([Account].Process_EHR_Records__c == false),
		(
			OR (
				NOT( ISCHANGED( [Account].Test_Type_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Result_Generic__c) ),
				NOT( ISCHANGED( [Account].Test_Date_Generic__c) )
			) &amp;&amp;
			NOT($Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Test_Result_Link__c} != &apos;&apos;
&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =&apos;ERM_Patient&apos;
&amp;&amp;
{!myVariable_current.SMS_Sent__c} = false
&amp;&amp; 
{!myVariable_current.Bypass_Cerner_Queue__c} = true
&amp;&amp;
 NOT(ISNULL({!myVariable_current.Date_of_Birth__c} ) ) 
&amp;&amp;
 NOT(ISNULL({!myVariable_current.PersonMobilePhone} ) ) 
&amp;&amp; 
(
	IF(
		ISNEW(),
		({!myVariable_current.Process_EHR_Records__c} == false),
		(
			OR (
				NOT( ISCHANGED( {!myVariable_current.Test_Type_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Result_Generic__c}) ),
				NOT( ISCHANGED( {!myVariable_current.Test_Date_Generic__c}) )
			) &amp;&amp;
			NOT({!$Setup.Skip_Account_Automation__c.Skip_Account_Process_Builder__c})
		)
	)
)</expression>
    </formulas>
    <interviewLabel>Send_SMS-33_InterviewLabel</interviewLabel>
    <label>Send SMS updated</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>uncheck otp gen for portal</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OTP Gen from Portal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>OTP_Gen_from_Portal__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update SMS Sent</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SMS Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>SMS_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Update SMS Sent</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SMS Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>SMS_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
