force-app/main/default/flows/Sub_Applicant_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Error_Duplicate_Id</name>
        <label>Error Duplicate Id</label>
        <locationX>467</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Errormsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate Citizen ID Found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Greater_18_years_old</name>
        <label>Error Greater 18 years old</label>
        <locationX>462</locationX>
        <locationY>1488</locationY>
        <assignmentItems>
            <assignToReference>Errormsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Children must be under 18 years old.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Incorrect_Date_of_birth</name>
        <label>Error Incorrect Date of birth</label>
        <locationX>460</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>Errormsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date of birth is incorrect.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_K_21_No_of_Children</name>
        <label>Error K-21 No. of Children</label>
        <locationX>429</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>Errormsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A maximum of child records can be added.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_K21_count</name>
        <label>Get K21 count</label>
        <locationX>650</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_K_21_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_K21_Childern_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Citizen_Id_Match_Found</name>
        <label>Mark Citizen Id Match Found</label>
        <locationX>1013</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>DuplicateCitizenId</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>K21_Childern</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Wrong_Citizen_Id</name>
        <label>Wrong Citizen Id</label>
        <locationX>50</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>Errormsg1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Citizen id invalid.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Record_Type</name>
        <label>Check Case Record Type</label>
        <locationX>723</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Mobile_Hotspot_Connectivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mobile Hotspot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Sub_Applicant_Mobile_Hotspot_Connectivity</targetReference>
            </connector>
            <label>Case - Mobile Hotspot Connectivity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_K21_Childern_List</name>
        <label>Check K21 Childern List</label>
        <locationX>644</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Validate_K_21_Childern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_K21_Childern_List_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K21_Childern</targetReference>
            </connector>
            <label>Check K21 Childern List Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citizen_Id_check</name>
        <label>Citizen Id check</label>
        <locationX>1005</locationX>
        <locationY>917</locationY>
        <defaultConnector>
            <targetReference>K21_Childern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizen_Id_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>K21_Childern.Citizen_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Citizen_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Citizen_Id_Match_Found</targetReference>
            </connector>
            <label>Citizen Id Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citizen_Record</name>
        <label>Citizen Record</label>
        <locationX>802</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Wrong_Citizen_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Citizen_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Citizen_Record.Tribe_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Citizen_Record.Tribe_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_K_21_Children</targetReference>
            </connector>
            <label>Check for Citizen Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_K_21_Childern</name>
        <label>Validate K-21 Childern</label>
        <locationX>731</locationX>
        <locationY>1330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizen_Id_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateCitizenId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Duplicate_Id</targetReference>
            </connector>
            <label>Citizen Id Matched</label>
        </rules>
        <rules>
            <name>Check_for_18_years_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Citizen_Record.Age_Numeric__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Greater_18_years_old</targetReference>
            </connector>
            <label>Check for 18 years old</label>
        </rules>
        <rules>
            <name>Check_for_Correct_Date_of_birth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Of_Birth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Citizen_Record.Date_of_Birth__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Incorrect_Date_of_birth</targetReference>
            </connector>
            <label>Check for Correct Date of birth</label>
        </rules>
        <rules>
            <name>Check_K_21_No_of_Children</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Children_attending_K_12_school__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_K_21_No_of_Children</targetReference>
            </connector>
            <label>Check K-21 No. of Children</label>
        </rules>
    </decisions>
    <interviewLabel>Sub Applicant Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Applicant Screen Flow</label>
    <loops>
        <name>K21_Childern</name>
        <label>K21 Childern</label>
        <locationX>819</locationX>
        <locationY>1099</locationY>
        <collectionReference>Get_All_K_21_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Citizen_Id_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_K_21_Childern</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_K_21_Children</name>
        <label>Get All K-21 Children</label>
        <locationX>537</locationX>
        <locationY>813</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_K21_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sub_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>738</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Citizen_Record</name>
        <label>Get Citizen Record</label>
        <locationX>545</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Citizen_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tribe_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Citizen_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CN Registration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>53</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errormsg</name>
            <fieldText>&lt;p&gt;{!Errormsg1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Sub_Applicant_Mobile_Hotspot_Connectivity</name>
        <label>New Sub Applicant: Mobile Hotspot Connectivity</label>
        <locationX>560</locationX>
        <locationY>479</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Citizen_Record</targetReference>
        </connector>
        <fields>
            <name>Citizen_Id</name>
            <dataType>String</dataType>
            <fieldText>Citizen Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date Of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>621</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DuplicateCitizenId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Errormsg1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
