force-app/main/default/flows/Sub_Applicant_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Duplicate_Id</name>
        <label>Error Duplicate Id</label>
        <locationX>424</locationX>
        <locationY>1392</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Duplicate Citizen ID Found.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubApprecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Greater_18_years_old</name>
        <label>Error Greater 18 years old</label>
        <locationX>282</locationX>
        <locationY>1474</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Children must be under 18 years old.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubApprecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Incorrect_Date_of_birth</name>
        <label>Error Incorrect Date of birth</label>
        <locationX>147</locationX>
        <locationY>1426</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Date of birth is incorrect.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubApprecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_K_21_No_of_Children</name>
        <label>Error K-21 No. of Children</label>
        <locationX>50</locationX>
        <locationY>1474</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>A maximum of child records can be added.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubApprecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Wrong_Citizen_Id</name>
        <label>Wrong Citizen Id</label>
        <locationX>171</locationX>
        <locationY>644</locationY>
        <actionName>FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Citizen id invalid.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubApprecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Get_K21_count</name>
        <label>Get K21 count</label>
        <locationX>423</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_K_21_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_K_21_Childern</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Citizen_Id_Match_Found</name>
        <label>Mark Citizen Id Match Found</label>
        <locationX>811</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>DuplicateCitizenId</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>K21_Childern</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Recordtype</name>
        <label>Check Recordtype</label>
        <locationX>710</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Applicant_Mobile_Hotspot_Connectivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mobile Hotspot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Citizen_Record</targetReference>
            </connector>
            <label>Sub Applicant - Mobile Hotspot Connectivity</label>
        </rules>
        <rules>
            <name>Case_Mobile_Hotspot_Connectivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request__r.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mobile Hotspot</stringValue>
                </rightValue>
            </conditions>
            <label>Case - Mobile Hotspot Connectivity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citizen_Id_check</name>
        <label>Citizen Id check</label>
        <locationX>826</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>K21_Childern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizen_Id_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>K21_Childern.Citizen_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Citizen_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Citizen_Id_Match_Found</targetReference>
            </connector>
            <label>Citizen Id Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citizen_Record</name>
        <label>Citizen Record</label>
        <locationX>384</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Get_All_K_21_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Citizen_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Citizen_Record.Tribe_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Citizen_Record.Tribe_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wrong_Citizen_Id</targetReference>
            </connector>
            <label>Check for Citizen Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_K_21_Childern</name>
        <label>Validate K-21 Childern</label>
        <locationX>414</locationX>
        <locationY>1069</locationY>
        <defaultConnector>
            <targetReference>Update_Sub_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Citizen_Id_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateCitizenId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Duplicate_Id</targetReference>
            </connector>
            <label>Citizen Id Matched</label>
        </rules>
        <rules>
            <name>Check_for_18_years_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Citizen_Record.Age_Numeric__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Greater_18_years_old</targetReference>
            </connector>
            <label>Check for 18 years old</label>
        </rules>
        <rules>
            <name>CheckforCorrectDateofbirth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_of_Birth__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Citizen_Record.Date_of_Birth__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Incorrect_Date_of_birth</targetReference>
            </connector>
            <label>Check for Correct Date of birth</label>
        </rules>
        <rules>
            <name>Check_K_21_No_of_Children</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request__r.Children_attending_K_12_school__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_K_21_No_of_Children</targetReference>
            </connector>
            <label>Check K-21 No. of Children</label>
        </rules>
    </decisions>
    <interviewLabel>Sub Applicant Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Applicant Triggered Flow</label>
    <loops>
        <name>K21_Childern</name>
        <label>K21 Childern</label>
        <locationX>609</locationX>
        <locationY>855</locationY>
        <collectionReference>Get_All_K_21_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Citizen_Id_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_K21_count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_K_21_Children</name>
        <label>Get All K-21 Children</label>
        <locationX>590</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>K21_Childern</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sub_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Citizen_Record</name>
        <label>Get Citizen Record</label>
        <locationX>620</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Citizen_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Wrong_Citizen_Id</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tribe_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Citizen_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CN Registration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sub_Applicant</name>
        <label>Update Sub Applicant</label>
        <locationX>789</locationX>
        <locationY>1161</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Citizen_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Get_Citizen_Record.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>589</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Recordtype</targetReference>
        </connector>
        <object>Sub_Applicant__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DuplicateCitizenId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
