force-app/main/default/flows/Subflow_Clinical_Assessment_Vac_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set got Vac No variables</description>
        <name>Set_got_Vac_No_variables</name>
        <label>Set got Vac No variables</label>
        <locationX>1720</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>RecievedCOVID19vaccinationValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_you_received_the_COVID_19_vaccination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COVID_19vaccinationtypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HowmanydosesrecievedValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COVID_19VaccineDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyougetCOVID_19vaccineValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyougetCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatpreventedyoufromgettingtheVacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatwouldhavemadegettingVaceasierValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set got Vac Yes variables</description>
        <name>Set_got_Vac_Yes_variables</name>
        <label>Set got Vac Yes variables</label>
        <locationX>2155</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>RecievedCOVID19vaccinationValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_you_received_the_COVID_19_vaccination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COVID_19vaccinationtypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_COVID_19_vaccination_did_you_receive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HowmanydosesrecievedValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_doses_of_the_COVID_19_vaccination_have_you_received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COVID_19VaccineDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_long_ago_was_your_last_COVID_19_vaccinatio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyougetCOVID_19vaccineValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_did_you_get_COVID_19_vaccine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyougetCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_did_you_get_COVID_19_vaccine_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set not sure Wanted to get Vac variables</description>
        <name>Set_not_sure_Wanted_to_get_Vac_variables</name>
        <label>Set not sure Wanted to get Vac variables</label>
        <locationX>2491</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>WhydidyouwanttogetCOVID_19VacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReasonswhyyouchosenotgettheVacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyouwanttogettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhataresomereasonswhyyouchosenotgettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set not Wanted to get Vac variables</description>
        <name>Set_not_Wanted_to_get_Vac_variables</name>
        <label>Set not Wanted to get Vac variables</label>
        <locationX>2493</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>WhydidyouwanttogetCOVID_19VacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhyunsureaboutgettingCOVID_19VacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatpreventedyoufromgettingtheVacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatwouldhavemadegettingVaceasierValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyouwanttogettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhywereyouunsureaboutgettingtheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Wanted to get Vac variables</description>
        <name>Set_Wanted_to_get_Vac_variables</name>
        <label>Set Wanted to get Vac variables</label>
        <locationX>2489</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>ReasonswhyyouchosenotgettheVacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhyunsureaboutgettingCOVID_19VacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhataresomereasonswhyyouchosenotgettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhywereyouunsureaboutgettingtheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>What are some reasons why you chose not get the COVID-19 vaccine (select all that apply)?</description>
        <name>What_are_some_reasons_why_you_chose_not_get_the_COVID_19_vaccine_select_all_that</name>
        <label>What are some reasons why you chose not get the COVID-19 vaccine (select all that apply)?</label>
        <locationX>2950</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>ReasonswhyyouchosenotgettheVacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_some_reasons_why_you_chose_not_get_the_COVID_19_vaccine_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhataresomereasonswhyyouchosenotgettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_some_reasons_why_you_chose_not_get_the_COVID_19_vaccine_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Why did you want to get the COVID-19 vaccine</description>
        <name>Why_did_you_want_to_get_the_COVID_19_vaccine</name>
        <label>Why did you want to get the COVID-19 vaccine</label>
        <locationX>2948</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>WhydidyouwanttogetCOVID_19VacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_did_you_want_to_get_the_COVID_19_vaccine_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhydidyouwanttogettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_did_you_want_to_get_the_COVID_19_vaccine_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Why were you unsure about getting the COVID-19 vaccine (select all the apply)?</description>
        <name>Why_were_you_unsure_about_getting_the_COVID_19_vaccine</name>
        <label>Why were you unsure about getting the COVID-19 vaccine (select all the apply)?</label>
        <locationX>2947</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>WhyunsureaboutgettingCOVID_19VacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_were_you_unsure_about_getting_the_COVID_19_vaccine_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhywereyouunsureaboutgettingtheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_were_you_unsure_about_getting_the_COVID_19_vaccine_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>What would have made it easier for you to get the COVID-19 vaccine?</description>
        <name>X11_What_would_have_made_it_easier_for_you_to_get_the_COVID_19_vaccine</name>
        <label>What would have made it easier for you to get the COVID-19 vaccine?</label>
        <locationX>3271</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>WhatwouldhavemadegettingVaceasierValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_would_have_made_it_easier_for_you_to_get_the_COVID_19_vaccine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatpreventedyoufromgettingtheVacValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_reasons_that_may_have_prevented_you_from_getting_the_COVID_19_vaccine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_reasons_that_may_have_prevented_you_from_getting_the_COVID_19_vaccine_D</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_would_have_made_it_easier_for_you_to_get_the_COVID_19_vaccine_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_6</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>false</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Unknown</description>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Vaccinated Response</description>
        <name>Vaccinated_Response</name>
        <label>Vaccinated Response</label>
        <locationX>1711</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>Set_got_Vac_No_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vaccinated_Response_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_received_the_COVID_19_vaccination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_0</targetReference>
            </connector>
            <label>Vaccinated Response is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Wanted to Get Vacc</description>
        <name>Wanted_to_Get_Vac</name>
        <label>Wanted to Get Vac</label>
        <locationX>2157</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Set_not_sure_Wanted_to_get_Vac_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>response_is_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_you_want_to_get_the_COVID_19_vaccination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wanted_to_get_Vac_variables</targetReference>
            </connector>
            <label>response is yes</label>
        </rules>
        <rules>
            <name>response_is_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_you_want_to_get_the_COVID_19_vaccination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_not_Wanted_to_get_Vac_variables</targetReference>
            </connector>
            <label>response is no</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>COVID-19 vaccination type</description>
        <name>COVID_19vaccinationtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>COVID19_vaccination_type__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Did you want to get the COVID-19 vaccine</description>
        <name>DidyouwanttogettheCOVID_19vaccine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_you_want_to_get_the_COVID19_vaccine__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HospitalizationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__HospitalizationStatus__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>How many doses recieved</description>
        <name>Howmanydosesrecieved</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_many_doses_recieved__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Is this a rapid CI mode</description>
        <name>IsthisarapidCImode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_a_rapid_CI_mode__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>last COVID-19 vaccination date</description>
        <name>lastCOVID_19vaccinationdate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>last_COVID19_vaccination_date__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>ReasonswhyyouchosenotgettheVac</description>
        <name>ReasonswhyyouchosenotgettheVac_new</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reasons_why_you_chose_not_get_the_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Recieved COVID-19 vaccination</description>
        <name>RecievedCOVID19vaccination</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recieved_COVID19_vaccination__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>What prevented you from getting the Vac</description>
        <name>WhatpreventedyoufromgettingtheVacChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_prevented_you_from_getting_the_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>What would have made getting Vac easier</description>
        <name>WhatwouldhavemadegettingVaceasierChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_would_have_made_getting_Vac_easier__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>WhydidyougetCOVID_19vaccine</description>
        <name>WhydidyougetCOVID_19vaccine_new</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_did_you_get_COVID19_vaccine__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>WhydidyouwanttogetCOVID_19Vac</description>
        <name>WhydidyouwanttogetCOVID_19Vac_New</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_did_you_want_to_get_COVID19_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>WhyunsureaboutgettingCOVID_19Vac</description>
        <name>WhyunsureaboutgettingCOVID_19Vac</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_unsure_about_getting_COVID19_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Subflow Clinical Assessment Vac Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Clinical Assessment Vac Questions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update CA</description>
        <name>Update_CA</name>
        <label>Update CA</label>
        <locationX>3622</locationX>
        <locationY>506</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COVID19_vaccination_type__c</field>
            <value>
                <elementReference>COVID_19vaccinationtypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_you_want_to_get_the_COVID19_vaccine__c</field>
            <value>
                <elementReference>Did_you_want_to_get_the_COVID_19_vaccination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_doses_recieved__c</field>
            <value>
                <elementReference>HowmanydosesrecievedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_COVID_19_Vaccination_Date__c</field>
            <value>
                <elementReference>COVID_19VaccineDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_why_you_chose_not_get_the_Vac__c</field>
            <value>
                <elementReference>ReasonswhyyouchosenotgettheVacValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reasons_you_chose_not_get_Vac_Details__c</field>
            <value>
                <elementReference>WhataresomereasonswhyyouchosenotgettheCOVID19vaccineDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recieved_COVID19_vaccination__c</field>
            <value>
                <elementReference>RecievedCOVID19vaccinationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggestions_to_make_getting_COVID19_vac__c</field>
            <value>
                <elementReference>Do_you_have_any_suggestions_for_ways_to_make_getting_the_COVID_19_vaccination_ea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_prevented_you_from_Vac_Details__c</field>
            <value>
                <elementReference>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_prevented_you_from_getting_the_Vac__c</field>
            <value>
                <elementReference>WhatpreventedyoufromgettingtheVacValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_would_have_made_getting_Vac_easier__c</field>
            <value>
                <elementReference>WhatwouldhavemadegettingVaceasierValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_would_made_getting_Vac_easy_Details__c</field>
            <value>
                <elementReference>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_get_COVID19_vaccine__c</field>
            <value>
                <elementReference>WhydidyougetCOVID_19vaccineValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_get_COVID_19_vaccine_Details__c</field>
            <value>
                <elementReference>Why_did_you_get_COVID_19_vaccine_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_want_to_get_COVID19_Vac__c</field>
            <value>
                <elementReference>WhydidyouwanttogetCOVID_19VacValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_want_to_get_Vac_Details__c</field>
            <value>
                <elementReference>WhydidyouwanttogettheCOVID19vaccineDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_unsure_about_getting_COVID19_Vac__c</field>
            <value>
                <elementReference>WhyunsureaboutgettingCOVID_19VacValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_unsure_about_getting_Vac_Details__c</field>
            <value>
                <elementReference>WhywereyouunsureaboutgettingtheCOVID19vaccineDetails</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>1525</locationX>
        <locationY>115</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vaccinated_Response</targetReference>
        </connector>
        <fields>
            <name>display_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;We would like to now ask you about your COVID-19 vaccine history:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_received_the_COVID_19_vaccination</name>
            <choiceReferences>RecievedCOVID19vaccination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you received the COVID-19 vaccination?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_0</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>1898</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_got_Vac_Yes_variables</targetReference>
        </connector>
        <fields>
            <name>Which_COVID_19_vaccination_did_you_receive</name>
            <choiceReferences>COVID_19vaccinationtype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which COVID-19 vaccination did you receive?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_doses_of_the_COVID_19_vaccination_have_you_received</name>
            <choiceReferences>Howmanydosesrecieved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many doses of the COVID-19 vaccination have you received?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_long_ago_was_your_last_COVID_19_vaccinatio</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>COVID_19VaccineDate</elementReference>
            </defaultValue>
            <fieldText>How long ago was your last COVID-19 vaccination?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_get_COVID_19_vaccine</name>
            <choiceReferences>WhydidyougetCOVID_19vaccine_new</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why did you get COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_get_COVID_19_vaccine_Details</name>
            <dataType>String</dataType>
            <fieldText>Why did you get COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_1</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>1989</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wanted_to_Get_Vac</targetReference>
        </connector>
        <fields>
            <name>Did_you_want_to_get_the_COVID_19_vaccination</name>
            <choiceReferences>DidyouwanttogettheCOVID_19vaccine</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you want to get the COVID-19 vaccination?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_2</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>2732</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Why_did_you_want_to_get_the_COVID_19_vaccine</targetReference>
        </connector>
        <fields>
            <name>Why_did_you_want_to_get_the_COVID_19_vaccine_input</name>
            <choiceReferences>WhydidyouwanttogetCOVID_19Vac_New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why did you want to get the COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_want_to_get_the_COVID_19_vaccine_Details</name>
            <dataType>String</dataType>
            <fieldText>Why did you want to get the COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_3</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>2731</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_are_some_reasons_why_you_chose_not_get_the_COVID_19_vaccine_select_all_that</targetReference>
        </connector>
        <fields>
            <name>What_are_some_reasons_why_you_chose_not_get_the_COVID_19_vaccine_input</name>
            <choiceReferences>ReasonswhyyouchosenotgettheVac_new</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What are some reasons why you chose not get the COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_are_some_reasons_why_you_chose_not_get_the_COVID_19_vaccine_Details</name>
            <dataType>String</dataType>
            <fieldText>What are some reasons why you chose not get the COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_4</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>2733</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Why_were_you_unsure_about_getting_the_COVID_19_vaccine</targetReference>
        </connector>
        <fields>
            <name>Why_were_you_unsure_about_getting_the_COVID_19_vaccine_input</name>
            <choiceReferences>WhyunsureaboutgettingCOVID_19Vac</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why were you unsure about getting the COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_were_you_unsure_about_getting_the_COVID_19_vaccine_Details</name>
            <dataType>String</dataType>
            <fieldText>Why were you unsure about getting the COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_5</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>3271</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X11_What_would_have_made_it_easier_for_you_to_get_the_COVID_19_vaccine</targetReference>
        </connector>
        <fields>
            <name>What_are_reasons_that_may_have_prevented_you_from_getting_the_COVID_19_vaccine</name>
            <choiceReferences>WhatpreventedyoufromgettingtheVacChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What are reasons that may have prevented you from getting the COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_are_reasons_that_may_have_prevented_you_from_getting_the_COVID_19_vaccine_D</name>
            <dataType>String</dataType>
            <fieldText>What are reasons that may have prevented you from getting the COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_would_have_made_it_easier_for_you_to_get_the_COVID_19_vaccine</name>
            <choiceReferences>WhatwouldhavemadegettingVaceasierChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would have made it easier for you to get the COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_would_have_made_it_easier_for_you_to_get_the_COVID_19_vaccine_Details</name>
            <dataType>String</dataType>
            <fieldText>What would have made it easier for you to get the COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_6</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>3276</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_CA</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_any_suggestions_for_ways_to_make_getting_the_COVID_19_vaccination_ea</name>
            <fieldText>Do you have any suggestions for ways to make getting the COVID-19 vaccination easier or motivate individuals to get the COVID-19 vaccination?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1058</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>AsymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; may be infected or have a risk for infection. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClinicalAssessmentFor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;for &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!IndividualName}&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_DOB</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid date of birth&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Phone</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid phone number.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NoRiskResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Assessment Results: &lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; doesn&apos;t require testing. Based on &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt;&apos;s responses, there&apos;s no evidence of symptoms of infection. &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; can stay healthy by practicing social distancing to reduce community transmission and should follow guidelines from local officials.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; has symptoms of infection. We&apos;ll be in contact regarding self-care steps. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AsymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asymptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <description>CA_ID</description>
        <name>CA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardiovascularDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicLiverDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicLungDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicRenalDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicalAssesmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </variables>
    <variables>
        <name>COPD1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COVID_19vaccinationtypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COVID_19VaccineDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentSmoker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_of_when_symptoms_onset_fm</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiabetesMellitus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormerSmoker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Howmanydosesrecieved</description>
        <name>HowmanydosesrecievedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Immunocompromised</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>lastCOVID_19vaccinationdate</description>
        <name>lastCOVID_19vaccinationdateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_EmailPre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_PhonePre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeurologicalDisability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoRiskValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluated - No Risk</stringValue>
        </value>
    </variables>
    <variables>
        <name>OccupationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherChronicDiseases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PatientContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Patient Status</description>
        <name>PatientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pregnant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ReasonswhyyouchosenotgettheVacValue</description>
        <name>ReasonswhyyouchosenotgettheVacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecievedCOVID19vaccination</description>
        <name>RecievedCOVID19vaccinationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <description>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</description>
        <name>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What are some reasons why you chose not get the COVID-19 vaccine Details</description>
        <name>WhataresomereasonswhyyouchosenotgettheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What prevented you from getting the Vac</description>
        <name>WhatpreventedyoufromgettingtheVacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What would have made getting Vac easier</description>
        <name>WhatwouldhavemadegettingVaceasierValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</description>
        <name>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Why did you get COVID-19 vaccine Details</description>
        <name>WhydidyougetCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhydidyougetCOVID_19vaccineValue</description>
        <name>WhydidyougetCOVID_19vaccineValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhydidyouwanttogetCOVID_19VacValue</description>
        <name>WhydidyouwanttogetCOVID_19VacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Why did you want to get the COVID19 vaccine Details</description>
        <name>WhydidyouwanttogettheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhyunsureaboutgettingCOVID_19VacValue</description>
        <name>WhyunsureaboutgettingCOVID_19VacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Why were you unsure about getting the COVID19 vaccine Details</description>
        <name>WhywereyouunsureaboutgettingtheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
