force-app/main/default/flows/SubFlow_Clinical_Assessment_Questionnaire_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AsymptomaticAssignment</name>
        <label>Asymptomatic Assignment</label>
        <locationX>1581</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsymptomaticValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoRiskAssignment</name>
        <label>No Risk Assignment</label>
        <locationX>1326</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoRiskValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Symptomatic Assignment</description>
        <name>SymptomaticAssignment</name>
        <label>Symptomatic Assignment</label>
        <locationX>1089</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SymptomaticValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_No_Symptoms</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>false</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Unknown</description>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Account active/Inactive</description>
        <name>Account_active_Inactive</name>
        <label>Account active/Inactive</label>
        <locationX>640</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Case_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allowed_to_proceed</name>
        <label>Allowed to proceed</label>
        <locationX>791</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rapid_CI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Contact_OR_Case__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>May_I_ask_you_a_few_questions_to_understand_how_you_re_feeling</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rapid_CI_Screen</targetReference>
            </connector>
            <label>Rapid CI</label>
        </rules>
        <rules>
            <name>Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>May_I_ask_you_a_few_questions_to_understand_how_you_re_feeling</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assessment</targetReference>
            </connector>
            <label>Allow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Age</description>
        <name>Check_Age</name>
        <label>Check Age</label>
        <locationX>1733</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Staying_Away_from_others_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age_is_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vac_Questions</targetReference>
            </connector>
            <label>Age is 4+</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check testing status</description>
        <name>Check_testing_status</name>
        <label>Check testing status</label>
        <locationX>1212</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>get_CA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.HealthCloudGA__Testing_Status__pc</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Tasks</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>if Asymp and Previously diagnosed</description>
        <name>if_Asymp_and_Previously_diagnosed</name>
        <label>if Asymp and Previously diagnosed</label>
        <locationX>1568</locationX>
        <locationY>1177</locationY>
        <defaultConnector>
            <targetReference>do_not_skip_quarantine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_result</name>
            <conditionLogic>((1 OR 12) AND 2 AND 3) OR ((1 OR 12) AND 4 AND (5 OR 6) AND 7 AND 8 AND 9) OR ((1 OR 12) AND 4 AND 10 AND 11 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AsymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.Previously_diagnosed_with_COVID_19__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.How_long_ago_did_you_have_COVID_19__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 or more months ago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.Recieved_COVID19_vaccination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.COVID19_vaccination_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moderna</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.COVID19_vaccination_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pfizer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.How_many_doses_recieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 doses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.last_COVID19_vaccination_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Less than a week ago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.last_COVID19_vaccination_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>A week ago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.COVID19_vaccination_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Johnson and Johnson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_CA.How_many_doses_recieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 dose</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoRiskValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_task</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Clinical_Assessment_Found</name>
        <label>No Clinical Assessment Found</label>
        <locationX>1124</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Medical_Condition_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Condition_Screen_0</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PatientStatusCalculation</name>
        <label>Patient Status Calculation</label>
        <locationX>1308</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>NoRiskAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Risk</defaultConnectorLabel>
        <rules>
            <name>No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicLungDisease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiabetesMellitus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicRenalDisease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicLiverDisease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NeurologicalDisability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OtherChronicDiseases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSmoker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormerSmoker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fatigue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lost_of_Taste_Smell</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Symptoms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRiskAssignment</targetReference>
            </connector>
            <label>No Response</label>
        </rules>
        <rules>
            <name>Symptomatic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fatigue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lost_of_Taste_Smell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SymptomaticAssignment</targetReference>
            </connector>
            <label>Symptomatic</label>
        </rules>
        <rules>
            <name>Asymptomatic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicLungDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiabetesMellitus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicRenalDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicLiverDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NeurologicalDisability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OtherChronicDiseases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSmoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormerSmoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicLungDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiabetesMellitus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicRenalDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChronicLiverDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NeurologicalDisability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OtherChronicDiseases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSmoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormerSmoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsymptomaticAssignment</targetReference>
            </connector>
            <label>Asymptomatic</label>
        </rules>
    </decisions>
    <decisions>
        <name>ple_found</name>
        <label>ple found</label>
        <locationX>2191</locationX>
        <locationY>1189</locationY>
        <defaultConnector>
            <targetReference>Quarantine_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_PLE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PLEnotFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>false</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_ple</targetReference>
            </connector>
            <label>found PLE</label>
        </rules>
    </decisions>
    <decisions>
        <name>task_found</name>
        <label>task found</label>
        <locationX>1818</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>update_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskfound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_tasks</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HospitalizationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__HospitalizationStatus__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Is this a rapid CI mode</description>
        <name>IsthisarapidCImode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_a_rapid_CI_mode__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Age</name>
        <dataType>Number</dataType>
        <expression>IF( NOT( ISBLANK( {!Account.Date_of_Birth__c}) ) ,
  IF( DATE( 2000 , MONTH( {!Account.Date_of_Birth__c}) , DAY( {!Account.Date_of_Birth__c}) ) &lt;= 
      DATE( 2000 , MONTH( TODAY() ) , DAY( TODAY() ) ),
      YEAR (Today()) - YEAR ( {!Account.Date_of_Birth__c}),
      YEAR (Today()) - YEAR ( {!Account.Date_of_Birth__c}) -1 ),
  null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SubFlow : Clinical Assessment Questionnaire Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow : Clinical Assessment Questionnaire Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Store everything captured in the clinical assessment</description>
        <name>ClinicalAssessment</name>
        <label>Clinical Assessment</label>
        <locationX>1592</locationX>
        <locationY>359</locationY>
        <assignRecordIdToReference>ClinicalAssesmentResponseId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Age</targetReference>
        </connector>
        <inputAssignments>
            <field>Fatigue__c</field>
            <value>
                <elementReference>Fatigue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__AbdominalPain__c</field>
            <value>
                <elementReference>Abdominal_Pain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CardiovascularDisease__c</field>
            <value>
                <elementReference>CardiovascularDisease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Chills__c</field>
            <value>
                <elementReference>ChillsQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicLiverDisease__c</field>
            <value>
                <elementReference>ChronicLiverDisease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicLungDisease__c</field>
            <value>
                <elementReference>ChronicLungDisease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicRenalDisease__c</field>
            <value>
                <elementReference>ChronicRenalDisease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Cough__c</field>
            <value>
                <elementReference>CoughQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CurrentSmoker__c</field>
            <value>
                <elementReference>CurrentSmoker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DiabetesMellitus__c</field>
            <value>
                <elementReference>DiabetesMellitus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Diarrhoea__c</field>
            <value>
                <elementReference>Diarrhea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__FeverOverThreshold__c</field>
            <value>
                <elementReference>Fever_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__FormerSmoker__c</field>
            <value>
                <elementReference>FormerSmoker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Headache__c</field>
            <value>
                <elementReference>Headache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__HighestRecordedTemperature__c</field>
            <value>
                <elementReference>Highest_Temperature_Recorded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Immunocompromised__c</field>
            <value>
                <elementReference>Immunocompromised</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__MuscleAches__c</field>
            <value>
                <elementReference>Muscle_aches_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NauseaOrVomiting__c</field>
            <value>
                <elementReference>Nausea_or_vomiting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NeurologicalDisablityNotes__c</field>
            <value>
                <elementReference>Neuro_Disability_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NeurologicalDisablity__c</field>
            <value>
                <elementReference>NeurologicalDisability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Occupation__c</field>
            <value>
                <elementReference>OccupationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherChronicDiseasesNotes__c</field>
            <value>
                <elementReference>Chronic_Disease_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherChronicDiseases__c</field>
            <value>
                <elementReference>OtherChronicDiseases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherSymptoms__c</field>
            <value>
                <elementReference>Other_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Patient__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__RunnyNose__c</field>
            <value>
                <elementReference>Runny_NoseQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ShortnessOfBreath__c</field>
            <value>
                <elementReference>Shortness_of_Breath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SoreThroat__c</field>
            <value>
                <elementReference>Sore_throat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SubjectiveFever__c</field>
            <value>
                <elementReference>Subjective_Fever</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_long_ago_did_you_have_COVID_19__c</field>
            <value>
                <elementReference>howlongagodiagnosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>CA {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Lost_of_Taste_Smell__c</field>
            <value>
                <elementReference>New_Lost_of_Taste_Smell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Symptoms__c</field>
            <value>
                <elementReference>No_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnant__c</field>
            <value>
                <elementReference>Pregnant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_diagnosed_with_COVID_19__c</field>
            <value>
                <elementReference>Previouslydiagnosed</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordCreates>
    <recordDeletes>
        <description>delete ple</description>
        <name>delete_ple</name>
        <label>delete ple</label>
        <locationX>2213</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Quarantine_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryPersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CA.HealthCloudGA__Patient__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsExpired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PersonLifeEvent</object>
    </recordDeletes>
    <recordDeletes>
        <description>delete tasks</description>
        <name>delete_tasks</name>
        <label>delete tasks</label>
        <locationX>1827</locationX>
        <locationY>1307</locationY>
        <connector>
            <targetReference>update_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily Followup Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_Survey_Invite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CA.HealthCloudGA__Patient__r.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>509</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_active_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>424</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PatientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment</name>
        <label>Get Assessment</label>
        <locationX>1052</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assessment_Screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get CA</description>
        <name>get_CA</name>
        <label>get CA</label>
        <locationX>1419</locationX>
        <locationY>1178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_Asymp_and_Previously_diagnosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PLE</name>
        <label>get PLE</label>
        <locationX>2084</locationX>
        <locationY>1186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ple_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsExpired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PrimaryPersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CA.HealthCloudGA__Patient__r.PersonContactId</elementReference>
            </value>
        </filters>
        <object>PersonLifeEvent</object>
        <outputAssignments>
            <assignToReference>PLEnotFound</assignToReference>
            <field>IsExpired</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>get task</description>
        <name>get_task</name>
        <label>get task</label>
        <locationX>1720</locationX>
        <locationY>1174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>task_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Survey_Invite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily Followup Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CA.HealthCloudGA__Patient__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>taskfound</assignToReference>
            <field>Send_Survey_Invite__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Create Patient Tasks</description>
        <name>Create_Patient_Tasks</name>
        <label>Create Patient Tasks</label>
        <locationX>1220</locationX>
        <locationY>1310</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Patient_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_a_Healthcare_Worker__c</field>
            <value>
                <elementReference>Is_a_Healthcare_Worker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_a_rapid_CI_mode__c</field>
            <value>
                <elementReference>Is_this_a_rapid_CI_mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Quarantine__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Case - CI Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>do not skip quarantine</description>
        <name>do_not_skip_quarantine</name>
        <label>do not skip quarantine</label>
        <locationX>1590</locationX>
        <locationY>1327</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skip_Quarantine__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>update account</description>
        <name>update_account</name>
        <label>update account</label>
        <locationX>1960</locationX>
        <locationY>1183</locationY>
        <connector>
            <targetReference>get_PLE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CA.HealthCloudGA__Patient__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Quarantine__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update CA</description>
        <name>Update_CA</name>
        <label>Update CA</label>
        <locationX>1523</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>PatientStatusCalculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_staying_away_from_others__c</field>
            <value>
                <elementReference>Are_you_staying_away_from_others</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Symptoms</name>
        <label>Update No Symptoms</label>
        <locationX>1111</locationX>
        <locationY>905</locationY>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Symptoms__c</field>
            <value>
                <elementReference>No</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateConditionStatus</name>
        <label>Update Patient&apos;s Condition Status</label>
        <locationX>1214</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>Check_testing_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__ConditionStatus__c</field>
            <value>
                <elementReference>PatientStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Screen2</name>
        <label>Current Assessment Screen</label>
        <locationX>990</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Clinical_Assessment_Found</targetReference>
        </connector>
        <fields>
            <name>QuestionaireCallScript</name>
            <fieldText>&lt;p&gt;Now, Id like to ask you questions about your symptoms and medical history.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentSymptomsHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current Symptoms &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ClinicalAssessmentFor}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fever_Q</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fever Greater than 100.4F (38C)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Highest_Temperature_Recorded</name>
            <dataType>Number</dataType>
            <fieldText>Highest Temperature Recorded in Fahrenheit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Subjective_Fever</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subjective Fever or Felt Feverish</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChillsQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chills</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Muscle_aches_Q</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Muscle Aches</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Runny_NoseQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Runny Nose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sore_throat</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sore Throat</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CoughQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cough (New Onset or Worsening of Chronic Cough)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shortness_of_Breath</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shortness of Breath</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Nausea_or_vomiting</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nausea or Vomiting</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Headache</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Headache</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Abdominal_Pain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Abdominal Pain</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diarrhea</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diarrhea</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fatigue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fatigue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Lost_of_Taste_Smell</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss of Taste/Smell</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Symptoms</name>
            <dataType>String</dataType>
            <fieldText>Additional Symptoms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Other_Symptoms}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>No_Symptoms</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asymptomatic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asymptomatic_Screen</name>
        <label>Asymptomatic Screen</label>
        <locationX>781</locationX>
        <locationY>1031</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusTempMsg_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AsymptomaticResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Covid History Screen</description>
        <name>Covid_History_Screen</name>
        <label>Covid History Screen</label>
        <locationX>1450</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ClinicalAssessment</targetReference>
        </connector>
        <fields>
            <name>Covid_history</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>HealthCloudGA__Clinical_Assessment_Response__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Previously_diagnosed_with_COVID_19__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>How_long_ago_did_you_have_COVID_19__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Have you previously diagnosed with COVID-19?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Previouslydiagnosed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>How long ago did you have COVID-19?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>howlongagodiagnosed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Previouslydiagnosed</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>howlongagodiagnosed</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>659</locationX>
        <locationY>822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(224, 32, 32);&quot;&gt;Please make sure that the Contact/Case is marked as Active to add Clinical Assessment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medical_Condition_Screen</name>
        <label>Medical Condition Screen</label>
        <locationX>1314</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
        <fields>
            <name>MedicalHistoryCallScript</name>
            <fieldText>&lt;p&gt;Has the individual been diagnosed with any of the following conditions?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicalHistory</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Medical History &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;{!ClinicalAssessmentFor} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chronic_Lung_Disease_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__ChronicLungDisease__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Chronic Lung Disease (Asthma/Emphysema/COPD)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChronicLungDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Diabetes_Mellitus_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Diabetes Mellitus</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__DiabetesMellitus__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DiabetesMellitus</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CardiovascularDisease_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Cardiovascular Disease</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__CardiovascularDisease__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CardiovascularDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Chronic_Renal_Disease_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Chronic Renal Disease</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__ChronicRenalDisease__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChronicRenalDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Chronic_Liver_Disease_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Chronic Liver Disease</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__ChronicLiverDisease__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChronicLiverDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Immunocompromised_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Immunocompromised</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__Immunocompromised__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Immunocompromised</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Neurologic_Disability_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Neurological Disability</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__NeurologicalDisablity__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NeurologicalDisability</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Neuro_Disability_Info</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Assessment.HealthCloudGA__NeurologicalDisablityNotes__c</elementReference>
            </defaultValue>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Neuro_Disability_Info}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Other_Chronic_Diseases_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Other Chronic Conditions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__OtherChronicDiseases__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OtherChronicDiseases</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Chronic_Disease_Details</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Assessment.HealthCloudGA__OtherChronicDiseasesNotes__c</elementReference>
            </defaultValue>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Chronic_Disease_Details}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Current_Smoker_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Current Smoker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__CurrentSmoker__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentSmoker</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Former_Smoker_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Former Smoker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.HealthCloudGA__FormerSmoker__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FormerSmoker</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pregnant_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Pregnant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Assessment.Pregnant__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Pregnant</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Account.HealthCloudGA__Gender__pc</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Male</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medical_Condition_Screen_0</name>
        <label>Medical Condition Screen</label>
        <locationX>1220</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
        <fields>
            <name>MedicalHistoryCallScript_0</name>
            <fieldText>&lt;p&gt;Has the individual been diagnosed with any of the following conditions?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicalHistory_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Medical History &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;{!ClinicalAssessmentFor} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chronic_Lung_Disease_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Chronic Lung Disease (Asthma/Emphysema/COPD)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ChronicLungDisease</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChronicLungDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Diabetes_Mellitus_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Diabetes Mellitus</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DiabetesMellitus</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DiabetesMellitus</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CardiovascularDisease_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Cardiovascular Disease</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CardiovascularDisease</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CardiovascularDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Chronic_Renal_Disease_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Chronic Renal Disease</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ChronicRenalDisease</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChronicRenalDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Chronic_Liver_Disease_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Chronic Liver Disease</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ChronicLiverDisease</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ChronicLiverDisease</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Immunocompromised_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Immunocompromised</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Immunocompromised</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Immunocompromised</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Neurologic_Disability_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Neurological Disability</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>NeurologicalDisability</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NeurologicalDisability</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Neuro_Disability_Info_0</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Neuro_Disability_Info_0}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Other_Chronic_Diseases_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Other Chronic Conditions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>OtherChronicDiseases</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OtherChronicDiseases</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Chronic_Disease_Details_0</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Chronic_Disease_Details_0}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Current_Smoker_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Current Smoker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CurrentSmoker</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentSmoker</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Former_Smoker_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Former Smoker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FormerSmoker</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FormerSmoker</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Pregnant_0_0</name>
            <extensionName>c:RadioButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <stringValue>Pregnant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Pregnant</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Pregnant</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Account.HealthCloudGA__Gender__pc</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Male</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Risk_Screen</name>
        <label>No Risk Screen</label>
        <locationX>781</locationX>
        <locationY>1156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusTempMsg_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NoRiskResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Quarantine Notification</description>
        <name>Quarantine_Notification</name>
        <label>Quarantine Notification</label>
        <locationX>2406</locationX>
        <locationY>1186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noquarantine</name>
            <fieldText>&lt;p&gt;This contact does not need to be quarantined based off of vaccination staff or previous diagnosis of COVID-19. Please inform them that they should monitor for COVID-19 symptoms for 14 days after exposure. If they develop symptoms they should get tested and give the COVID hotline a call.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>For Rapid CI mode</description>
        <name>Rapid_CI_Screen</name>
        <label>Rapid CI Screen</label>
        <locationX>804</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Assessment</targetReference>
        </connector>
        <fields>
            <name>Is_this_a_rapid_CI_mode</name>
            <choiceReferences>IsthisarapidCImode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a rapid CI mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_a_Healthcare_Worker</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Account.Is_a_Healthcare_Worker__c</elementReference>
            </defaultValue>
            <fieldText>Is a Healthcare Worker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Staying Away from others screen</description>
        <name>Staying_Away_from_others_screen</name>
        <label>Staying Away from others screen</label>
        <locationX>1744</locationX>
        <locationY>556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CA</targetReference>
        </connector>
        <fields>
            <name>Are_you_staying_away_from_others</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you staying away from others?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Symptomatic_Screen</name>
        <label>Symptomatic Screen</label>
        <locationX>781</locationX>
        <locationY>905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusTempMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!SymptomaticResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome!</label>
        <locationX>650</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Allowed_to_proceed</targetReference>
        </connector>
        <fields>
            <name>Patient_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/u&gt;&lt;b&gt;&amp;nbsp;Contact/Case Name: {!PatientName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;Thanks for taking the time to talk with me today.&amp;nbsp;Id like to ask you a few questions about your health and gather information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>May_I_ask_you_a_few_questions_to_understand_how_you_re_feeling</name>
            <dataType>Boolean</dataType>
            <fieldText>May I ask you a few questions to understand how you&apos;re feeling?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Vac Questions</description>
        <name>Vac_Questions</name>
        <label>Vac Questions</label>
        <locationX>2017</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Staying_Away_from_others_screen</targetReference>
        </connector>
        <flowName>Subflow_Clinical_Assessment_Vac_Questions</flowName>
        <inputAssignments>
            <name>CA_ID</name>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AsymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; may be infected or have a risk for infection. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClinicalAssessmentFor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;for &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!IndividualName}&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_DOB</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid date of birth&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Phone</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid phone number.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NoRiskResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Assessment Results: &lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; doesn&apos;t require testing. Based on &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt;&apos;s responses, there&apos;s no evidence of symptoms of infection. &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; can stay healthy by practicing social distancing to reduce community transmission and should follow guidelines from local officials.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; has symptoms of infection. We&apos;ll be in contact regarding self-care steps. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AsymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asymptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>CardiovascularDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicLiverDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicLungDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicRenalDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicalAssesmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </variables>
    <variables>
        <name>COPD1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentSmoker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_of_when_symptoms_onset_fm</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiabetesMellitus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormerSmoker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>howlongagodiagnosed</description>
        <name>howlongagodiagnosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Immunocompromised</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_EmailPre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_PhonePre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeurologicalDisability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoRiskValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluated - No Risk</stringValue>
        </value>
    </variables>
    <variables>
        <name>OccupationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherChronicDiseases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PatientContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Patient Status</description>
        <name>PatientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PLEnotFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Pregnant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Previouslydiagnosed</description>
        <name>Previouslydiagnosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <description>taskfound</description>
        <name>taskfound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
