force-app/main/default/flows/SubFlow_Clinical_Assessment_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Patient_Account_For_Household_Member</name>
        <label>Create Patient Account For Household Member</label>
        <locationX>1244</locationX>
        <locationY>254</locationY>
        <actionName>HealthCloudGA__HcCreateAccountAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contact_Details</targetReference>
        </connector>
        <inputParameters>
            <name>personBirthDate</name>
            <value>
                <elementReference>PatientAccountRecord.Date_of_Birth__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personEmail</name>
            <value>
                <elementReference>PatientContactRecord.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>PatientContactRecord.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>PatientAccountRecord.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>PARecordTypeId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PatientId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default_Gender</name>
        <label>Assign Default Gender</label>
        <locationX>305</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Gender_lead</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demographic_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Name_Household</name>
        <label>Assign Individual Name_Household</label>
        <locationX>564</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>IndividualName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!PatientContactRecord.FirstName} {!PatientContactRecord.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment_Screen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Names</name>
        <label>Assign Individual Names</label>
        <locationX>452</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>IndividualName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Lead_First_Name} {!Lead_Last_Name} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment_Screen2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsymptomaticAssignment</name>
        <label>Asymptomatic Assignment</label>
        <locationX>1151</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsymptomaticValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Testing_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Exposed - Asymptomatic</description>
        <name>Exposed_Asymptomatic_r</name>
        <label>Exposed - Asymptomatic</label>
        <locationX>1697</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed - Asymptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Exposed - Symptomatic</description>
        <name>Exposed_Symptomatic_r</name>
        <label>Exposed - Symptomatic</label>
        <locationX>1545</locationX>
        <locationY>1265</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed - Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Negative - Asymptomatic</description>
        <name>Negative_Asymptomatic_r</name>
        <label>Negative - Asymptomatic</label>
        <locationX>1425</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative - Asymptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Negative - Symptomatic</description>
        <name>Negative_Symptomatic_r</name>
        <label>Negative - Symptomatic</label>
        <locationX>1179</locationX>
        <locationY>1279</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative - Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoRiskAssignment</name>
        <label>No Risk Assignment</label>
        <locationX>896</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoRiskValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Testing_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Positive - Asymptomatic</description>
        <name>Positive_Asymptomatic_r</name>
        <label>Positive - Asymptomatic</label>
        <locationX>1300</locationX>
        <locationY>1279</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive - Asymptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Positive - Symptomatic</description>
        <name>Positive_Symptomatic_r</name>
        <label>Positive - Symptomatic</label>
        <locationX>1057</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive - Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConditionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Symptomatic Assignment</description>
        <name>SymptomaticAssignment</name>
        <label>Symptomatic Assignment</label>
        <locationX>659</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SymptomaticValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_No_Symptoms</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentGender</name>
        <choiceText>{!Gender_lead}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Gender_lead</elementReference>
        </value>
    </choices>
    <choices>
        <name>false</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Unknown</description>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>IF_Gender_is_Blank</name>
        <label>IF Gender is Blank</label>
        <locationX>110</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Demographic_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gender_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gender_lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Gender</targetReference>
            </connector>
            <label>Gender Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Patient_Check</name>
        <label>Lead/Patient Check</label>
        <locationX>406</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Assign_Individual_Name_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Patient - Skipping Demographic Info Screen</defaultConnectorLabel>
        <rules>
            <name>Lead_Demographic_Info_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Info</targetReference>
            </connector>
            <label>Lead - Demographic Info Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Patient_Check_2</name>
        <label>Lead/Patient Check 2</label>
        <locationX>774</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>GetPersonAccountRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household Patient Conversion</defaultConnectorLabel>
        <rules>
            <name>Lead_to_patient_conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_the_lead</targetReference>
            </connector>
            <label>Lead to patient conversion</label>
        </rules>
    </decisions>
    <decisions>
        <name>PatientStatusCalculation</name>
        <label>Patient Status Calculation</label>
        <locationX>878</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>NoRiskAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Risk</defaultConnectorLabel>
        <rules>
            <name>No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Lung_Disease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diabetes_Mellitus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Renal_Disease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Liver_Disease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Neurologic_Disability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Chronic_Diseases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Smoker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Former_Smoker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fatigue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lost_of_Taste_Smell</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Symptoms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRiskAssignment</targetReference>
            </connector>
            <label>No Response</label>
        </rules>
        <rules>
            <name>Symptomatic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fatigue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lost_of_Taste_Smell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SymptomaticAssignment</targetReference>
            </connector>
            <label>Symptomatic</label>
        </rules>
        <rules>
            <name>Asymptomatic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Lung_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diabetes_Mellitus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Renal_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Liver_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Neurologic_Disability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Chronic_Diseases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Former_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Lung_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diabetes_Mellitus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Renal_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Liver_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Neurologic_Disability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Chronic_Diseases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Former_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsymptomaticAssignment</targetReference>
            </connector>
            <label>Asymptomatic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Screen_Selection</name>
        <label>Result Screen Selection</label>
        <locationX>509</locationX>
        <locationY>1109</locationY>
        <defaultConnectorLabel>No Risk</defaultConnectorLabel>
        <rules>
            <name>SymptomaticScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <label>Symptomatic</label>
        </rules>
        <rules>
            <name>AsymptomaticScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AsymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <label>Asymptomatic</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set Testing status</description>
        <name>Set_Testing_status</name>
        <label>Set Testing status</label>
        <locationX>1354</locationX>
        <locationY>973</locationY>
        <defaultConnector>
            <targetReference>Exposed_Asymptomatic_r</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Positive_Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_of_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Symptomatic_r</targetReference>
            </connector>
            <label>Positive - Symptomatic</label>
        </rules>
        <rules>
            <name>Negative_Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_of_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negative_Symptomatic_r</targetReference>
            </connector>
            <label>Negative - Symptomatic</label>
        </rules>
        <rules>
            <name>Positive_Asymptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_of_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Asymptomatic_r</targetReference>
            </connector>
            <label>Positive - Asymptomatic</label>
        </rules>
        <rules>
            <name>Negative_Asymptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_of_Test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negative_Asymptomatic_r</targetReference>
            </connector>
            <label>Negative - Asymptomatic</label>
        </rules>
        <rules>
            <name>Exposed_Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exposed_Symptomatic_r</targetReference>
            </connector>
            <label>Exposed - Symptomatic</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HospitalizationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__HospitalizationStatus__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>SubFlow : Clinical Assessment Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow : Clinical Assessment Questionnaire_custom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Store everything captured in the clinical assessment</description>
        <name>ClinicalAssessment</name>
        <label>Clinical Assessment</label>
        <locationX>1455</locationX>
        <locationY>486</locationY>
        <assignRecordIdToReference>ClinicalAssesmentResponseId</assignRecordIdToReference>
        <connector>
            <targetReference>PatientStatusCalculation</targetReference>
        </connector>
        <inputAssignments>
            <field>Fatigue__c</field>
            <value>
                <elementReference>Fatigue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__AbdominalPain__c</field>
            <value>
                <elementReference>Abdominal_Pain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CardiovascularDisease__c</field>
            <value>
                <elementReference>CardiovascularDisease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Chills__c</field>
            <value>
                <elementReference>ChillsQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicLiverDisease__c</field>
            <value>
                <elementReference>Chronic_Liver_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicLungDisease__c</field>
            <value>
                <elementReference>Chronic_Lung_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicRenalDisease__c</field>
            <value>
                <elementReference>Chronic_Renal_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Cough__c</field>
            <value>
                <elementReference>CoughQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CurrentSmoker__c</field>
            <value>
                <elementReference>Current_Smoker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DiabetesMellitus__c</field>
            <value>
                <elementReference>Diabetes_Mellitus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Diarrhoea__c</field>
            <value>
                <elementReference>Diarrhea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__FeverOverThreshold__c</field>
            <value>
                <elementReference>Fever_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__FormerSmoker__c</field>
            <value>
                <elementReference>Former_Smoker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Headache__c</field>
            <value>
                <elementReference>Headache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__HighestRecordedTemperature__c</field>
            <value>
                <elementReference>Highest_Temperature_Recorded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Immunocompromised__c</field>
            <value>
                <elementReference>Immunocompromised</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__MuscleAches__c</field>
            <value>
                <elementReference>Muscle_aches_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NauseaOrVomiting__c</field>
            <value>
                <elementReference>Nausea_or_vomiting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NeurologicalDisablityNotes__c</field>
            <value>
                <elementReference>Neuro_Disability_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NeurologicalDisablity__c</field>
            <value>
                <elementReference>Neurologic_Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherChronicDiseasesNotes__c</field>
            <value>
                <elementReference>Chronic_Disease_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherChronicDiseases__c</field>
            <value>
                <elementReference>Other_Chronic_Diseases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherSymptoms__c</field>
            <value>
                <elementReference>Other_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Patient__c</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__RunnyNose__c</field>
            <value>
                <elementReference>Runny_NoseQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ShortnessOfBreath__c</field>
            <value>
                <elementReference>Shortness_of_Breath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SoreThroat__c</field>
            <value>
                <elementReference>Sore_throat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SubjectiveFever__c</field>
            <value>
                <elementReference>Subjective_Fever</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>CA {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Lost_of_Taste_Smell__c</field>
            <value>
                <elementReference>New_Lost_of_Taste_Smell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Symptoms__c</field>
            <value>
                <elementReference>No_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnant__c</field>
            <value>
                <elementReference>Pregnant</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get Lead Information</description>
        <name>Get_Lead_Info</name>
        <label>Get Lead Info</label>
        <locationX>112</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Gender_is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Lead_EmailPre</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IndividualFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Gender_lead</assignToReference>
            <field>Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DOB</assignToReference>
            <field>HealthCloudGA__BirthDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IndividualLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_PhonePre</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result_of_Test</assignToReference>
            <field>Result_of_Test_1st__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>test_site</assignToReference>
            <field>Test_Site_1st__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Patient_record_id</name>
        <label>Get the Patient record id</label>
        <locationX>1772</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>PatientId</assignToReference>
            <field>ConvertedAccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecordTypeId</name>
        <label>GetPersonAccountRecordTypeId</label>
        <locationX>1074</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Patient_Account_For_Household_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PARecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Convert_the_lead</name>
        <label>Convert the lead</label>
        <locationX>1306</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_the_Patient_record_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead_EmailPre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__BirthDate__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__IsMarkedForPatientConversion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Lead_PhonePre</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Date_of_when_symptoms_onset_fm_custom</name>
        <label>Date of when symptoms onset?</label>
        <locationX>1455</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>ClinicalAssessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Relation__c</field>
            <value>
                <elementReference>Relationship_with_patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>PatientAccountRecord.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_when_symptoms_onset__c</field>
            <value>
                <elementReference>Date_of_when_symptoms_onset_fm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Testing_Status__pc</field>
            <value>
                <stringValue>Exposed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Details</name>
        <label>Update Contact Details</label>
        <locationX>1457</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Date_of_when_symptoms_onset_fm_custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PatientContactRecord.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__c</field>
            <value>
                <elementReference>PatientContactRecord.HealthCloudGA__Gender__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Symptoms</name>
        <label>Update No Symptoms</label>
        <locationX>704</locationX>
        <locationY>902</locationY>
        <connector>
            <targetReference>Set_Testing_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Symptoms__c</field>
            <value>
                <elementReference>No</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Gender</name>
        <label>Update Patient Gender</label>
        <locationX>2006</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__c</field>
            <value>
                <elementReference>Gender_lead</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>1786</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>ClinicalAssessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_when_symptoms_onset__c</field>
            <value>
                <elementReference>Date_of_when_symptoms_onset</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateConditionStatus</name>
        <label>Update Patient&apos;s Condition Status</label>
        <locationX>1380</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__ConditionStatus__c</field>
            <value>
                <elementReference>PatientStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Testing_Status__c</field>
            <value>
                <elementReference>Testing_status</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Screen2</name>
        <label>Current Assessment Screen</label>
        <locationX>563</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Medical_Condition_Screen</targetReference>
        </connector>
        <fields>
            <name>QuestionaireCallScript</name>
            <fieldText>&lt;p&gt;Now, Id like to ask you questions about your symptoms and medical history.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentSymptomsHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current Symptoms &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ClinicalAssessmentFor}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fever_Q</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fever Greater than 100.4F (38C)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Highest_Temperature_Recorded</name>
            <dataType>Number</dataType>
            <fieldText>Highest Temperature Recorded in Fahrenheit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Subjective_Fever</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subjective Fever or Felt Feverish</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChillsQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chills</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Muscle_aches_Q</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Muscle Aches</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Runny_NoseQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Runny Nose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sore_throat</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sore Throat</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CoughQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cough (New Onset or Worsening of Chronic Cough)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shortness_of_Breath</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shortness of Breath</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Nausea_or_vomiting</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nausea or Vomiting</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Headache</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Headache</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Abdominal_Pain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Abdominal Pain</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diarrhea</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diarrhea</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fatigue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fatigue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Lost_of_Taste_Smell</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss of Taste/Smell</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Symptoms</name>
            <dataType>String</dataType>
            <fieldText>Additional Symptoms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Symptoms</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asymptomatic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asymptomatic_Screen</name>
        <label>Asymptomatic Screen</label>
        <locationX>351</locationX>
        <locationY>1031</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusTempMsg_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AsymptomaticResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demographic_Information_Screen</name>
        <label>Demographic Information Screen</label>
        <locationX>438</locationX>
        <locationY>675</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Individual_Names</targetReference>
        </connector>
        <fields>
            <name>DemographicCallScript</name>
            <fieldText>&lt;p&gt;Please verify that the following information is correct.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Individual_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Details for {!IndividualFirstName} {!IndividualLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_when_symptoms_onset</name>
            <dataType>Date</dataType>
            <fieldText>Date of when symptoms onset?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IndividualFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IndividualLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medical_Condition_Screen</name>
        <label>Medical Condition Screen</label>
        <locationX>709</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Patient_Check_2</targetReference>
        </connector>
        <fields>
            <name>MedicalHistoryCallScript</name>
            <fieldText>&lt;p&gt;Has the individual been diagnosed with any of the following conditions?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicalHistory</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Medical History &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;{!ClinicalAssessmentFor} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chronic_Lung_Disease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chronic Lung Disease (Asthma/Emphysema/COPD)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diabetes_Mellitus</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diabetes Mellitus</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CardiovascularDisease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cardiovascular Disease</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chronic_Renal_Disease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chronic Renal Disease</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chronic_Liver_Disease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chronic Liver Disease</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Immunocompromised</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Immunocompromised</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Neurologic_Disability</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Neurological Disability</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Neuro_Disability_Info</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Chronic_Diseases</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other Chronic Conditions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chronic_Disease_Details</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Smoker</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Smoker</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Former_Smoker</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Former Smoker</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pregnant</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pregnant</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Risk_Screen</name>
        <label>No Risk Screen</label>
        <locationX>351</locationX>
        <locationY>1156</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusTempMsg_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NoRiskResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Symptomatic_Screen</name>
        <label>Symptomatic Screen</label>
        <locationX>351</locationX>
        <locationY>905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusTempMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!SymptomaticResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Lead_Patient_Check</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>AsymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; may be infected or have a risk for infection. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClinicalAssessmentFor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;for &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!IndividualName}&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_DOB</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid date of birth&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Phone</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid phone number.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NoRiskResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Assessment Results: &lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; doesn&apos;t require testing. Based on &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt;&apos;s responses, there&apos;s no evidence of symptoms of infection. &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; can stay healthy by practicing social distancing to reduce community transmission and should follow guidelines from local officials.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; has symptoms of infection. We&apos;ll be in contact regarding self-care steps. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AsymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asymptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClinicalAssesmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </variables>
    <variables>
        <name>Date_of_when_symptoms_onset_fm</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gender_lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </variables>
    <variables>
        <name>IndividualFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_EmailPre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_PhonePre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoRiskValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluated - No Risk</stringValue>
        </value>
    </variables>
    <variables>
        <name>OccupationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PatientContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Patient Status</description>
        <name>PatientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Relationship_with_patient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Result_of_Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>test_site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Testing Status</description>
        <name>Testing_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
