force-app/main/default/flows/SubFlow_Clinical_Assessment_Questionnaire_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Patient_Account_For_Household_Member</name>
        <label>Create Patient Account For Household Member</label>
        <locationX>1722</locationX>
        <locationY>254</locationY>
        <actionName>HealthCloudGA__HcCreateAccountAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_CE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personBirthDate</name>
            <value>
                <elementReference>PatientAccountRecord.Date_of_Birth__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personEmail</name>
            <value>
                <elementReference>PatientContactRecord.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>PatientContactRecord.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>PatientAccountRecord.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>PARecordTypeId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PatientId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default_Gender</name>
        <label>Assign Default Gender</label>
        <locationX>371</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>Gender_lead</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demographic_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Info</name>
        <label>Assign Existing Info</label>
        <locationX>763</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>IndividualName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientAccountRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testing_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Name_Household</name>
        <label>Assign Individual Name_Household</label>
        <locationX>1016</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>IndividualName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!PatientContactRecord.FirstName} {!PatientContactRecord.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testing_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Individual_Names</name>
        <label>Assign Individual Names</label>
        <locationX>790</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>IndividualName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Lead_First_Name} {!Lead_Last_Name} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testing_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsymptomaticAssignment</name>
        <label>Asymptomatic Assignment</label>
        <locationX>1638</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AsymptomaticValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Testing_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Exposed - Asymptomatic</description>
        <name>Exposed_Asymptomatic_r</name>
        <label>Exposed - Asymptomatic</label>
        <locationX>2145</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed - Asymptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Exposed - Symptomatic</description>
        <name>Exposed_Symptomatic_r</name>
        <label>Exposed - Symptomatic</label>
        <locationX>2023</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed - Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Negative - Asymptomatic</description>
        <name>Negative_Asymptomatic_r</name>
        <label>Negative - Asymptomatic</label>
        <locationX>1907</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative - Asymptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Negative - Symptomatic</description>
        <name>Negative_Symptomatic_r</name>
        <label>Negative - Symptomatic</label>
        <locationX>1664</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative - Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoRiskAssignment</name>
        <label>No Risk Assignment</label>
        <locationX>1366</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoRiskValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Testing_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Positive - Asymptomatic</description>
        <name>Positive_Asymptomatic_r</name>
        <label>Positive - Asymptomatic</label>
        <locationX>1778</locationX>
        <locationY>1279</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive - Asymptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Positive - Symptomatic</description>
        <name>Positive_Symptomatic_r</name>
        <label>Positive - Symptomatic</label>
        <locationX>1564</locationX>
        <locationY>1246</locationY>
        <assignmentItems>
            <assignToReference>Testing_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive - Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Covid_History_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Symptomatic Assignment</description>
        <name>SymptomaticAssignment</name>
        <label>Symptomatic Assignment</label>
        <locationX>1111</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>PatientStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SymptomaticValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_No_Symptoms</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentGender</name>
        <choiceText>{!Gender_lead}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Gender_lead</elementReference>
        </value>
    </choices>
    <choices>
        <name>false</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <description>none selected</description>
        <name>none</name>
        <choiceText>-- none selected --</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Unknown</description>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Age check</description>
        <name>Check_age</name>
        <label>Check age</label>
        <locationX>2457</locationX>
        <locationY>1489</locationY>
        <defaultConnector>
            <targetReference>Staying_Away_from_others_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vac_questions</targetReference>
            </connector>
            <label>4+</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Household</name>
        <label>Check Existing Household</label>
        <locationX>746</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Lead_Patient_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Household</defaultConnectorLabel>
        <rules>
            <name>Existing_Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExistingHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Info</targetReference>
            </connector>
            <label>Existing Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Household_0</name>
        <label>Check Existing Household</label>
        <locationX>1326</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Lead_Patient_Check_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Household</defaultConnectorLabel>
        <rules>
            <name>Existing_Household_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExistingHousehold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_test_result_populated</targetReference>
            </connector>
            <label>Existing Household</label>
        </rules>
    </decisions>
    <decisions>
        <description>CE</description>
        <name>Check_if_CE</name>
        <label>Check if CE</label>
        <locationX>2019</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Date_of_when_symptoms_onset_fm_custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_of_Test_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_of_when_symptoms_onset_fm_custom_0</targetReference>
            </connector>
            <label>CE</label>
        </rules>
    </decisions>
    <decisions>
        <description>check test site type</description>
        <name>Check_test_site_type</name>
        <label>Check test site type</label>
        <locationX>942</locationX>
        <locationY>893</locationY>
        <defaultConnector>
            <targetReference>Assessment_Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CNPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>test_site_type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cherokee Nation Health Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Being_Followed_by_CNPH</targetReference>
            </connector>
            <label>CNPH</label>
        </rules>
    </decisions>
    <decisions>
        <description>check testing status</description>
        <name>check_testing_status</name>
        <label>check testing status</label>
        <locationX>1962</locationX>
        <locationY>1715</locationY>
        <defaultConnector>
            <targetReference>UpdateConditionStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Testing_status</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Tasks</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>if Asymp and Previously diagnosed</description>
        <name>if_Asymp_and_Previously_diagnosed</name>
        <label>if Asymp and Previously diagnosed</label>
        <locationX>2449</locationX>
        <locationY>1769</locationY>
        <defaultConnector>
            <targetReference>do_not_skip_quarantine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_result</name>
            <conditionLogic>((1 OR 12) AND 2 AND 3) OR ((1 OR 12) AND 4 AND (5 OR 6) AND 7 AND 8 AND 9) OR ((1 OR 12) AND 4 AND 10 AND 11 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AsymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.Previously_diagnosed_with_COVID_19__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.How_long_ago_did_you_have_COVID_19__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 or more months ago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.Recieved_COVID19_vaccination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.COVID19_vaccination_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moderna</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.COVID19_vaccination_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pfizer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.How_many_doses_recieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 doses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.last_COVID19_vaccination_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Less than a week ago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.last_COVID19_vaccination_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>A week ago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.COVID19_vaccination_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Johnson and Johnson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ca.How_many_doses_recieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 dose</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoRiskValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gettask</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Gender_is_Blank</name>
        <label>IF Gender is Blank</label>
        <locationX>365</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Demographic_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gender_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gender_lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Gender</targetReference>
            </connector>
            <label>Gender Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>if PLE found</description>
        <name>if_PLE_found</name>
        <label>if PLE found</label>
        <locationX>3171</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Qnotification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_ple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PLEnotFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_PLE</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <description>if task found then delete</description>
        <name>if_task_found</name>
        <label>if task found</label>
        <locationX>1962</locationX>
        <locationY>1916</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>task_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_handover_task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_task</targetReference>
            </connector>
            <label>task found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_task_found_n2</name>
        <label>if task found</label>
        <locationX>2704</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>update_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskfound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_tasks</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <description>if test result populated</description>
        <name>if_test_result_populated</name>
        <label>if test result populated</label>
        <locationX>1491</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>PatientStatusCalculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>test_result_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Test_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EHR_obs</targetReference>
            </connector>
            <label>test result is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Patient_Check</name>
        <label>Lead/Patient Check</label>
        <locationX>999</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Assign_Individual_Name_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Patient - Skipping Demographic Info Screen</defaultConnectorLabel>
        <rules>
            <name>Lead_Demographic_Info_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Info</targetReference>
            </connector>
            <label>Lead - Demographic Info Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Patient_Check_2</name>
        <label>Lead/Patient Check 2</label>
        <locationX>1252</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>GetPersonAccountRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Household Patient Conversion</defaultConnectorLabel>
        <rules>
            <name>Lead_to_patient_conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientAccountRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_the_lead</targetReference>
            </connector>
            <label>Lead to patient conversion</label>
        </rules>
    </decisions>
    <decisions>
        <name>PatientStatusCalculation</name>
        <label>Patient Status Calculation</label>
        <locationX>1355</locationX>
        <locationY>751</locationY>
        <defaultConnector>
            <targetReference>NoRiskAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Risk</defaultConnectorLabel>
        <rules>
            <name>No_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Lung_Disease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diabetes_Mellitus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Renal_Disease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Liver_Disease</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Neurologic_Disability</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Chronic_Diseases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Smoker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Former_Smoker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fatigue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lost_of_Taste_Smell</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Symptoms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRiskAssignment</targetReference>
            </connector>
            <label>No Response</label>
        </rules>
        <rules>
            <name>Symptomatic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fatigue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Lost_of_Taste_Smell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SymptomaticAssignment</targetReference>
            </connector>
            <label>Symptomatic</label>
        </rules>
        <rules>
            <name>Asymptomatic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fever_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subjective_Fever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChillsQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Muscle_aches_Q</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Runny_NoseQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sore_throat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoughQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shortness_of_Breath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nausea_or_vomiting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Headache</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Abdominal_Pain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diarrhea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Lung_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diabetes_Mellitus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Renal_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Liver_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Neurologic_Disability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Chronic_Diseases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Former_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Lung_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diabetes_Mellitus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardiovascularDisease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Renal_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chronic_Liver_Disease</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Immunocompromised</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Neurologic_Disability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Chronic_Diseases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Former_Smoker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unknown</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsymptomaticAssignment</targetReference>
            </connector>
            <label>Asymptomatic</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set Testing status</description>
        <name>Set_Testing_status</name>
        <label>Set Testing status</label>
        <locationX>1840</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>Exposed_Asymptomatic_r</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Positive_Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Symptomatic_r</targetReference>
            </connector>
            <label>Positive - Symptomatic</label>
        </rules>
        <rules>
            <name>Negative_Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negative_Symptomatic_r</targetReference>
            </connector>
            <label>Negative - Symptomatic</label>
        </rules>
        <rules>
            <name>Positive_Asymptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Asymptomatic_r</targetReference>
            </connector>
            <label>Positive - Asymptomatic</label>
        </rules>
        <rules>
            <name>Negative_Asymptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_of_Test_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negative_Asymptomatic_r</targetReference>
            </connector>
            <label>Negative - Asymptomatic</label>
        </rules>
        <rules>
            <name>Exposed_Symptomatic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SymptomaticValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exposed_Symptomatic_r</targetReference>
            </connector>
            <label>Exposed - Symptomatic</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HospitalizationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__HospitalizationStatus__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Monitered_at_home_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Monitored_at_Home__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>result of test choice</description>
        <name>result_of_test_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result_of_Test_1st__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Age</description>
        <name>Age</name>
        <dataType>Number</dataType>
        <expression>IF( NOT( ISBLANK( {!get_age.Date_of_Birth__c}) ) ,
  IF( DATE( 2000 , MONTH({!get_age.Date_of_Birth__c}) , DAY( {!get_age.Date_of_Birth__c}) ) &lt;= 
      DATE( 2000 , MONTH( TODAY() ) , DAY( TODAY() ) ),
      YEAR (Today()) - YEAR ( {!get_age.Date_of_Birth__c}),
      YEAR (Today()) - YEAR ( {!get_age.Date_of_Birth__c}) -1 ),
  null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SubFlow : Clinical Assessment Questionnaire_updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow : Clinical Assessment Questionnaire_updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Store everything captured in the clinical assessment</description>
        <name>ClinicalAssessment</name>
        <label>Clinical Assessment</label>
        <locationX>2009</locationX>
        <locationY>1479</locationY>
        <assignRecordIdToReference>ClinicalAssesmentResponseId</assignRecordIdToReference>
        <connector>
            <targetReference>get_age</targetReference>
        </connector>
        <inputAssignments>
            <field>Fatigue__c</field>
            <value>
                <elementReference>Fatigue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__AbdominalPain__c</field>
            <value>
                <elementReference>Abdominal_Pain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CardiovascularDisease__c</field>
            <value>
                <elementReference>CardiovascularDisease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Chills__c</field>
            <value>
                <elementReference>ChillsQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicLiverDisease__c</field>
            <value>
                <elementReference>Chronic_Liver_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicLungDisease__c</field>
            <value>
                <elementReference>Chronic_Lung_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ChronicRenalDisease__c</field>
            <value>
                <elementReference>Chronic_Renal_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Cough__c</field>
            <value>
                <elementReference>CoughQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__CurrentSmoker__c</field>
            <value>
                <elementReference>Current_Smoker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DiabetesMellitus__c</field>
            <value>
                <elementReference>Diabetes_Mellitus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Diarrhoea__c</field>
            <value>
                <elementReference>Diarrhea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__FeverOverThreshold__c</field>
            <value>
                <elementReference>Fever_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__FormerSmoker__c</field>
            <value>
                <elementReference>Former_Smoker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Headache__c</field>
            <value>
                <elementReference>Headache</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__HighestRecordedTemperature__c</field>
            <value>
                <elementReference>Highest_Temperature_Recorded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Immunocompromised__c</field>
            <value>
                <elementReference>Immunocompromised</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__MuscleAches__c</field>
            <value>
                <elementReference>Muscle_aches_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NauseaOrVomiting__c</field>
            <value>
                <elementReference>Nausea_or_vomiting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NeurologicalDisablityNotes__c</field>
            <value>
                <elementReference>Neuro_Disability_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__NeurologicalDisablity__c</field>
            <value>
                <elementReference>Neurologic_Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherChronicDiseasesNotes__c</field>
            <value>
                <elementReference>Chronic_Disease_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherChronicDiseases__c</field>
            <value>
                <elementReference>Other_Chronic_Diseases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__OtherSymptoms__c</field>
            <value>
                <elementReference>Other_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Patient__c</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__RunnyNose__c</field>
            <value>
                <elementReference>Runny_NoseQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ShortnessOfBreath__c</field>
            <value>
                <elementReference>Shortness_of_Breath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SoreThroat__c</field>
            <value>
                <elementReference>Sore_throat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SubjectiveFever__c</field>
            <value>
                <elementReference>Subjective_Fever</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_long_ago_did_you_have_COVID_19__c</field>
            <value>
                <elementReference>howlongagodiagnosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>CA {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Lost_of_Taste_Smell__c</field>
            <value>
                <elementReference>New_Lost_of_Taste_Smell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Symptoms__c</field>
            <value>
                <elementReference>No_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnant__c</field>
            <value>
                <elementReference>Pregnant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_diagnosed_with_COVID_19__c</field>
            <value>
                <elementReference>Previouslydiagnosed</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_bypass</name>
        <label>create bypass</label>
        <locationX>1598</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Create_Patient_Account_For_Household_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>bypass_validation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create EHR obs</description>
        <name>Create_EHR_obs</name>
        <label>Create EHR obs</label>
        <locationX>1619</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>PatientStatusCalculation</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>PatientAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>PatientAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__AppliesDateTime__c</field>
            <value>
                <elementReference>Date_of_Test_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Test_Site__c</field>
            <value>
                <elementReference>Other_Test_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Site_1st__c</field>
            <value>
                <elementReference>Test_Site_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Site_Type_1st__c</field>
            <value>
                <elementReference>test_site_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_Status__c</field>
            <value>
                <elementReference>Result_of_Test_picklist</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrObservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create EHR obs</description>
        <name>Create_EHR_obs_0</name>
        <label>Create EHR obs</label>
        <locationX>2052</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>PatientStatusCalculation</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_you_already_being_followed__c</field>
            <value>
                <elementReference>Are_you_already_being_followed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_want_to_be_followed__c</field>
            <value>
                <elementReference>Do_you_want_to_be_followed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__AppliesDateTime__c</field>
            <value>
                <elementReference>Date_of_Test_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Test_Site__c</field>
            <value>
                <elementReference>Other_Test_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Site_1st__c</field>
            <value>
                <elementReference>Test_Site_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Site_Type_1st__c</field>
            <value>
                <elementReference>test_site_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_Status__c</field>
            <value>
                <elementReference>Result_of_Test_picklist</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrObservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_bypass</name>
        <label>delete bypass</label>
        <locationX>2162</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>PatientStatusCalculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>bypass_validation__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_bypass_0</name>
        <label>delete bypass</label>
        <locationX>1924</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>intermediate_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>bypass_validation__c</object>
    </recordDeletes>
    <recordDeletes>
        <description>delete PLE</description>
        <name>delete_PLE</name>
        <label>delete PLE</label>
        <locationX>3175</locationX>
        <locationY>1930</locationY>
        <connector>
            <targetReference>Qnotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryPersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ca.HealthCloudGA__Patient__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsExpired</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PersonLifeEvent</object>
    </recordDeletes>
    <recordDeletes>
        <name>delete_task</name>
        <label>delete task</label>
        <locationX>2129</locationX>
        <locationY>1911</locationY>
        <inputReference>get_handover_task</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>(delete_tasks)</description>
        <name>delete_tasks</name>
        <label>delete_tasks</label>
        <locationX>2715</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>update_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily Followup Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_Survey_Invite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ca.HealthCloudGA__Patient__r.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <description>get age</description>
        <name>get_age</name>
        <label>get age</label>
        <locationX>2183</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_age</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get ca</description>
        <name>get_ca</name>
        <label>get ca</label>
        <locationX>2290</locationX>
        <locationY>1770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_Asymp_and_Previously_diagnosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_handover_task</name>
        <label>get handover task</label>
        <locationX>1693</locationX>
        <locationY>1923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_task_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Take case ownership for the First followup</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Lead Information</description>
        <name>Get_Lead_Info</name>
        <label>Get Lead Info</label>
        <locationX>376</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Gender_is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Lead_EmailPre</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IndividualFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Gender_lead</assignToReference>
            <field>Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DOB</assignToReference>
            <field>HealthCloudGA__BirthDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IndividualLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead_PhonePre</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result_of_Test</assignToReference>
            <field>Result_of_Test_1st__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>test_site</assignToReference>
            <field>Test_Site_1st__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>get PLE</description>
        <name>get_PLE</name>
        <label>get PLE</label>
        <locationX>3030</locationX>
        <locationY>1771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_PLE_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryPersonId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ca.HealthCloudGA__Patient__r.PersonContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarantined</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsExpired</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>false</elementReference>
            </value>
        </filters>
        <object>PersonLifeEvent</object>
        <outputAssignments>
            <assignToReference>PLEnotFound</assignToReference>
            <field>IsExpired</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Patient_record_id</name>
        <label>Get the Patient record id</label>
        <locationX>2250</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>PatientId</assignToReference>
            <field>ConvertedAccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecordTypeId</name>
        <label>GetPersonAccountRecordTypeId</label>
        <locationX>1452</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PARecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>gettask</description>
        <name>gettask</name>
        <label>gettask</label>
        <locationX>2594</locationX>
        <locationY>1769</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_task_found_n2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Survey_Invite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily Followup Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ca.HealthCloudGA__Patient__r.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>taskfound</assignToReference>
            <field>Send_Survey_Invite__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>are you staying away from others</description>
        <name>are_you_staying_away_from_others_update</name>
        <label>are you staying away from others</label>
        <locationX>2125</locationX>
        <locationY>1628</locationY>
        <connector>
            <targetReference>check_testing_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_staying_away_from_others__c</field>
            <value>
                <elementReference>Are_you_staying_away_from_others</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Convert_the_lead</name>
        <label>Convert the lead</label>
        <locationX>1784</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_the_Patient_record_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead_EmailPre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__BirthDate__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__IsMarkedForPatientConversion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Lead_PhonePre</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Create Patient Tasks</description>
        <name>Create_Patient_Tasks</name>
        <label>Create Patient Tasks</label>
        <locationX>1693</locationX>
        <locationY>1724</locationY>
        <connector>
            <targetReference>get_handover_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Patient_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ConditionStatus__pc</field>
            <value>
                <elementReference>PatientStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Testing_Status__pc</field>
            <value>
                <elementReference>Testing_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_a_Healthcare_Worker__c</field>
            <value>
                <elementReference>Is_a_Healthcare_Worker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Quarantine__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Case - CI Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Date_of_when_symptoms_onset_fm_custom</name>
        <label>Date of when symptoms onset?</label>
        <locationX>2170</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>delete_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anyone_else_in_household_CN_Benefciary__c</field>
            <value>
                <elementReference>PatientAccountRecord.Anyone_else_in_household_CN_Benefciary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Beneficiary__c</field>
            <value>
                <elementReference>PatientAccountRecord.CN_Beneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cherokee_Nation_Clinics__c</field>
            <value>
                <elementReference>PatientAccountRecord.Cherokee_Nation_Clinics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Relation__c</field>
            <value>
                <elementReference>Relationship_with_patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>PatientAccountRecord.Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Contacted__c</field>
            <value>
                <elementReference>PatientAccountRecord.Date_Contacted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>PatientAccountRecord.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_when_symptoms_onset__c</field>
            <value>
                <elementReference>Date_of_when_symptoms_onset_fm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PatientAccountRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_attend_in_person_school_Daycare__c</field>
            <value>
                <elementReference>PatientAccountRecord.Do_you_attend_in_person_school_Daycare__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Center_District__c</field>
            <value>
                <elementReference>PatientAccountRecord.Education_Center_District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Center_Site_Name__c</field>
            <value>
                <elementReference>PatientAccountRecord.Education_Center_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Details__c</field>
            <value>
                <elementReference>PatientAccountRecord.Employment_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PatientContactRecord.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__pc</field>
            <value>
                <elementReference>PatientContactRecord.HealthCloudGA__Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Testing_Status__pc</field>
            <value>
                <stringValue>Exposed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_CN_Citizen__c</field>
            <value>
                <elementReference>PatientAccountRecord.If_CN_Citizen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_that_household_member_a_CN_Citizen__c</field>
            <value>
                <elementReference>PatientAccountRecord.If_that_household_member_a_CN_Citizen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>PatientAccountRecord.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_anyone_in_the_HH_a_Cherokee_Speaker__c</field>
            <value>
                <elementReference>PatientAccountRecord.Is_anyone_in_the_HH_a_Cherokee_Speaker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_it_a_CN_facility__c</field>
            <value>
                <elementReference>PatientAccountRecord.Is_it_a_CN_facility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Case_ID__c</field>
            <value>
                <elementReference>PatientAccountRecord.Legacy_Case_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_HH_Cherokee_Speaker__c</field>
            <value>
                <elementReference>PatientAccountRecord.Other_HH_Cherokee_Speaker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Place_of_Employment__c</field>
            <value>
                <elementReference>PatientAccountRecord.Other_Place_of_Employment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Relation__c</field>
            <value>
                <elementReference>PatientAccountRecord.Other_Relation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Chart_in_Cerner__c</field>
            <value>
                <elementReference>PatientAccountRecord.Patients_Chart_in_Cerner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonDepartment</field>
            <value>
                <elementReference>PatientAccountRecord.PersonDepartment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Employment__c</field>
            <value>
                <elementReference>PatientAccountRecord.Place_of_Employment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>PatientAccountRecord.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_do_you_think_you_were_exposed__c</field>
            <value>
                <elementReference>PatientAccountRecord.When_do_you_think_you_were_exposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_do_you_think_you_were_exposed__c</field>
            <value>
                <elementReference>PatientAccountRecord.Where_do_you_think_you_were_exposed__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Date_of_when_symptoms_onset_fm_custom_0</name>
        <label>Date of when symptoms onset?</label>
        <locationX>1924</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>delete_bypass_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anyone_else_in_household_CN_Benefciary__c</field>
            <value>
                <elementReference>PatientAccountRecord.Anyone_else_in_household_CN_Benefciary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CN_Beneficiary__c</field>
            <value>
                <elementReference>PatientAccountRecord.CN_Beneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cherokee_Nation_Clinics__c</field>
            <value>
                <elementReference>PatientAccountRecord.Cherokee_Nation_Clinics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Relation__c</field>
            <value>
                <elementReference>Relationship_with_patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>PatientAccountRecord.Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Contacted__c</field>
            <value>
                <elementReference>PatientAccountRecord.Date_Contacted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>PatientAccountRecord.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_when_symptoms_onset__c</field>
            <value>
                <elementReference>Date_of_when_symptoms_onset_fm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PatientAccountRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_attend_in_person_school_Daycare__c</field>
            <value>
                <elementReference>PatientAccountRecord.Do_you_attend_in_person_school_Daycare__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Center_District__c</field>
            <value>
                <elementReference>PatientAccountRecord.Education_Center_District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Center_Site_Name__c</field>
            <value>
                <elementReference>PatientAccountRecord.Education_Center_Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Details__c</field>
            <value>
                <elementReference>PatientAccountRecord.Employment_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PatientContactRecord.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Gender__pc</field>
            <value>
                <elementReference>PatientContactRecord.HealthCloudGA__Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Testing_Status__pc</field>
            <value>
                <stringValue>Exposed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_CN_Citizen__c</field>
            <value>
                <elementReference>PatientAccountRecord.If_CN_Citizen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_that_household_member_a_CN_Citizen__c</field>
            <value>
                <elementReference>PatientAccountRecord.If_that_household_member_a_CN_Citizen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>PatientAccountRecord.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_anyone_in_the_HH_a_Cherokee_Speaker__c</field>
            <value>
                <elementReference>PatientAccountRecord.Is_anyone_in_the_HH_a_Cherokee_Speaker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_it_a_CN_facility__c</field>
            <value>
                <elementReference>PatientAccountRecord.Is_it_a_CN_facility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Case_ID__c</field>
            <value>
                <elementReference>PatientAccountRecord.Legacy_Case_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_HH_Cherokee_Speaker__c</field>
            <value>
                <elementReference>PatientAccountRecord.Other_HH_Cherokee_Speaker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Place_of_Employment__c</field>
            <value>
                <elementReference>PatientAccountRecord.Other_Place_of_Employment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Relation__c</field>
            <value>
                <elementReference>PatientAccountRecord.Other_Relation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patients_Chart_in_Cerner__c</field>
            <value>
                <elementReference>PatientAccountRecord.Patients_Chart_in_Cerner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonDepartment</field>
            <value>
                <elementReference>PatientAccountRecord.PersonDepartment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>PatientAccountRecord.PersonMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Employment__c</field>
            <value>
                <elementReference>PatientAccountRecord.Place_of_Employment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>PatientAccountRecord.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_do_you_think_you_were_exposed__c</field>
            <value>
                <elementReference>PatientAccountRecord.When_do_you_think_you_were_exposed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_do_you_think_you_were_exposed__c</field>
            <value>
                <elementReference>PatientAccountRecord.Where_do_you_think_you_were_exposed__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>do not skip quarantine</description>
        <name>do_not_skip_quarantine</name>
        <label>do not skip quarantine</label>
        <locationX>2462</locationX>
        <locationY>1915</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skip_Quarantine__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>update account</description>
        <name>update_account</name>
        <label>update account</label>
        <locationX>2888</locationX>
        <locationY>1769</locationY>
        <connector>
            <targetReference>get_PLE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ca.HealthCloudGA__Patient__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Quarantine__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Symptoms</name>
        <label>Update No Symptoms</label>
        <locationX>1242</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>Set_Testing_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Symptoms__c</field>
            <value>
                <elementReference>No</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>2295</locationX>
        <locationY>489</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_when_symptoms_onset__c</field>
            <value>
                <elementReference>Date_of_when_symptoms_onset</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateConditionStatus</name>
        <label>Update Patient&apos;s Condition Status</label>
        <locationX>2128</locationX>
        <locationY>1769</locationY>
        <connector>
            <targetReference>get_ca</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__ConditionStatus__c</field>
            <value>
                <elementReference>PatientStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Testing_Status__c</field>
            <value>
                <elementReference>Testing_status</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assessment_Screen2</name>
        <label>Current Assessment Screen</label>
        <locationX>1199</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Medical_Condition_Screen</targetReference>
        </connector>
        <fields>
            <name>QuestionaireCallScript</name>
            <fieldText>&lt;p&gt;Now, Id like to ask you questions about your symptoms and medical history.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentSymptomsHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current Symptoms &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ClinicalAssessmentFor}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fever_Q</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fever Greater than 100.4F (38C)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Highest_Temperature_Recorded</name>
            <dataType>Number</dataType>
            <fieldText>Highest Temperature Recorded in Fahrenheit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Subjective_Fever</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subjective Fever or Felt Feverish</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChillsQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chills</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Muscle_aches_Q</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Muscle Aches</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Runny_NoseQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Runny Nose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sore_throat</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sore Throat</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CoughQ</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cough (New Onset or Worsening of Chronic Cough)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shortness_of_Breath</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shortness of Breath</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Nausea_or_vomiting</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nausea or Vomiting</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Headache</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Headache</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Abdominal_Pain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Abdominal Pain</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diarrhea</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diarrhea</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fatigue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fatigue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Lost_of_Taste_Smell</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss of Taste/Smell</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Symptoms</name>
            <dataType>String</dataType>
            <fieldText>Additional Symptoms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Other_Symptoms}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>No_Symptoms</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asymptomatic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Being followed by CNPH</description>
        <name>Being_Followed_by_CNPH</name>
        <label>Being Followed by CNPH</label>
        <locationX>1068</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assessment_Screen2</targetReference>
        </connector>
        <fields>
            <name>Being_Followed_by_CNPH_dependent_PCKLS</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Are_you_already_being_followed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Do_you_want_to_be_followed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Are you already being followed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Are_you_already_being_followed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Do you want to be followed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Do_you_want_to_be_followed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Are_you_already_being_followed</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Do_you_want_to_be_followed</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Covid History Screen</description>
        <name>Covid_History_Screen</name>
        <label>Covid History Screen</label>
        <locationX>1854</locationX>
        <locationY>1567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ClinicalAssessment</targetReference>
        </connector>
        <fields>
            <name>Covid_history</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>HealthCloudGA__Clinical_Assessment_Response__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Previously_diagnosed_with_COVID_19__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>How_long_ago_did_you_have_COVID_19__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Have you previously diagnosed with COVID-19?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Previouslydiagnosed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>How long ago did you have COVID-19?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>howlongagodiagnosed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Previouslydiagnosed</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>howlongagodiagnosed</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demographic_Information_Screen</name>
        <label>Demographic Information Screen</label>
        <locationX>582</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Individual_Names</targetReference>
        </connector>
        <fields>
            <name>DemographicCallScript</name>
            <fieldText>&lt;p&gt;Please verify that the following information is correct.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Individual_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Details for {!IndividualFirstName} {!IndividualLastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_when_symptoms_onset</name>
            <dataType>Date</dataType>
            <fieldText>Date of when symptoms onset?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IndividualFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IndividualLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>intermediate_screen</description>
        <name>intermediate_screen</name>
        <label>intermediate_screen</label>
        <locationX>2054</locationX>
        <locationY>389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_EHR_obs_0</targetReference>
        </connector>
        <fields>
            <name>Click_Next_To_Continue</name>
            <fieldText>&lt;p&gt;Click Next to Continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medical_Condition_Screen</name>
        <label>Medical Condition Screen</label>
        <locationX>1207</locationX>
        <locationY>577</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Existing_Household_0</targetReference>
        </connector>
        <fields>
            <name>MedicalHistoryCallScript</name>
            <fieldText>&lt;p&gt;Has the individual been diagnosed with any of the following conditions?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicalHistory</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;Medical History &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;{!ClinicalAssessmentFor} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chronic_Lung_Disease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chronic Lung Disease (Asthma/Emphysema/COPD)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diabetes_Mellitus</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Diabetes Mellitus</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CardiovascularDisease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cardiovascular Disease</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chronic_Renal_Disease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chronic Renal Disease</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chronic_Liver_Disease</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chronic Liver Disease</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Immunocompromised</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Immunocompromised</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Neurologic_Disability</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Neurological Disability</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Neuro_Disability_Info</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Neuro_Disability_Info}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Other_Chronic_Diseases</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other Chronic Conditions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chronic_Disease_Details</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entered text shall not exceed 80 characters&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Chronic_Disease_Details}, &quot;^.{0,80}$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Current_Smoker</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Smoker</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Former_Smoker</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Former Smoker</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pregnant</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pregnant</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Qnotification</description>
        <name>Qnotification</name>
        <label>Qnotification</label>
        <locationX>3394</locationX>
        <locationY>1772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noQUarantine</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This contact does not need to be quarantined based off of vaccination staff or previous diagnosis of COVID-19. Please inform them that they should monitor for COVID-19 symptoms for 14 days after exposure. If they develop symptoms they should get tested and give the COVID hotline a call.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Staying Away from others screen</description>
        <name>Staying_Away_from_others_screen</name>
        <label>Staying Away from others screen</label>
        <locationX>2282</locationX>
        <locationY>1626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>are_you_staying_away_from_others_update</targetReference>
        </connector>
        <fields>
            <name>Are_you_staying_away_from_others</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you staying away from others?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>test detail screen</description>
        <name>testing_screen</name>
        <label>testing screen</label>
        <locationX>934</locationX>
        <locationY>565</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_test_site_type</targetReference>
        </connector>
        <fields>
            <name>Test_display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Testing details &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;{!ClinicalAssessmentFor} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Test_2</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of Test</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Result_of_Test_picklist</name>
            <choiceReferences>result_of_test_choice</choiceReferences>
            <choiceReferences>none</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>none</defaultSelectedChoiceReference>
            <fieldText>Result of Test</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>testsite</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Test_Site_Type_1st__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Test_Site_1st__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Test Site Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Test Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>test_site_type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Test_Site_picklist</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>test_site_type</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Test_Site_picklist</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Other_Test_Site</name>
            <dataType>String</dataType>
            <fieldText>Other Test Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_a_Healthcare_Worker</name>
            <dataType>Boolean</dataType>
            <fieldText>Is a Healthcare Worker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Check_Existing_Household</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Vac questions</description>
        <name>Vac_questions</name>
        <label>Vac questions</label>
        <locationX>2684</locationX>
        <locationY>1625</locationY>
        <connector>
            <targetReference>Staying_Away_from_others_screen</targetReference>
        </connector>
        <flowName>Subflow_Clinical_Assessment_Vac_Questions</flowName>
        <inputAssignments>
            <name>CA_ID</name>
            <value>
                <elementReference>ClinicalAssesmentResponseId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AsymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; may be infected or have a risk for infection. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClinicalAssessmentFor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;for &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!IndividualName}&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_DOB</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid date of birth&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Phone</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid phone number.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NoRiskResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Assessment Results: &lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; doesn&apos;t require testing. Based on &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt;&apos;s responses, there&apos;s no evidence of symptoms of infection. &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; can stay healthy by practicing social distancing to reduce community transmission and should follow guidelines from local officials.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; has symptoms of infection. We&apos;ll be in contact regarding self-care steps. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Are_you_already_being_followed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AsymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asymptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>bypassid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicalAssesmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </variables>
    <variables>
        <name>Date_of_when_symptoms_onset_fm</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Do_you_want_to_be_followed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FollowedbyCNPH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gender_lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </variables>
    <variables>
        <description>howlongagodiagnosed</description>
        <name>howlongagodiagnosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isExistingHousehold</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_EmailPre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_PhonePre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoRiskValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluated - No Risk</stringValue>
        </value>
    </variables>
    <variables>
        <name>OccupationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PatientContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Patient Status</description>
        <name>PatientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PLEnotFound</description>
        <name>PLEnotFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Previouslydiagnosed</description>
        <name>Previouslydiagnosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Relationship_with_patient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Result_of_Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskfound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>false</elementReference>
        </value>
    </variables>
    <variables>
        <name>test_site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test_Site_picklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test_site_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Testing Status</description>
        <name>Testing_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
