force-app/main/default/flows/Subflow_Clinical_Assessment_Vac_Questions_Short_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>false</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Unknown</description>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Vaccinated Response</description>
        <name>Vaccinated_Response</name>
        <label>Vaccinated Response</label>
        <locationX>1711</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Update_CA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vaccinated_Response_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_received_the_COVID_19_vaccination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_0</targetReference>
            </connector>
            <label>Vaccinated Response is Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>COVID-19 vaccination type</description>
        <name>COVID_19vaccinationtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>COVID19_vaccination_type__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Did you want to get the COVID-19 vaccine</description>
        <name>DidyouwanttogettheCOVID_19vaccine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_you_want_to_get_the_COVID19_vaccine__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GenderPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HospitalizationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__HospitalizationStatus__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>How many doses recieved</description>
        <name>Howmanydosesrecieved</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_many_doses_recieved__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Is this a rapid CI mode</description>
        <name>IsthisarapidCImode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_a_rapid_CI_mode__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>last COVID-19 vaccination date</description>
        <name>lastCOVID_19vaccinationdate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>last_COVID19_vaccination_date__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Occupation__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>ReasonswhyyouchosenotgettheVac</description>
        <name>ReasonswhyyouchosenotgettheVac_new</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reasons_why_you_chose_not_get_the_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Recieved COVID-19 vaccination</description>
        <name>RecievedCOVID19vaccination</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recieved_COVID19_vaccination__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestingStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HealthCloudGA__Testing_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>What prevented you from getting the Vac</description>
        <name>WhatpreventedyoufromgettingtheVacChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_prevented_you_from_getting_the_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>What would have made getting Vac easier</description>
        <name>WhatwouldhavemadegettingVaceasierChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_would_have_made_getting_Vac_easier__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>WhydidyougetCOVID_19vaccine</description>
        <name>WhydidyougetCOVID_19vaccine_new</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_did_you_get_COVID19_vaccine__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>WhydidyouwanttogetCOVID_19Vac</description>
        <name>WhydidyouwanttogetCOVID_19Vac_New</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_did_you_want_to_get_COVID19_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>WhyunsureaboutgettingCOVID_19Vac</description>
        <name>WhyunsureaboutgettingCOVID_19Vac</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_unsure_about_getting_COVID19_Vac__c</picklistField>
        <picklistObject>HealthCloudGA__Clinical_Assessment_Response__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Subflow Clinical Assessment Vac Questions Short form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Clinical Assessment Vac Questions Short form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update CA</description>
        <name>Update_CA</name>
        <label>Update CA</label>
        <locationX>1839</locationX>
        <locationY>275</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>COVID19_vaccination_type__c</field>
            <value>
                <elementReference>Which_COVID_19_vaccination_did_you_receive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_many_doses_recieved__c</field>
            <value>
                <elementReference>How_many_doses_of_the_COVID_19_vaccination_have_you_received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_COVID_19_Vaccination_Date__c</field>
            <value>
                <elementReference>How_long_ago_was_your_last_COVID_19_vaccination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recieved_COVID19_vaccination__c</field>
            <value>
                <elementReference>Have_you_received_the_COVID_19_vaccination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_get_COVID19_vaccine__c</field>
            <value>
                <elementReference>Why_did_you_get_COVID_19_vaccine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_did_you_get_COVID_19_vaccine_Details__c</field>
            <value>
                <elementReference>Why_did_you_get_COVID_19_vaccine_Details</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__Clinical_Assessment_Response__c</object>
    </recordUpdates>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>1525</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vaccinated_Response</targetReference>
        </connector>
        <fields>
            <name>display_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;We would like to now ask you about your COVID-19 vaccine history:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_received_the_COVID_19_vaccination</name>
            <choiceReferences>RecievedCOVID19vaccination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you received the COVID-19 vaccination?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>We would like to now ask you about your COVID-19 vaccine history</description>
        <name>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history_0</name>
        <label>We would like to now ask you about your COVID-19 vaccine history</label>
        <locationX>1977</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CA</targetReference>
        </connector>
        <fields>
            <name>Which_COVID_19_vaccination_did_you_receive</name>
            <choiceReferences>COVID_19vaccinationtype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which COVID-19 vaccination did you receive?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_doses_of_the_COVID_19_vaccination_have_you_received</name>
            <choiceReferences>Howmanydosesrecieved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many doses of the COVID-19 vaccination have you received?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_long_ago_was_your_last_COVID_19_vaccination</name>
            <dataType>Date</dataType>
            <fieldText>How long ago was your last COVID-19 vaccination?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_get_COVID_19_vaccine</name>
            <choiceReferences>WhydidyougetCOVID_19vaccine_new</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why did you get COVID-19 vaccine?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_get_COVID_19_vaccine_Details</name>
            <dataType>String</dataType>
            <fieldText>Why did you get COVID-19 vaccine Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1146</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>We_would_like_to_now_ask_you_about_your_COVID_19_vaccine_history</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AsymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; may be infected or have a risk for infection. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClinicalAssessmentFor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;for &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!IndividualName}&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_DOB</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid date of birth&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid email address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Phone</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Enter a valid phone number.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NoRiskResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Assessment Results: &lt;/b&gt;&lt;b style=&quot;font-size: 18px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; doesn&apos;t require testing. Based on &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt;&apos;s responses, there&apos;s no evidence of symptoms of infection. &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; can stay healthy by practicing social distancing to reduce community transmission and should follow guidelines from local officials.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SymptomaticResult</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Assessment Results: {!PatientStatus}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; has symptoms of infection. We&apos;ll be in contact regarding self-care steps. Ensure that &lt;span style=&quot;font-size: 13px;&quot;&gt;{!IndividualName}&lt;/span&gt; remains in isolation, stays away from public places, and refrains from having visitors.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AsymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Asymptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <description>CA_ID</description>
        <name>CA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CardiovascularDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicLiverDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicLungDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChronicRenalDisease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicalAssesmentResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </variables>
    <variables>
        <name>COPD1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COVID_19vaccinationtypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentSmoker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_of_when_symptoms_onset_fm</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiabetesMellitus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormerSmoker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Howmanydosesrecieved</description>
        <name>HowmanydosesrecievedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Immunocompromised</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>lastCOVID_19vaccinationdate</description>
        <name>lastCOVID_19vaccinationdateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_EmailPre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_PhonePre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeurologicalDisability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoRiskValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Evaluated - No Risk</stringValue>
        </value>
    </variables>
    <variables>
        <name>OccupationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherChronicDiseases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PatientContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Patient Status</description>
        <name>PatientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pregnant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ReasonswhyyouchosenotgettheVacValue</description>
        <name>ReasonswhyyouchosenotgettheVacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecievedCOVID19vaccination</description>
        <name>RecievedCOVID19vaccinationValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SymptomaticValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Symptomatic</stringValue>
        </value>
    </variables>
    <variables>
        <description>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</description>
        <name>WhatarereasonsthatmayhavepreventedyoufromgettingtheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What are some reasons why you chose not get the COVID-19 vaccine Details</description>
        <name>WhataresomereasonswhyyouchosenotgettheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What prevented you from getting the Vac</description>
        <name>WhatpreventedyoufromgettingtheVacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What would have made getting Vac easier</description>
        <name>WhatwouldhavemadegettingVaceasierValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</description>
        <name>WhatwouldhavemadeiteasierforyoutogettheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Why did you get COVID-19 vaccine Details</description>
        <name>WhydidyougetCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhydidyougetCOVID_19vaccineValue</description>
        <name>WhydidyougetCOVID_19vaccineValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhydidyouwanttogetCOVID_19VacValue</description>
        <name>WhydidyouwanttogetCOVID_19VacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Why did you want to get the COVID19 vaccine Details</description>
        <name>WhydidyouwanttogettheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>WhyunsureaboutgettingCOVID_19VacValue</description>
        <name>WhyunsureaboutgettingCOVID_19VacValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Why were you unsure about getting the COVID19 vaccine Details</description>
        <name>WhywereyouunsureaboutgettingtheCOVID19vaccineDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
