force-app/main/default/flows/Two_Factor_Authentication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Community_User</name>
        <label>Send Email to Community User</label>
        <locationX>747</locationX>
        <locationY>302</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Verification</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TwoFactorAuthenticationLoginOTP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>cherokeenation@gettectonic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Login One Time OTP</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apexPluginCalls>
        <description>Generates a 6-digit random OTP.</description>
        <name>Generate_Random_OTP</name>
        <label>Generate Random OTP</label>
        <locationX>876</locationX>
        <locationY>70</locationY>
        <apexClass>Community_OTPGenerator</apexClass>
        <connector>
            <targetReference>Send_Email_to_Community_User</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>OTP</assignToReference>
            <name>OTP</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>OTP_Validation</name>
        <label>OTP Validation</label>
        <locationX>311</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_OTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTP</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTPInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_to_Verify_0_0_0</targetReference>
            </connector>
            <label>Invalidate OTP</label>
        </rules>
    </decisions>
    <formulas>
        <name>LoggedInUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Two Factor Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Two Factor Authentication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>527</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Random_OTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserEmailAddress</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Failed_to_Verify_0_0_0</name>
        <label>Failed to Verify</label>
        <locationX>90</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgForInvalidOtp_0_0_0</name>
            <fieldText>&lt;p&gt;Invalid OTP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verification</name>
        <label>Verification</label>
        <locationX>536</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OTP_Validation</targetReference>
        </connector>
        <fields>
            <name>EYVC</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Enter Your Verification Code&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;A verification code was sent via email to {!UserEmailAddress}. Kindly, enter code below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OTPInput</name>
            <dataType>String</dataType>
            <fieldText>OTP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Msg2</name>
            <fieldText>&lt;p&gt;If you didn&apos;t get the email make sure to check your spam folder.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TwoFactorAuthenticationLoginOTP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!UserFirstName},

A login request has been made from your username {!UserEmailAddress}. As an added level of security, you are required to complete the login process by entering the below 6 digit OTP.

{!OTP}

Please note a new 6 digit OTP is generated each time a login request is made.</text>
    </textTemplates>
    <variables>
        <name>AttemptsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OrgWideAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>cherokeenation@gettectonic.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>OTP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
