force-app/main/default/flows/Unsub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Unsub Account assign value</description>
        <name>Unsub_Account_assign_value</name>
        <label>Unsub Account assign value</label>
        <locationX>1281</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Opt_out_from_the_survey_invites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Opted_Out_From_Automated_Survey_by_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unsub_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alread_Unsubbed</name>
        <label>Already Unsubbed</label>
        <locationX>938</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Check_path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unsubbed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Opt_out_from_the_survey_invites__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prev_Unsubbed</targetReference>
            </connector>
            <label>Unsubbed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Path</description>
        <name>Check_path</name>
        <label>Check path</label>
        <locationX>942</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Are_you_sure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>one_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.PersonEmail</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Are_you_sure</targetReference>
            </connector>
            <label>One email</label>
        </rules>
        <rules>
            <name>Update_All_emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Are_you_sure_0</targetReference>
            </connector>
            <label>All</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the original email with an unsubscribe link sent from a contact or a lead?</description>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>556</locationX>
        <locationY>13</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision looks to see if the id in the unsubscribe link matched the email in the link and a record is found. If so the variable FoundID will not be null.</description>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>738</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alread_Unsubbed</targetReference>
            </connector>
            <label>Yes Record Found</label>
        </rules>
    </decisions>
    <description>Unsub</description>
    <formulas>
        <name>FlowFault</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>PlainTextEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;You will no longer receive email from &quot; + {!OrganizationName} + &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Contact Id if the unsubscribe record is attached to a contact - the original record of the unsubscribe link was a contact.</description>
        <name>useContactId</name>
        <dataType>String</dataType>
        <expression>IF({!Contact}=true,{!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula resolves to Lead Id if the unsubscribe record is attached to a Lead - the original record of the unsubscribe link was a lead.</description>
        <name>UseLeadId</name>
        <dataType>String</dataType>
        <expression>IF({!Lead}=true,{!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>18 digit id of the record. The email template only sends the 15 digit id.</description>
        <name>x18DigitID</name>
        <dataType>String</dataType>
        <expression>Casesafeid({!recordId})</expression>
    </formulas>
    <interviewLabel>Unsub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unsub</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Look for a contact record with ID and email address from the URL of the unsubscribe link.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>522</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Unsub_Account</name>
        <label>Unsub Account</label>
        <locationX>1451</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update all</description>
        <name>update_all</name>
        <label>update all</label>
        <locationX>1104</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opt_out_from_the_survey_invites__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opted_Out_From_Automated_Survey_by_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update the variable &quot;Organization Name&quot; with your organization&apos;s name.</description>
        <name>Are_you_sure</name>
        <label>Are you sure</label>
        <locationX>1158</locationX>
        <locationY>234</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unsub_Account_assign_value</targetReference>
        </connector>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Dear {!Get_Account.FirstName} {!Get_Account.LastName}, to unsubscribe from all daily followup survey emails sent from CherokeeNation Public Health, click NEXT.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>confirmation screen for person to confirm they want to unsubscribe. Update the variable &quot;Organization Name&quot; with your organization&apos;s name.</description>
        <name>Are_you_sure_0</name>
        <label>Are you sure</label>
        <locationX>947</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_all</targetReference>
        </connector>
        <fields>
            <name>confirmation_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Dear {!Get_Account.FirstName} {!Get_Account.LastName}, to unsubscribe from all emails sent from Cherokee Nation Public Health, click NEXT.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>1451</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have been successfully unsubscribed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>750</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The link entered is incorrect. Please follow the default link provided for unsubscribing from automated surveys.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prev_Unsubbed</name>
        <label>Prev_Unsubbed</label>
        <locationX>1157</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmation_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are already unsubscribed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>108</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email sent to administrator(s) when the Flow experiences an error.</description>
        <name>errorBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Alert: there was an error in running the Flow Unsubscribe.
recordId: {!recordId}
Email:{!Email}
Here are the variables that were input from the link in the email. 
recordId = {!recordId}
email = {!Email}
FoundId ={!FoundId}
 Lead Id: {!LeadID}
ErrorRecipient ={!ErrorRecipient}</text>
    </textTemplates>
    <variables>
        <name>All</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update default below to user who should be alerted when this error occurs.</description>
        <name>ErrorRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>id of the lead record from the unsubscribe link</description>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Edit the default value below to update the name of your organization.</description>
        <name>OrganizationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CherokeeNation PublicHealth</stringValue>
        </value>
    </variables>
    <variables>
        <description>userId incoming from the email link</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>collection of records updated in the process</description>
        <name>RecordsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Update Default Value below with email address that this email should be &quot;from&quot;</description>
        <name>SenderAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fake@fake.com</stringValue>
        </value>
    </variables>
</Flow>
