force-app/main/default/flows/water_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f87087e0_34c6_43c6_97b0_ed31ee424328</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ecc60bce_4728_4fe9_9ab2_b62108d509ec</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_6fd4c462_690b_4bd7_996f_07d40b294329</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8c563f28_3d5e_4cde_b352_029b474e61c7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8a48967f_720b_45df_8d81_34866d4e35db</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f98b92a7_935c_4cd0_979f_eb15dc982c80</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_e13e0b0f_9041_44e1_b01a_3ebb2a1a75df</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_43a3e224_ca20_46bc_9e75_7fc83944101d</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_4680776f_df50_4f6f_a95c_bb7f4a7e71ce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_31b2594c_6823_4273_b9ab_cbb1511cf820</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_3d4a6e73_21e6_4f0d_9ea1_edb52b209f3c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_7ed83e0c_f9b5_4854_a9a8_9fa452ca4a4b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_2ed8c998_5bdb_4976_bc36_dae7a735b4e4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_32c66c19_8140_4d89_8ea8_852632830553</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_7b211faa_4e89_41f7_8e19_362c53f8a1a9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_48cd27e9_b703_4ab0_a7bd_69a93de24b7d</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_09b700dd_02a7_4c9e_90b9_238ca2713450</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_da213aae_cb76_4dee_8ced_2caa0c5e5236</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_99cfdc2d_b245_4e4e_903f_28b623b5ab08</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a5e5f99a_d775_48b4_8590_8cb035681ac2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_1ede7e86_26b4_4ab7_ab2a_67fe48457a86</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_02afbfd0_40e0_4918_8efa_404657d9f95d</name>
        <choiceText>My rural/public water system has occasional outages lasting a day or more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My rural/public water system has occasional outages lasting a day or more</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0edf27ed_1da7_4712_8a6b_b44f7adc56fe</name>
        <choiceText>Connection to Rural or Public Sewer System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connection to Rural or Public Sewer System</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f5dab93_4b59_4879_8761_5f525d3da39e</name>
        <choiceText>I did not know about this option.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I did not know about this option.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1084c86f_55e2_4fe7_bd10_9addfed1f16d</name>
        <choiceText>My rural/public water system has frequent or occasional periods of low pressure or volume.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My rural/public water system has frequent or occasional periods of low pressure or volume.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10d61904_fd72_4b88_b69e_90950159a6cc</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1455ed35_69f3_4932_9b17_5259a9e11c44</name>
        <choiceText>There is no service provider in my area.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>There is no service provider in my area.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_23b3d456_c086_4eed_857f_e1ea026603df</name>
        <choiceText>Drip irrigation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Drip irrigation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2803db23_64e8_4b3f_bfc8_ea7f9b4b15c2</name>
        <choiceText>Between $100-$200</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Between $100-$200</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_299c82e0_58c2_4062_9a82_53ff95332d91</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2ea702d9_00c4_41f7_853c_0997dde68118</name>
        <choiceText>My drip irrigation system does not work like it should</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My drip irrigation system does not work like it should</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3244d25f_1fbf_418f_b79c_d748be60272e</name>
        <choiceText>My individual water source (well, spring, cistern, etc) has occasional or seasonal outages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My individual water source (well, spring, cistern, etc) has occasional or seasonal outages</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_340959a2_bd43_41cb_b67b_3d557b7e8a91</name>
        <choiceText>My rural/public water system has frequent or occasional outages lasting less than a day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My rural/public water system has frequent or occasional outages lasting less than a day</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3b585bf7_9ff2_4962_a18a_14c2c368841e</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3bbedeb2_e0ea_4a7b_80e5_0f2542c15fec</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c47a402_79b9_4e2d_89c6_efd821b3553f</name>
        <choiceText>Between $200-$300</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Between $200-$300</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_432c5ae8_0319_4738_b3a1_06f2c61df206</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_472c1995_46df_4fc5_bf0c_b93a43d80487</name>
        <choiceText>Hard water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hard water</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_49c690b3_e1e0_4cf7_96d3_8765409c4585</name>
        <choiceText>Other water source (cistern, spring, pong, stream, etc)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other water source (cistern, spring, pong, stream, etc)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d19e212_a08e_468b_8441_98b41ac0a2e9</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_529dc79b_5e8b_4966_932f_6b66f779204f</name>
        <choiceText>Sewage continually ponds in my yard but doesn&amp;rsquo;t run off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage continually ponds in my yard but doesn’t run off</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5866af86_54bf_45a3_a520_95d00efcd5bc</name>
        <choiceText>Sewage surfaces and runs off to a nearby ditch or stream</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage surfaces and runs off to a nearby ditch or stream</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_59e83c90_8f6a_4da4_905e_3f513ac9b7b3</name>
        <choiceText>My spray irrigation system does not work like it should</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My spray irrigation system does not work like it should</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5ab3d2a8_7d67_4949_97a1_f4564bc80236</name>
        <choiceText>Sewage continually backs up in my home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage continually backs up in my home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c08c75a_1b5c_44a9_af85_f050f1b2b6e8</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f4f5832_fcb5_44fd_a119_4b7d52d60ff7</name>
        <choiceText>Other primary contaminants (Lead, Nitrates, Fluoride, Arsenic, etc)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other primary contaminants (Lead, Nitrates, Fluoride, Arsenic, etc)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_606c84dd_5202_4f2d_83bd_60eceb5fc94c</name>
        <choiceText>Sewage occasionally surfaces in my yard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage occasionally surfaces in my yard</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_66dda520_4afc_4c82_b4df_55f3604f5887</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6ec4657b_6351_4d3b_b4d3_eed4aee49c06</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_70b84c5c_8e97_427a_81ab_332f0bf815cd</name>
        <choiceText>Sewage occasionally backs up in my home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage occasionally backs up in my home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7adf29f0_afc3_45a7_8118_894163d0238d</name>
        <choiceText>Taste/Odor issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Taste/Odor issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c17626e_e198_47e3_94e9_b579029bc630</name>
        <choiceText>Sewage continually backs up into my home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage continually backs up into my home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d03acb3_ef4e_4f0c_a836_a945206ea37b</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d777a4e_398a_469d_aa80_4fa3b69d3fa6</name>
        <choiceText>Well Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Well Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_847ae47a_545e_4d0f_b2b1_1e4fff6057f5</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_880e323b_b458_497e_bd06_36dd2c31e7fc</name>
        <choiceText>Rural Water/Public Water Supply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rural Water/Public Water Supply</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_88a26eca_cc44_45b3_aa11_33c3e85c0eb6</name>
        <choiceText>Other (Lagoon, Evapotranspiration system, Alternative system)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Lagoon, Evapotranspiration system, Alternative system)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8a5c2e68_4d25_4b47_b34d_c1c3b639e5ee</name>
        <choiceText>Individual Aerobic System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Aerobic System</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_92a71979_114e_4778_bb37_4b64b8ef48fd</name>
        <choiceText>My rural/public water system has frequent outages lasting a day or more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My rural/public water system has frequent outages lasting a day or more</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94020d9e_44d1_4719_97a4_8eb024693b24</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_96ca43d5_adad_4648_9606_73c12a0592b4</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d3cba2b_ff06_44d6_a5c9_cd0c32643e74</name>
        <choiceText>Hydrogen Sulfide (Sulphur water)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hydrogen Sulfide (Sulphur water)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d9965b7_a7d6_4f7d_896a_c010a11b3bdd</name>
        <choiceText>More than $400</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than $400</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9f62a1e4_4ef8_4974_a98e_4d1ad7ed7904</name>
        <choiceText>Individual Septic Tank/Drainfield</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual Septic Tank/Drainfield</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3b0d2ce_1361_437e_b4fb_c813e6d06f71</name>
        <choiceText>I feel comfortable maintaining the system myself.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I feel comfortable maintaining the system myself.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3e916a1_6b49_46fc_b9f6_abd821c405f0</name>
        <choiceText>Financial (I cannot afford a service agreement)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial (I cannot afford a service agreement)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa7e72b4_c49e_4fce_a1a8_f3fede03ac81</name>
        <choiceText>Sewage occasionally ponds in my yard but doesn&amp;rsquo;t run off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage occasionally ponds in my yard but doesn’t run off</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ab1fa3c3_9f4e_4cd6_86a0_d1127338723f</name>
        <choiceText>I have a friend or family member that maintains the system for me.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I have a friend or family member that maintains the system for me.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b8b9dbe7_fb54_493b_aa4d_5933a3be9c25</name>
        <choiceText>My aerobic system has frequent mechanical or electrical failures</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My aerobic system has frequent mechanical or electrical failures</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b8dab49d_b288_4aa5_a94b_9d07c96af3eb</name>
        <choiceText>The rural or public water system has water quality violations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The rural or public water system has water quality violations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf3949e0_ea50_4e38_8328_f22933913509</name>
        <choiceText>Bacteria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bacteria</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c06a6f44_3547_4ede_8c85_2ac21bb61266</name>
        <choiceText>Land line</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land line</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c4e4b008_9cea_41be_a854_6e94bde78755</name>
        <choiceText>I did not know my aerobic system required maintenance.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I did not know my aerobic system required maintenance.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c5b18a95_c389_4957_b4f6_bf7da597ee66</name>
        <choiceText>The rural or a public water system is unreliable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The rural or a public water system is unreliable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c627a001_eedf_4193_895c_cace23ecc228</name>
        <choiceText>Between $300-$400</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Between $300-$400</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c9d36007_4cbd_44af_8f5c_9ed061408cf4</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ca681c4a_4990_4d1c_9488_7a137b38db22</name>
        <choiceText>My individual water source (well, spring, cistern, etc) has continual issues providing enough water for my home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My individual water source (well, spring, cistern, etc) has continual issues providing enough water for my home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</name>
        <choiceText>My home has no water supply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My home has no water supply</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf9daf7d_1808_4276_a353_47537684101d</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d07d17b2_32c7_4963_85d9_9408a61287ee</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d1362a1d_d0b1_4a24_8399_2412baf08a76</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d3548c1c_6729_46a4_9424_605cb37fb1b4</name>
        <choiceText>My home has no wastewater system</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My home has no wastewater system</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d46bd62a_7736_49b4_8be0_4d5260fe5702</name>
        <choiceText>Sewage continually surfaces in my yard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage continually surfaces in my yard</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d7ec5ddb_5000_4961_9634_c8985cefbcbb</name>
        <choiceText>My aerobic tank occasionally overflows into my yard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My aerobic tank occasionally overflows into my yard</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d9636bec_49fe_4f7f_96b7_04622947bb3a</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e77e2bd9_b60a_4c42_9eec_66fe5c7e0f36</name>
        <choiceText>Iron/manganese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Iron/manganese</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ecd0bf1f_eb1b_43e9_9fb0_e9913fa92b67</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee837246_b701_48b3_9e6b_3d1a98e0b7f8</name>
        <choiceText>Mobile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1d7ba69_73cb_4d80_b51b_c65913ebfb77</name>
        <choiceText>Under $100</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under $100</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f3cbde14_1419_42aa_a08a_ec24c05d4fe4</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f44977dc_7c8a_4e6e_8c73_914f32d4c665</name>
        <choiceText>Sewage occasionally backs up in my home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewage occasionally backs up in my home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f70a14fe_bebf_4f29_aa0a_7431ccd01ae1</name>
        <choiceText>Financial (I cannot afford the bill)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial (I cannot afford the bill)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f7d82870_1b8b_4367_bc04_6b2de57e0db2</name>
        <choiceText>Spray irrigation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spray irrigation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fb08cd74_be02_4f93_a9fc_3e206641456d</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <constants>
        <name>defaultPageNav</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>d_221a5353_78de_405b_b6af_ea246a8ed24c</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_6fd4c462_690b_4bd7_996f_07d40b294329</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_72fb31bf_f1b9_43b4_909a_721f7b8be746</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_880e323b_b458_497e_bd06_36dd2c31e7fc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_6fd4c462_690b_4bd7_996f_07d40b294329</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_de88a5d1_5893_4e24_9612_eb3b10f5f4dc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_e13e0b0f_9041_44e1_b01a_3ebb2a1a75df</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_252baddb_5047_4095_a8f4_720ac7488a70</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_7d777a4e_398a_469d_aa80_4fa3b69d3fa6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_49c690b3_e1e0_4cf7_96d3_8765409c4585</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8c563f28_3d5e_4cde_b352_029b474e61c7</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_2310e1f7_5076_4400_b4ef_46a11c0d74b3</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_4680776f_df50_4f6f_a95c_bb7f4a7e71ce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_2a3f4dab_beed_4649_ac1a_f6578b1ecb7d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_3d4a6e73_21e6_4f0d_9ea1_edb52b209f3c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_27fc41a4_3eb7_40df_af45_e3deceb2641f</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_31b2594c_6823_4273_b9ab_cbb1511cf820</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_e4e4aedf_9f82_4a5e_85be_b287983b1bc7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_01649f52_ecee_4264_9994_a53e7fe22a9a</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_c9d36007_4cbd_44af_8f5c_9ed061408cf4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_3d4a6e73_21e6_4f0d_9ea1_edb52b209f3c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_2e97e782_4c90_484b_be9b_6c3cda65ec94</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_99cfdc2d_b245_4e4e_903f_28b623b5ab08</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_a9893ba0_cac2_4b48_8fab_ee5121b8272c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5fef7990_02a6_45f6_85d8_9ad6d69d283b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_432c5ae8_0319_4738_b3a1_06f2c61df206</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a5e5f99a_d775_48b4_8590_8cb035681ac2</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_4708f342_3973_4b7e_adf1_3db6108c0d16</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_f98b92a7_935c_4cd0_979f_eb15dc982c80</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_f35a9eda_b28a_4455_8d1e_d7c15316fc46</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_7d777a4e_398a_469d_aa80_4fa3b69d3fa6</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_49c690b3_e1e0_4cf7_96d3_8765409c4585</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_f98b92a7_935c_4cd0_979f_eb15dc982c80</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_cabbd97b_5f5c_4144_b6c8_557d1f6370b7</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_e13e0b0f_9041_44e1_b01a_3ebb2a1a75df</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_13699b05_faea_42d0_990a_8ce25806ee92</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_880e323b_b458_497e_bd06_36dd2c31e7fc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4680776f_df50_4f6f_a95c_bb7f4a7e71ce</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_476388d1_d5b5_4ed3_907a_cfa108452827</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_32c66c19_8140_4d89_8ea8_852632830553</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_50e7aa4f_ee7d_4066_8cd5_01a211a1d170</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_81dd6bff_f62e_49ad_b322_e18c324fddd3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_4d19e212_a08e_468b_8441_98b41ac0a2e9</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_4986bc53_884d_4c18_b911_880cd63c5e25</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_09b700dd_02a7_4c9e_90b9_238ca2713450</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_9902b4b4_0150_48c1_9573_522e46c47858</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_11741800_36e9_4d8e_84e4_7d5a9f9a2c24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_66dda520_4afc_4c82_b4df_55f3604f5887</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_da213aae_cb76_4dee_8ced_2caa0c5e5236</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_8d6da0fc_4c89_40af_8967_1e8e45ebee6a</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_43a3e224_ca20_46bc_9e75_7fc83944101d</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_78ebb262_bc43_4f95_82ad_10f8484d6da6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_46584408_12a3_47e3_ad24_249c1c3493fd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_d9636bec_49fe_4f7f_96b7_04622947bb3a</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4680776f_df50_4f6f_a95c_bb7f4a7e71ce</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_1dd9c160_8ef6_4c49_bdcd_c4f255cba718</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_46584408_12a3_47e3_ad24_249c1c3493fd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_d9636bec_49fe_4f7f_96b7_04622947bb3a</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_3d4a6e73_21e6_4f0d_9ea1_edb52b209f3c</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_9614d0a0_aabf_4ae8_a187_e9c95e1adc4f</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_1ede7e86_26b4_4ab7_ab2a_67fe48457a86</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_f1161563_464f_4b1c_b366_d97492e72d81</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5e699f29_2846_4384_a482_c1df285ea9a2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_f3cbde14_1419_42aa_a08a_ec24c05d4fe4</elementReference>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_b56b2b40_e789_4d01_b57d_f8c167630164</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_8a48967f_720b_45df_8d81_34866d4e35db</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_da469fd6_639a_4c10_9644_cdf0da4576ef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f682dba4_cee9_4ac7_8183_b28fa005de68</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_3bbedeb2_e0ea_4a7b_80e5_0f2542c15fec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8a48967f_720b_45df_8d81_34866d4e35db</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_5b274aae_325a_4f68_bcbd_97762324c664</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f682dba4_cee9_4ac7_8183_b28fa005de68</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_7d03acb3_ef4e_4f0c_a836_a945206ea37b</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>c_880e323b_b458_497e_bd06_36dd2c31e7fc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_f98b92a7_935c_4cd0_979f_eb15dc982c80</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_0469ca33_1b39_45cd_aedb_a1b45ec57683</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_f682dba4_cee9_4ac7_8183_b28fa005de68</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_7d03acb3_ef4e_4f0c_a836_a945206ea37b</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_880e323b_b458_497e_bd06_36dd2c31e7fc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4680776f_df50_4f6f_a95c_bb7f4a7e71ce</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_da0fe67c_7af5_4077_9f7a_3a971e72bcc3</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7ed83e0c_f9b5_4854_a9a8_9fa452ca4a4b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_6a9be047_b5c8_48df_a674_f8999b6460db</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5fd3f02f_9085_4bcf_9e3c_7e1b5b24e301</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_0edf27ed_1da7_4712_8a6b_b44f7adc56fe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7ed83e0c_f9b5_4854_a9a8_9fa452ca4a4b</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_bd2287f1_24f7_48d8_9599_126ea4ca72ad</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5fd3f02f_9085_4bcf_9e3c_7e1b5b24e301</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9f62a1e4_4ef8_4974_a98e_4d1ad7ed7904</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5fd3f02f_9085_4bcf_9e3c_7e1b5b24e301</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_88a26eca_cc44_45b3_aa11_33c3e85c0eb6</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_2ed8c998_5bdb_4976_bc36_dae7a735b4e4</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_94faa4a4_6a16_4955_8d90_fbe203b9a70f</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5fd3f02f_9085_4bcf_9e3c_7e1b5b24e301</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_8a5c2e68_4d25_4b47_b34d_c1c3b639e5ee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_7b211faa_4e89_41f7_8e19_362c53f8a1a9</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_5aee69e0_c924_4df0_bec5_2c0abe26e9b1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_5fd3f02f_9085_4bcf_9e3c_7e1b5b24e301</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_d3548c1c_6729_46a4_9424_605cb37fb1b4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_32c66c19_8140_4d89_8ea8_852632830553</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_7b211faa_4e89_41f7_8e19_362c53f8a1a9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_352009cd_593b_437c_a83a_5604ecfd4c13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_7ed83e0c_f9b5_4854_a9a8_9fa452ca4a4b</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_2ed8c998_5bdb_4976_bc36_dae7a735b4e4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_b1e76612_9ceb_4aac_b316_a09c95c18a1d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_99cfdc2d_b245_4e4e_903f_28b623b5ab08</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_a5e5f99a_d775_48b4_8590_8cb035681ac2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_93f8b60a_6620_4524_961f_617fc7cda667</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Water Survey</interviewLabel>
    <label>Water Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_water_survey_5_851b4398_d134_421b_8d46_73cee3dddba4</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_09b700dd_02a7_4c9e_90b9_238ca2713450</name>
        <label>Aerobic system issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_da213aae_cb76_4dee_8ced_2caa0c5e5236</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8ba9e422_b7fa_4751_9be1_3e9130985db9</name>
            <choiceReferences>c_70b84c5c_8e97_427a_81ab_332f0bf815cd</choiceReferences>
            <choiceReferences>c_5ab3d2a8_7d67_4949_97a1_f4564bc80236</choiceReferences>
            <choiceReferences>c_606c84dd_5202_4f2d_83bd_60eceb5fc94c</choiceReferences>
            <choiceReferences>c_d46bd62a_7736_49b4_8be0_4d5260fe5702</choiceReferences>
            <choiceReferences>c_d7ec5ddb_5000_4961_9634_c8985cefbcbb</choiceReferences>
            <choiceReferences>c_b8b9dbe7_fb54_493b_aa4d_5933a3be9c25</choiceReferences>
            <choiceReferences>c_59e83c90_8f6a_4da4_905e_3f513ac9b7b3</choiceReferences>
            <choiceReferences>c_2ea702d9_00c4_41f7_853c_0997dde68118</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please check all that apply&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_1ede7e86_26b4_4ab7_ab2a_67fe48457a86</name>
        <label>Other water issues description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d59ce455_d087_4f33_9437_b1dc5ef3e4cc</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please provide details about your situation.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_2ed8c998_5bdb_4976_bc36_dae7a735b4e4</name>
        <label>On-site system</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_476388d1_d5b5_4ed3_907a_cfa108452827</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_81dd6bff_f62e_49ad_b322_e18c324fddd3</name>
            <choiceReferences>c_94020d9e_44d1_4719_97a4_8eb024693b24</choiceReferences>
            <choiceReferences>c_4d19e212_a08e_468b_8441_98b41ac0a2e9</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you have any issues with the individual on-site system servicing your home?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_31b2594c_6823_4273_b9ab_cbb1511cf820</name>
        <label>Low Pressure Issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_3d4a6e73_21e6_4f0d_9ea1_edb52b209f3c</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f15c287f_a783_491e_a428_bf96de5dbe10</name>
            <choiceReferences>c_92a71979_114e_4778_bb37_4b64b8ef48fd</choiceReferences>
            <choiceReferences>c_02afbfd0_40e0_4918_8efa_404657d9f95d</choiceReferences>
            <choiceReferences>c_340959a2_bd43_41cb_b67b_3d557b7e8a91</choiceReferences>
            <choiceReferences>c_1084c86f_55e2_4fe7_bd10_9addfed1f16d</choiceReferences>
            <choiceReferences>c_3244d25f_1fbf_418f_b79c_d748be60272e</choiceReferences>
            <choiceReferences>c_ca681c4a_4990_4d1c_9488_7a137b38db22</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please check all that apply&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_32c66c19_8140_4d89_8ea8_852632830553</name>
        <label>On-site system issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_32c66c19_8140_4d89_8ea8_852632830553</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2738620c_a3a3_4b19_a30b_decfeba76ecb</name>
            <choiceReferences>c_f44977dc_7c8a_4e6e_8c73_914f32d4c665</choiceReferences>
            <choiceReferences>c_aa7e72b4_c49e_4fce_a1a8_f3fede03ac81</choiceReferences>
            <choiceReferences>c_5866af86_54bf_45a3_a520_95d00efcd5bc</choiceReferences>
            <choiceReferences>c_529dc79b_5e8b_4966_932f_6b66f779204f</choiceReferences>
            <choiceReferences>c_7c17626e_e198_47e3_94e9_b579029bc630</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What issues do you currently have? (select all the apply)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_3d4a6e73_21e6_4f0d_9ea1_edb52b209f3c</name>
        <label>Wastewater Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_da0fe67c_7af5_4077_9f7a_3a971e72bcc3</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5fd3f02f_9085_4bcf_9e3c_7e1b5b24e301</name>
            <choiceReferences>c_0edf27ed_1da7_4712_8a6b_b44f7adc56fe</choiceReferences>
            <choiceReferences>c_9f62a1e4_4ef8_4974_a98e_4d1ad7ed7904</choiceReferences>
            <choiceReferences>c_8a5c2e68_4d25_4b47_b34d_c1c3b639e5ee</choiceReferences>
            <choiceReferences>c_88a26eca_cc44_45b3_aa11_33c3e85c0eb6</choiceReferences>
            <choiceReferences>c_d3548c1c_6729_46a4_9424_605cb37fb1b4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What type of wastewater system do you have?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_43a3e224_ca20_46bc_9e75_7fc83944101d</name>
        <label>Why Not Rural/Public</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_2310e1f7_5076_4400_b4ef_46a11c0d74b3</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7a0a0101_6bdc_4f53_ae99_ed9e0f6f9ee7</name>
            <choiceReferences>c_f70a14fe_bebf_4f29_aa0a_7431ccd01ae1</choiceReferences>
            <choiceReferences>c_c5b18a95_c389_4957_b4f6_bf7da597ee66</choiceReferences>
            <choiceReferences>c_b8dab49d_b288_4aa5_a94b_9d07c96af3eb</choiceReferences>
            <choiceReferences>c_fb08cd74_be02_4f93_a9fc_3e206641456d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;For what reason(s) do you not want to be connected to rural or public water?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_29cbf456_6de3_40e0_a594_99daa5ae79b9</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please give the reason for other.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7a0a0101_6bdc_4f53_ae99_ed9e0f6f9ee7</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_fb08cd74_be02_4f93_a9fc_3e206641456d</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4680776f_df50_4f6f_a95c_bb7f4a7e71ce</name>
        <label>Low Pressure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_27fc41a4_3eb7_40df_af45_e3deceb2641f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_01649f52_ecee_4264_9994_a53e7fe22a9a</name>
            <choiceReferences>c_cf9daf7d_1808_4276_a353_47537684101d</choiceReferences>
            <choiceReferences>c_c9d36007_4cbd_44af_8f5c_9ed061408cf4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you have any issues with low pressure of the volume of water?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_48cd27e9_b703_4ab0_a7bd_69a93de24b7d</name>
        <label>Aerobic system</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_4986bc53_884d_4c18_b911_880cd63c5e25</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_11741800_36e9_4d8e_84e4_7d5a9f9a2c24</name>
            <choiceReferences>c_5c08c75a_1b5c_44a9_af85_f050f1b2b6e8</choiceReferences>
            <choiceReferences>c_66dda520_4afc_4c82_b4df_55f3604f5887</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you currently have any issues with the individual aerobic system that services your home?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6fd4c462_690b_4bd7_996f_07d40b294329</name>
        <label>Water System Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8c563f28_3d5e_4cde_b352_029b474e61c7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0349081e_c8b7_4f4b_80d0_c2b5e91fd676</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter the name of the water system that supplies water to your home.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7b211faa_4e89_41f7_8e19_362c53f8a1a9</name>
        <label>Disposal system type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_48cd27e9_b703_4ab0_a7bd_69a93de24b7d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b3a8af15_3994_4ad8_baa0_eb9592b08a13</name>
            <choiceReferences>c_f7d82870_1b8b_4367_bc04_6b2de57e0db2</choiceReferences>
            <choiceReferences>c_23b3d456_c086_4eed_857f_e1ea026603df</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What type of disposal system does your aerobic system use?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7ed83e0c_f9b5_4854_a9a8_9fa452ca4a4b</name>
        <label>Sewer System Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_7ed83e0c_f9b5_4854_a9a8_9fa452ca4a4b</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4190ed90_5461_4c22_b025_04dbdbdd70cb</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter the name of the sewer system that services your home.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8a48967f_720b_45df_8d81_34866d4e35db</name>
        <label>Water Quality Problems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_4708f342_3973_4b7e_adf1_3db6108c0d16</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_58578b35_fc1f_4c12_b10f_5fe51cd095d5</name>
            <choiceReferences>c_7adf29f0_afc3_45a7_8118_894163d0238d</choiceReferences>
            <choiceReferences>c_472c1995_46df_4fc5_bf0c_b93a43d80487</choiceReferences>
            <choiceReferences>c_e77e2bd9_b60a_4c42_9eec_66fe5c7e0f36</choiceReferences>
            <choiceReferences>c_bf3949e0_ea50_4e38_8328_f22933913509</choiceReferences>
            <choiceReferences>c_5f4f5832_fcb5_44fd_a119_4b7d52d60ff7</choiceReferences>
            <choiceReferences>c_9d3cba2b_ff06_44d6_a5c9_cd0c32643e74</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please indicate all the water quality problems that you currently have? (select all that apply)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8c563f28_3d5e_4cde_b352_029b474e61c7</name>
        <label>Water Issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_b56b2b40_e789_4d01_b57d_f8c167630164</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f682dba4_cee9_4ac7_8183_b28fa005de68</name>
            <choiceReferences>c_3bbedeb2_e0ea_4a7b_80e5_0f2542c15fec</choiceReferences>
            <choiceReferences>c_7d03acb3_ef4e_4f0c_a836_a945206ea37b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you have any issues with the quality of your water?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</name>
        <label>Other water issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_9614d0a0_aabf_4ae8_a187_e9c95e1adc4f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5e699f29_2846_4384_a482_c1df285ea9a2</name>
            <choiceReferences>c_d07d17b2_32c7_4963_85d9_9408a61287ee</choiceReferences>
            <choiceReferences>c_f3cbde14_1419_42aa_a08a_ec24c05d4fe4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Are there other water or wastewater issues at your home?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_99cfdc2d_b245_4e4e_903f_28b623b5ab08</name>
        <label>Aerobic system amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_99cfdc2d_b245_4e4e_903f_28b623b5ab08</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5a1212d3_772c_40b6_be74_07fecb40869b</name>
            <choiceReferences>c_f1d7ba69_73cb_4d80_b51b_c65913ebfb77</choiceReferences>
            <choiceReferences>c_2803db23_64e8_4b3f_bfc8_ea7f9b4b15c2</choiceReferences>
            <choiceReferences>c_3c47a402_79b9_4e2d_89c6_efd821b3553f</choiceReferences>
            <choiceReferences>c_c627a001_eedf_4193_895c_cace23ecc228</choiceReferences>
            <choiceReferences>c_9d9965b7_a7d6_4f7d_896a_c010a11b3bdd</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Approximately how much do you spend per year on a service agreement?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a5e5f99a_d775_48b4_8590_8cb035681ac2</name>
        <label>No system agreement reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_8dadddc9_561c_4023_b5b8_48e86c22d6aa</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3e981a47_3ccc_4aae_8e1f_5b69bebc307a</name>
            <choiceReferences>c_a3e916a1_6b49_46fc_b9f6_abd821c405f0</choiceReferences>
            <choiceReferences>c_c4e4b008_9cea_41be_a854_6e94bde78755</choiceReferences>
            <choiceReferences>c_0f5dab93_4b59_4879_8761_5f525d3da39e</choiceReferences>
            <choiceReferences>c_1455ed35_69f3_4932_9b17_5259a9e11c44</choiceReferences>
            <choiceReferences>c_a3b0d2ce_1361_437e_b4fb_c813e6d06f71</choiceReferences>
            <choiceReferences>c_ab1fa3c3_9f4e_4cd6_86a0_d1127338723f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;For what reason(s) did you decide not to have a service agreement? (select all the apply)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_da213aae_cb76_4dee_8ced_2caa0c5e5236</name>
        <label>Aerobic system service agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_2e97e782_4c90_484b_be9b_6c3cda65ec94</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5fef7990_02a6_45f6_85d8_9ad6d69d283b</name>
            <choiceReferences>c_96ca43d5_adad_4648_9606_73c12a0592b4</choiceReferences>
            <choiceReferences>c_432c5ae8_0319_4738_b3a1_06f2c61df206</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you currently have a service agreement with a company to maintain your aerobic system?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e13e0b0f_9041_44e1_b01a_3ebb2a1a75df</name>
        <label>Rural Water</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_8d6da0fc_4c89_40af_8967_1e8e45ebee6a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_46584408_12a3_47e3_ad24_249c1c3493fd</name>
            <choiceReferences>c_d9636bec_49fe_4f7f_96b7_04622947bb3a</choiceReferences>
            <choiceReferences>c_847ae47a_545e_4d0f_b2b1_1e4fff6057f5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;If rural or public water is available would you like to be connected? (Y/N)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ecc60bce_4728_4fe9_9ab2_b62108d509ec</name>
        <label>Water Supply</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_221a5353_78de_405b_b6af_ea246a8ed24c</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2a0242fa_41ab_45af_a34c_ca2b0b1aa363</name>
            <choiceReferences>c_880e323b_b458_497e_bd06_36dd2c31e7fc</choiceReferences>
            <choiceReferences>c_7d777a4e_398a_469d_aa80_4fa3b69d3fa6</choiceReferences>
            <choiceReferences>c_49c690b3_e1e0_4cf7_96d3_8765409c4585</choiceReferences>
            <choiceReferences>c_cf4c39ab_1c9d_440a_9793_890f7b0913eb</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What type of water supply do you have?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f87087e0_34c6_43c6_97b0_ed31ee424328</name>
        <label>Jurisdiction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ecc60bce_4728_4fe9_9ab2_b62108d509ec</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_796bbb6b_1649_4f1d_80ee_d29ea225cd09</name>
            <choiceReferences>c_299c82e0_58c2_4062_9a82_53ff95332d91</choiceReferences>
            <choiceReferences>c_d1362a1d_d0b1_4a24_8399_2412baf08a76</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Do you live inside the Cherokee Reservation?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f98b92a7_935c_4cd0_979f_eb15dc982c80</name>
        <label>Have Water Tested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_e13e0b0f_9041_44e1_b01a_3ebb2a1a75df</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d9989ad4_4aa9_407d_bf1c_9e96e3220080</name>
            <choiceReferences>c_10d61904_fd72_4b88_b69e_90950159a6cc</choiceReferences>
            <choiceReferences>c_3b585bf7_9ff2_4962_a18a_14c2c368841e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Would you like to have your water tested at no cost to you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d7848c9a_5e9f_4c64_ae7b_8603e7b9581e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What is the best time to make contact to set up a water test?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d9989ad4_4aa9_407d_bf1c_9e96e3220080</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_10d61904_fd72_4b88_b69e_90950159a6cc</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_41137c33_335b_42d5_acbe_e2f7a48505b8</name>
            <choiceReferences>c_6ec4657b_6351_4d3b_b4d3_eed4aee49c06</choiceReferences>
            <choiceReferences>c_ecd0bf1f_eb1b_43e9_9fb0_e9913fa92b67</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What is your preferred method of contact?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d9989ad4_4aa9_407d_bf1c_9e96e3220080</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_10d61904_fd72_4b88_b69e_90950159a6cc</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_84b6e5b5_b4e6_45b9_8cd1_5bf4789b9707</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your email address.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Allowed Characters: Alphanumeric, period, underscore, hyphen.  Input must be in a valid email format.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_84b6e5b5_b4e6_45b9_8cd1_5bf4789b9707},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_41137c33_335b_42d5_acbe_e2f7a48505b8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_6ec4657b_6351_4d3b_b4d3_eed4aee49c06</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b542888e_8f65_4dfc_b5fe_5efc66b347bd</name>
            <choiceReferences>c_ee837246_b701_48b3_9e6b_3d1a98e0b7f8</choiceReferences>
            <choiceReferences>c_c06a6f44_3547_4ede_8c85_2ac21bb61266</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Is this a mobile phone or land line?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_41137c33_335b_42d5_acbe_e2f7a48505b8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ecd0bf1f_eb1b_43e9_9fb0_e9913fa92b67</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[2-9]{1}[0-9]{9}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3defdf37_42d0_4108_9109_880d7ea674a6</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter your phone number.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Phone must be 10 digits in length, shouldn&apos;t start with a 1 or 0, and can contain only numbers.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_3defdf37_42d0_4108_9109_880d7ea674a6},&quot;[2-9]{1}[0-9]{9}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_41137c33_335b_42d5_acbe_e2f7a48505b8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ecd0bf1f_eb1b_43e9_9fb0_e9913fa92b67</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_f87087e0_34c6_43c6_97b0_ed31ee424328</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for taking the time to complete this survey. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you have any questions about the survey, please email us: support-gadugiportal@cherokee.org&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We appreciate your input!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cn-publichealth--cndevsbgm--c.documentforce.com/file-asset-public/Seal_ReSized?oid=00D790000004ccY&amp;amp;v=1&quot; alt=&quot;Seal_ReSized&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We are currently assessing the water quality of our citizens. We&apos;d love to hear from you about what types of conditions you are experiencing. The survey should only take 5 minutes, and your responses are completely anonymous.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you have any questions about the survey, please email us: support-gadugiportal@cherokee.org&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We really appreciate your input!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
